---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Would you work for Gordon Ramsay?
published: 2008-05-25
next_item: /blog/2008/06/life-is-tough.html
previous_item: /blog/2008/05/six-months-on-rails.html
topics: geeky_stuff, pants_off_living
...
%article.col-3-4
  %h1 Would you work for Gordon Ramsay?
  %p So, despite being completely saturated by Gordon Ramsay, we still watch. Amid all the hype and excitement at our house about "Kitchen Nightmares" one question remains; would you work for him? I would -- here's why.
  %p 1. He has a foul temper, a foul mouth and suffers no fool.
  %p Ah, so do I. In fact I've made more project managers cry than any of the geeks know. Yeah, it's not a pretty stat and it's probably true that I'm a genuine arse-hole. There's no reason to take pride in a stat like that but I'm passionate about my work, I care about the outcomes, I'm opinionated and I believe that what I'm doing is "right".
  %p It's often taken for granted but working with people who care about what they do is one of the most rewarding benefits of healthy working environment. The passion created by people driven to work hard and do their work well can be contagious. Sure, it can also be poisonous, but I think that's a result of poor communication and expectation management rather than passion.
  %p 2. But he's a bully, Travo you hate bullies.
  %p I do hate bullies, I loathe and despise them. My experience tells me that while Ramsay is confronting, in-your-face aggressive and sometimes demeaning to the people he's there to help -- he's genuine about his intentions. Bullying as I've seen it is not so in-your-face. It's passive-aggressive, it's spiteful, bitter and manipulative.
  %p Ramsay doesn't operate in this way. He communicates what he expects up-front (sure, sometimes he doesn't -- he observes) and makes assertions about the outcomes.
  %p 3. Ask. Order. Explain. Order
  %p When I was a cadet, and after I had been awarded the rank of corporal after two weeks of training and drilling, I came back to my squadron and was told, "All you've learnt can be condensed in to Ask - Order - Explain - Order."
  %p
    WTF? Essentially the idea goes that, if you're working with people in a position of leadership, there are certain assumptions you can make about the context and environment you're working in. There should be trust and there should be a shared understanding about a common goal. You should be comfortable
    %em asking
    someone to perform an action.
  %p If that person fails to comply with your request, as you are in a position of leadership, you can order them to do it. This is of-course pretty much in the domain of the defence forces and people who hold official rank. If you were a chef in a kitchen it probably meant you bellowed your request louder. If you were a manager in an office, it probably meant you would ask again with a threat -- you fucking manipulative coward.
  %p Finally, if that person continues to fail to comply with your order an explanation is required. You need to communicate to them your expectations, you need to make the outcomes more clear, you probably need to give the over-all mission more clarity. Then you can repeat your order.
  %p What's not included in this cycle is the need to listen; the person you have just ordered to do something may need to provide you with some critical feedback as a leader, so you can adjust and modify your expectations and goals as a result of a change in the situation or environment.
  %p In a kitchen for example, your team may need to let you know that you're out of a certain ingredient. It's a micro-adjustment you need to make, based on feedback from your team. A good manager, I would expect should be capable of absorbing and adapting to these micro-adjustments without blowing a gasket.
  %p So yeah, I would work for Ramsay.
  %p
    I am passionate about my work, and I feel energised by people around me who
    %em also
    have passion for their work -- I don't feel threatened by those kind of people.
  %p As I get older I'm more open and less anxious about feedback and tuning -- acknowledging that you don't know everything is both horrifying and also comforting. If you're lucky enough to work with people who are willing to share their knowledge and experience with you, you'll soon take advantage of a collective knowledge.
  %p
    If people want to help you improve your skills, and you're open to it, you can only become better. I'm sure Ramsay's frustrations are mostly from people who are
    %em not
    open to improvement; he's essentially banging his head against a brick wall.
  %p It all makes for entertaining TV though doesn't it!.
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong
            %a{:href => "http://www.dolphinstreet.com", :rel => "nofollow", :title => "http://www.dolphinstreet.com"} Robert the Guitar Player from Dolphinstreet
          %br/
          %small 24 July 2008
        %dd
          %p I agree completely. I love Ramsay! Thing is, he knows what he's doing. He knows how make it work, and he tells people this. That is a good thing. I guess he could swear less, but he kinda gets his point across very easily. :)
          %p I would have no problem working for him. With him, you wouldn't have to guess if work is going well or not... he'll tell me!
  
%aside.col-1-4

