---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Bow Tie Bonanza
post_date: 2004-02-03
next_item: /blog/2004/11/welcome-would-a.html
previous_item: /blog/2003/11/new-tlc-for-kid.html
topics: old_blog
...
%article.col-3-4
  %h1 Bow Tie Bonanza
  %p
    This guy has nothin' on our Davey -
    %a{:href => "http://www.theage.com.au/articles/2004/02/02/1075570344799.html", :target => "_blank"} check out the story
    at The Age about a guy who has collected more than 200 bow ties.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
