---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: For your next corporate website...
published: 2005-12-16
next_item: /blog/2005/12/cricket-tragedy.html
previous_item: /blog/2005/12/movin-on-movin.html
topics: pants_off_living
...

  %h1 For your next corporate website...
  %p
    I hate cheesy stock photography used on corporate websites, when I see it I cringe. These images by
    %a{:href => "http://www.nwyhstockimages.com/"} Now Wash Your Hands
    are awesome. I can see these being used all over the place. Especially the
    = succeed "," do
      %a{:href => "http://www.nwyhstockimages.com/categorysearch.aspx?Categoryid=11&Category=Integrity"} Integrity
    %a{:href => "http://www.nwyhstockimages.com/categorysearch.aspx?Categoryid=2&Category=Team%20building"} Team Building
    and
    %a{:href => "http://www.nwyhstockimages.com/categorysearch.aspx?Categoryid=13&Category=Equal%20opportunities"} Equal Opportunity
    series.
  


