---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Movin' on, movin' up?
published: 2005-12-05
next_item: /blog/2005/12/for-your-next-c.html
previous_item: /blog/2005/11/mojo-the-sock-m.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Movin' on, movin' up?
  %p Given the excitement in Melbourne about Dylan at the moment I reckon my title should have some kind of 'Dylan-esque' ring to it. Like "A hot wind's gonna blow..." or "The Answer my friend is in the hard rain..." but really, they just suck. Badly.
  %p
    I've been playing for the last six weeks or so now with
    %a{:href => "http://www.diddleydaddies.com/"} The Diddley Daddies
    and have revelled the experience. Not only has playing with the guys been an absolute hoot, they've helped me get my 'stage fitness' back and sharpen my stage craft a little. Very important. I still may not be the greatest guitar player around, but funnily enough, when I shake my arse on stage now - people are actually watching, rather than looking away in horror!
  %p Some would argue that they've always watched; like you can't look away from a train wreck.
  %p
    Since about June, I've also been auditioning with
    = succeed "," do
      %a{:href => "http://www.heygringo.net"} Hey Gringo
    and while I've met some good guys and played some fine music. The experience has not been as great. It ended last night, and rather than air too much dirty laundry on the blog, those who want to know can always catch up with me for a beer...
  %p
    The best thing about last night was meeting
    = succeed "!" do
      %a{:href => "http://www.3aw.com.au/afternoon/Afternoons_music.htm"} Billy Pinnell
    The 3AW link is about the best I can find in short notice, but I rememeber listening to Billy rave about the kind of music that I love since I was a kid. He's very passionate about Melbourne Blues & Roots Music (one day can someone explain to me what that is) and is well respected by all the right people.
  %p
    Last night he came up to me after the set said that he enjoyed what I played. That is cool. Thanks Billy.
    %br/
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
