---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: "'Less Mass' = faster moving teams"
post_date: 2005-04-01
next_item: /blog/2005/04/phases.html
previous_item: /blog/2005/03/ipod-linux-so-d.html
topics: pants_off_living
...
%article.col-3-4
  %h1 'Less Mass' = faster moving teams
  %p
    I think Jason, from
    %a{:href => "http://www.37signals.com/"} 37 Signals
    is having an epiphany. He is touching on some ideas which are well established in the agile community. And as an observer from the outside of both parties, I like what I hear.
  %p
    %a{:href => "http://37signals.com/svn/archives2/2005/03/getting_real_le.php"} Getting Real: Less Mass
    is Jason's most recent post on this subject, and he is onto something.
  %p Unfortunately though, coming from a 'lightweight' group of developers, who can move quickly (and are often asked to move very quickly), it is very hard to work with a 'heavyweight' team of developers or organisation whose processes, technology and culture prevent the expediency required to move with trends; it's like trying motivate a stubborn burdened mule with up a hill.
  %p To my mind there is another aspect to this which involves account management / middle management and their ability to understand this problem. Management from either lightweight or heavyweight teams will need to have a strong understanding of the strengths of their respective teams and exploit their strengths appropriately.
  %p
    Is this too cryptic, drop me a line and let me know.
    %br/
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
