---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Phases
published: 2005-04-06
next_item: /blog/2005/04/tight.html
previous_item: /blog/2005/04/less-mass-faste.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Phases
  %p
    So, you may not already know this, but I play guitar. On my earliest and primary influences was
    = succeed "." do
      %a{:href => "http://www.ericclapton.com/"} Eric Clapton
    I can practically hear you gasping in horror!
  %p But wait, it's not that bad.
  %p Eric is an amazing interpreter and digest. And he has gone through some incredible phases, and his most recent "crotchety, angry, yet hopeful old geezer seeking redemption" is fantastic, although we don't really know it, we've been hoping something like it would come along.
  %p His earliest phase, "talented doey eyed git" saw him through the Yardbirds; "bastard genious" gave us the Blues Breakers years; "angsty experimental wasteoid" saw us through the Cream and into Blind Faith; "fucked up hippy, heroin chic, rock god" blessed us with Derek + the Dominoes (and frankly we're it not for the Duane Allman and others prodding Eric with a stick he would have never got up off the couch and recorded Layla); "rambling drunk" gave us 461 and the Slowhand years; "blow nose" squeaked his way through the 80's; "oh-my-god-thank-christ-I-don't-look-like-Ginger-I'm-gonna-wear-Armani" saw Eric scrub of nearly two decades of crust off himself and start looking into the future (it also saw him pairing off on 'dates' with some fine lookin' models, rockstars and movie stars) in the 90's.
  %p So now, after a couple of really soft projects punctuated by the goodness that was "...From the Cradle" we get the blistering and exciting return to form that is "crotchety, angry, yet hopeful old geezer seeking redemption" Eric playing freely, without any trepidation or pretention.
  %p Thank God. Welcome back to my playlist.
  
%aside.col-1-4

