---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Streamlining Content Delivery
published: 2005-04-20
next_item: /blog/2005/05/big-steps.html
previous_item: /blog/2005/04/tight.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Streamlining Content Delivery
  %p RSS and Podcasting these are great ways to streamline content delivery. It's pretty clear to anyone who's been browsing, using, and preparing content for the web for at least a few of years or so that these are a godsend. They streamline the delivery of information from the 100's of website's, blogs and hell knows what that we glance at everyday - hoping to stay on the cutting edge.
  %p
    So it is with great frustration,
    %a{:href => "http://en.wikipedia.org/wiki/Marketing"} that the industry
    I work in is so enamored with the idea of 'sexing up' the content delivery process.
  %p
    As far as I can tell, content is
    %em still
    king. If you focus on ensuring what you're publishing is great, then you'll attract an audience for it. If it's terrible, the people will vote with their virtual feet and give your content (blog, website, podcast) a miss.
  %p A marketing agency though surely should have a better chance at connecting with their audience since, duh, they usually have a good idea of who they're going to be preparing content for. More often than not a marketing / advertising agency are not trying to attract an audience as much as they're trying to sustain and grow and audience.
  %p Ever since I started working online it seems to me that people who are new to the internet experience are excited by the 'discovery' of content and will focus on the delivery / discovery of content as much as (if not more) than the content itself.
  %p Sure, discovery is interesting and fun, but I don't want have to rediscover stuff that I'm going to read every day. It just doesn't make sense. In fact, it annoys me, go away before I stab you in the neck with a pen.
  %p When I first moved to the city, sure - it was exciting taking the train into work. There was graffiti, people's back yards and strange people on the train to look at - huge fun. After a while though it pretty much loses it's excitement factor and you get over it. You just want to get to work to focus on the stuff that's really changing (after a while this doesn't change much either - but that's another post).
  %p So what do you think?
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
