---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Tight
published: 2005-04-14
next_item: /blog/2005/04/streamlining-co.html
previous_item: /blog/2005/04/phases.html
topics: pants_off_living
...

  %h1 Tight
  %p I love a tight rhythm section. When you're upfront wailing away and all of a sudden you can feel the drummer and bass player lock in; damn it just takes you to another level.
  %p
    My all-time favourite rhythm section would have to be
    %a{:href => "http://www.bumpcity.com/bandmembers/prestia.html"} Rocco Prestia
    and
    %a{:href => "http://www.bumpcity.com/bandmembers/garibaldi.html"} David Garibaldi
    from Tower Of Power. God Damn! These guys are good and they just make the horns soar.
  %p Interesting to note that Rocco and David are together again and that many of the original guys from Tower of Power are playing again - at some pretty premium gigs too!
  


