---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: I wanna be a microgenerator!
published: 2007-05-08
next_item: /blog/2007/05/jpg-magazine-rebels-against-its-parents.html
previous_item: /blog/2007/05/not-your-parents-album-release.html
topics: pants_off_living
...
%article.col-3-4
  %h1 I wanna be a microgenerator!
  %p
    Just got a chance to see an episode of Catalyst about
    = succeed "." do
      %a{:href => "http://www.abc.net.au/catalyst/stories/s1913536.htm"} Microgeneration
    Very, very interesting - it's a great example of how Flannery's book has had a massive impact on this country. It's should be distributed to every home in Australia.
  %p The premise of the article was about mass micro power generation - every home having some form of renewable power generation (usually solar) and using that for the household needs, surplus gets fed into the grid.
  %p This idea of course is not new, but I was surprised to learn that there are only 4000 homes in Australia which do this. That's hardly any.
  %p Read the article - it mentions the tariffs and incentives that exist in other countries such as Germany, where people are paid for the kilowatts that they feed back into the grid. In the long term this would provide a much better case for homes to consider installing solar panels than the single $4000 rebate.
  %p What would it take for you to become a microgenerator?
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
