---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: JPG Magazine rebels against its parents
post_date: 2007-05-16
next_item: /blog/2007/05/the-world-is-flat.html
previous_item: /blog/2007/05/i-wanna-be-a-microgenerator.html
topics: pants_off_living
...
%article.col-3-4
  %h1 JPG Magazine rebels against its parents
  %p
    I was a little sad for Derek and Heather Powazek when I read
    %a{:href => "http://powazek.com/posts/534"} their story of birth and separation from JPG Magazine
    yesterday. I'm still processing it (as will be everyone else over coming days, possibly weeks). It seems to me though that this is a clash of ideals - pre-dot-com versus post-dot-com.
  %p
    In short, Derek and Heather were founders, along with Paul Cloutier of a unique publishing company --
    %a{:href => "http://www.8020publishing.com/"} 8020 Publishing
    \-- which invited individuals to post material for a magazine of photographic material, the first six issues were compiled by them and published through Lulu .
  %p The opportunity came for those guys to scale up, and a revolution in social media and publishing was underway. If you've not heard about JPG Magazine in relation to Web 2.0, media and publishing, that's okay; it's been pretty significant but in a way that these revolutionary things are.
  %p But it seems that things have turned a little icky at 8020 Publishing.
  %p Derek and Heather are out, the history is being rewritten and in an ironic twist, the authenticity is being removed from an authentic content publishing house.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
