---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Not your parents album release
post_date: 2007-05-02
next_item: /blog/2007/05/i-wanna-be-a-microgenerator.html
previous_item: /blog/2007/03/geoff-achison-heads-west.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Not your parents album release
  %p
    I've been keeping an eye on the growing excitement around the release of Nine Inch Nails new Album "Year Zero". 37Signals have a
    %a{:href => "http://www.37signals.com/svn/posts/403-year-zero-project-the-way-a-viral-campaign-should-be-run"} great summary of the marketing techniques
    used to promote the release of this album.
  %p
    In all honesty, I'm still trying to put my finger on what it is that a record company needs to do these days to remain relevant. I think my old company and in particular the Hound-dog James Young, "got it" best when they realised that marketing and the surreptitious release of music or a band in the form of a brand is really a viable business idea (I'm not sure the success James had with the likes of Osterberg would warrant the suggestion that it was a viable business
    = succeed ")." do
      %em model
  %p Bands can still create a ground-swell on their own, but it takes an enormous amount of time and resources. Often these resources are people-based networks that the bands don't have access to, whereas marketing agencies, on the other hand, have strong networks that integrate not only strong industry links but also other brands associated with the agency.
  %p
    It's worth keeing an eye on James Young too, I hear
    = succeed "." do
      %a{:href => "http://www.see.com.au/blog/?p=1867"} he's moved on from SEE
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
