---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: The World Is Flat
published: 2007-05-29
next_item: /blog/2007/06/life-on-the-street.html
previous_item: /blog/2007/05/jpg-magazine-rebels-against-its-parents.html
topics: pants_off_living
...
%h1 The World Is Flat
%p
  One of the most interesting books I read last year was Tomas Friedman's "
  %a{:href => "http://www.amazon.com/World-Flat-Updated-Expanded-Twenty-first/dp/0374292795/"}> The World Is Flat
  ". And since a whole bunch of my longtime-listeners have been raving about some other recent recommendations, I thought I'd shove this out there for them.
%p This was definitely one of the most optimistic books I've read recently. Friedman writes excitedly and openly about the changing nature of business, economics, trade, employment and (most of all) technology in what he calls "the fourth flattening" (I think, if I remember correctly, and I usually don't).
%p It's also a great book to read if you're afraid of losing your job (or business) to India and China as a result of out-sourcing; if you're smart, you won't. There are many reasons to be excited about being an Australian, and there are a few answers to my recent questions about me and my buddies not being entrepreneurial enough.
%p The "entrepreneurial" factor may be important for Australia in the future. We should do the best we can to re-ignite our "can do" ethos. I think it might mean the difference between us being left behind and becoming a cheap labour force of our own and really making it in the flat world.

