---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Back to work
published: 2011-01-28
next_item: /blog/2011/09/ownership.html
previous_item: /blog/2011/01/erics-words.html
topics: geeky_stuff, pants_off_living
...
%article.col-3-4
  %h1 Back to work
  %p It is only after 10 months of being at home and then returning to work that you get an insight the striking separation that exists between office work and well, domestic bliss.
  %p As I sat stupefied at my desk with an extremely patient pair, I certainly felt a deep sadness. I really felt like I was in the wrong place. I missed my son very much — especially having just left him in childcare begging for me not to leave.
  %p There are three aspects of staying at home that I found challenging, enjoyable, rewarding and distinct from office work. At home: it's physical, it's emotional and it is social at a community level. Office work is sedentary, intellectual and "interpersonal".
  %p I loved the physicality of being at home. There is really so much to do, all the classic chores — cooking, cleaning, washing — some of which you have to do while carrying a toddler. Plus there are the extra-curricular activities that you do to entertain a toddler — visits to the pool, the park, the zoo, the library and the museum. AND there are the myriad ways of getting there — walk, bike, tram, train. Huge fun.
  %p Looking after a baby / toddler is also emotional because you have to connect with them at a really subconscious level. You have to know when they would need a drink, need something to eat, need to have a nap. Sure, after a while, routine helps to make these things less instinctive, but in the early days you're really just trying to tune into their needs. In time those signals become much clearer and you respond instinctively.
  %p Being part of the community and spending time with our playgroup was indeed one of the highlights of staying at home. It was also a huge saviour from the unexpected isolation and loneliness.
  %p I kept taking Eric to my wife's mothers group when I took over and I am really grateful to have met such a lovely bunch of women (and fathers). So many experiences are shared, but there is so much to discuss as well since all the kids grew and developed in their own unique ways. Having a thoughtful group of people to discuss these experiences with was a relief and a lot of fun.
  %p It was also great to spend heaps of time at our local coffee shop meeting people from the neighbourhood — more women and children of course. From these exchanges you get to know people gradually and after a while, there are much less strangers in the neighbourhood.
  %p There's no doubt about office work being sedentary, no doubt about the demand on our intellect. Yet, the social nature of office work is quite different than what you experience in the neighbourhood.
  %p I'm still trying to put my finger on that difference. There's a certain amount of propriety in an office. I guess it provides a structure that helps ensure long term stability. With that social stability in place it provides the foundation for productivity. Nothing is more disruptive in an office than in-fighting and bullying as examples of anti-social behaviour.
  %p I guess too, that we maintain our propriety to keep our colleagues at arms distance. The scope of our relationships are focused on work and our shared interests based around work and the skills we bring to our work. Occasionally though (and my wife is especially good at this) we find that those shared interests extend beyond our work and into our "outside" lives in these instances, real friendships grow. I find this difficult, yet I am grateful though to have met many fantastic people in the workplace.
  %p I don't mean to have painted a bleak picture. I've only been back a couple of days: I'm lucky to have the support of my colleagues and I'm also lucky to be working on good project with some good guys.
  %p I have returned to the adult realm, my life having been transformed forever.
  
%aside.col-1-4

