---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Eric's Words
published: 2011-01-15
next_item: /blog/2011/01/back-to-work.html
previous_item: /blog/2011/01/the-cult-of-efficiency.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Eric's Words
  %p I can't begin to tell you how delighted I am that Eric is a highly verbal and expressive kid. What ever Meli and I are doing is certainly nurturing his nature. He is our son after all and that makes him equal parts bookish and expressive, if not downright cheeky!
  %p When he was nearly 15 months, I wrote down all of his words (in no particular order);
  %blockquote star, car, ham, duck, dog, pea, bus, poo, shoes, sock, cup, hand, ball, bowl, butterfly (buuuh), bee, bee-aaah (cat), stick, light, park, box, mum, dad, croc, drag (dragon).
  %p
    %br/
    These 25 words or so were a perfect reflection of the things around him, the things we read, the things we ate, the things we did and the things that interested him.
  %p Five months later I attempted to capture his words at 19 1/2 months old. It's not easy, because it's expanding at a rapid rate. Here's what I got down;
  %blockquote draw, pad, phone, box, bucket, bowl, plate, chair sit, book, guitar, pants, spoon, fork, mix, dance, TV, blocks, see-saw, pram, keys, door, nap[py] bus, bat, tree, flower, grass, sand, bath, ear, mouth, hair, chin, feet, toe, leg, arm, eye, neck, head, hat, tum, doodie, bum, poo, pee, more, flap, floor, [dim-]sum, pond, chomp, bat, gone, fall, broken, all, bag, tea, cup, come, here, mine, stop, wait, hey, fun, inside, outside, up, down, open, close, drink, milk, strawb[erry], egg, meat, play, no, park, slide, swing, eat, grape, gram (grandma), grump (grandpa), roll, bun[ny], climb, cream, cool, frog, horse, cat, dog, pig, bear, ma (Jemima), dragon, fish, bee, bird, duck, Hump[ty], bear, pot, buzz, tap, bub[ble], giraffe, tray, tea, ballon, see, sun, moon, towel, button, ball, rain, wet, cook, pan, Tom, square, queen, green, blue, red, plane, train, tram, bus, beep, okay, glove, [orangu]tang, dolphin, done, hen, hat, hug, bib, bed, light, on, pea, milk, guy, straw, talk, walk, one, two, three, four, five, six, seven, eight, nine, ten, dip, teeth, comb, bean, please, broccoli, apple, plum, orange, fox, jug, cup, stuck, again, pen, baby, game, ted, burp, pardon, ah-huh, no, okay, red, blue, black, white, brown.
  %p
    %br/
    It doesn't seem like much, but that's nearly 200 words. As a parent with a toddler, that simply makes our lives infinitely easier. What these words only partly reflect is the conceptual stuff that Eric understands — which is way beyond his vocabulary. Simply put, we can ask him questions and he can say "ah-huh" or "no".
  %p If the first words you can encourage your child to speak are an affirmative or a negative, be they "yes", "no", "yup", "nah" or whatever, it'll make your life a whole lot easier. I realise that I lot of kids learn "no" first, I guess we're lucky that Eric understood them both pretty early.
  %p What's especially interesting is the impact that Meli and I have had on his language during the holiday break while we've both been around.
  %p We've been able to encourage his manners more — instead of standing at our feet and saying "UP UP!", he now stands at our feet and pleads "Up, pleeease." He is forming a strong conceptual understanding of "Please" and what it means for getting stuff or simply bossing people around. He's coupling it with a bunch of his verbs; "Down please", "Sit please", "Draw please". In all of these cases these are things he wants Meli or I do to — put him down, sit with him, or draw for him. We're delighted that he's bossy.
  %p Eric is coupling a lot more than his verbs and is very actively working on describing things; "Red car" and "Big train".
  %p The coolest word though and the one I'm most proud to hear him say — his name, Eric.
  
%aside.col-1-4

