---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: The Cult of Efficiency
published: 2011-01-11
next_item: /blog/2011/01/erics-words.html
previous_item: /blog/2010/03/in-stereo.html
topics: geeky_stuff, pants_off_living
...

  %h1 The Cult of Efficiency
  %p I find this a difficult argument to make — no one wants to suggest that you're at work to goof-off, dabble or muck around — but, the cult of efficiency and productivity has excluded those who need more time to digest ideas, understand problems, explore options and engage with colleagues.
  %p I'm personally affronted because I have been tagged as being "distracted by shiny objects". This label is meant to mean that when I am working or pairing, I am unable to focus on the task at hand — that I am distracted by problems outside the scope of the story. While I'm sure it's an amusing and convenient label for my colleagues to apply, I don't think they've taken the time to consider why I might be distracted.
  %p Two quick ideas come to mind; boredom and lack of discipline. Obviously some stories are just so trivial that to stave off boredom you go looking for other things to do for stimulation. Really though, this is an expression of a lack of discipline.
  %p You must practice software development with discipline. I have encountered this so consistently whilst working with Cogent. Being disciplined won't guarantee you success but it will ensure that you have a consistent stack trace of behaviour to review if you fail.
  %p Retros and stand-ups are other instances where I find myself being chastised for not conforming to the cult of efficiency's code. It's usually because I tend to ask questions regarding the notes placed on the board.
  %p Retros aren't straight forward. The abundance of literature surrounding retros supports this. Retros are meant to be outcome focused, there can often be so many issues and ideas gathered during a retro that you may not get an opportunity to speak them. In those cases the group decides that the issue simply isn't important enough, and should be disregarded. Yet it was important enough for the individual to raise it, sometimes it's not easy to abandon those thoughts.
  %p Three things can happen when you place an item on the board during a retro; the whole team goes "YEAH" — there is a shared understanding of your item or, the team goes "HUH?" — what you've placed on the board is entirely out of left field and all are happy to wait for you to explain it later and finally, "MEH" — no one really cares.
  %p I find that I often like to ask a quick question about an item for some context. This is when the retro bullies start tut-tutting — "You must wait until later." I find this incredibly frustrating. By no means to I wish to impede the flow of a retro, but sheesh.
  %p I don't think that in this instance, lack discipline is entirely the case, but a personal difference (defiance perhaps) which seeks some conversation and affiliation during a retro. Many I have attended have become sterile and rushed — often a chore that folks participate in by obligation rather than genuine interest.
  %p Conducting a retro is something practiced by all at Cogent, ensuring that junior consultants get a chance at running them. I think though, that our senior and more experienced consultants need to work harder to bring something special to the table to ensure that retros are useful and engaging.
  %p
    I started this post rallying against the cult of efficiency and wound up identifying my own lack of discipline and different needs within the group. I'm certain that there is a pervasive cult, I just need to gather more evidence.
    %br/
  


