---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Big Steps
published: 2005-05-09
next_item: /blog/2005/05/frampton-still.html
previous_item: /blog/2005/04/streamlining-co.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Big Steps
  %p My girlfriend and I have an important announcement, we're making an important and significant step in our relationship. More important than our trip abroad (to China) later in the year. We've got a cat.
  %p Yup. You know you're embarking on a serious and solidifying stage of your relationship when you and your girlfriend settle on a pet.
  %p
    You may have already seen the
    = succeed "," do
      %a{:href => "http://www.prozacblues.com/images/home/h_travPixel.jpg"} photo on the homepage
    you can also check out a
    %a{:href => "http://www.prozacblues.com/travo/images/travAndPixel.jpg"} couple
    of
    %a{:href => "http://www.prozacblues.com/travo/images/meliAndPixel.jpg"} extra
    pic's that we took this evening. She's pretty damn cute. She's a weenie little tortoiseshell. Meli and I picked her out from a whole bunch of cats - young and old - at the Lort Smith Animal Hospital.
  %p
    And BTW, thanks heaps to the Lort Smith - they were great. Very helpful and friendly staff who care heaps about the poor discarded little kitty's. And what a broad bunch o' kitties; there was the strung out one from Coburg who had been doused with
    %em dog
    liquid flea repellant (which makes cats fit and get sick) - it had a shaved bit on it's leg where they had given it relaxants. Then there was the older cats who had out lasted their owners. Despite reports, there was also a ton of little kittens. Damn! But we settled on our kitty, who is about a year old and appears to have been abandoned.
  %p So, now that you're past is behind you (Broadmeadows Bunnings carpark and bin scraps) - welcome to the family Pixel.
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong
            %a{:href => "http://polydistortion.net/monkey/", :rel => "nofollow", :title => "http://polydistortion.net/monkey/"} cos
          %br/
          %small 10 May 2005
        %dd
          %p Onya (especially for getting a cat from there, rather than just going down to the local pet shop). Should we be expecting to see lots of pictures posted to the "I love my cat" group on flickr? ;)
  
%aside.col-1-4

