---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Frampton; still alive. Less hair.
post_date: 2005-05-16
next_item: /blog/2005/05/the-hunt.html
previous_item: /blog/2005/05/big-steps.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Frampton; still alive. Less hair.
  %p Many, many thanks to Tike. I was privileged enough on Saturday night to meet the sound engineer for Peter Frampton and get a tour of the entire rig including Frampton's guitars. Yup, I even got to get my greasy mits on a couple of them.
  %p Pretty damn amazing. He has a trio of Les Paul's, a non-fender Strat and some damn tasty acoustics. One of his Les Paul's had an amazing bridge setup which was an electronically controlled system which could re-tension / adjust tuning within a split second. It increased the weight of the Les by at least another kilo and a half, and cost about $10K to fit! Peter played it on the night for one song only. Started off in normal tuning, and for about 16 bars (maybe less) switched it to open G tuning, for a very average slide solo, and then back again to finish off the song. Still, a very cool guitar.
  %p I also got to learn whole bunch about in-ear monitor systems thanks to Tike. I admit to a whole heap of ignorance on the subject, but I got a great overview of the process and techniques involved in setting up the system - very cool and very interesting. I tried to explain it to people, but their eyes glazed over - so I'm not even gonna try to explain it here. Mail me if you're desperate.
  %p The show was good too. Frampton is fairly self deprecating on stage and is warm with his fans, he remains a fairly tasteful guitarist. His songs are not exactly my cup of tea, but that's okay. Oh God, just remembered, his keyboard player is woeful. Sorry dude, but sheesh, get some flavour! Drummer was tight, bass player was mmmnnnyyyaaa but is apparently a mate of Framptons from the old days.
  %p Anyhoo, thanks to Helena and Shawn for hookin' me up with Tike and huge, huge thanks to Tike for his time, tickets and the tour of the system. I hope that you enjoyed what little you saw of Melbourne.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
