---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: The Hunt
published: 2005-05-20
next_item: /blog/2005/06/best-shopping-e.html
previous_item: /blog/2005/05/frampton-still.html
topics: pants_off_living
...

  %h1 The Hunt
  %p
    A few weeks ago, I heard a couple of killer tracks on Woody McDonald's show 'Wig Wham Bam' on
    = succeed "." do
      %a{:href => "http;//www.rrr.org.au/"} RRR
    I will now refer to this as 'having picked up the scent' because since then, I have been on the hunt for the albums that these tracks appear on.
  %p I am realising that without the need to track, hunt and kill wild animals for food, there still remains a dark part of my psyche that is yearning for fulfillment. And, thanks to the commercial / capitalist world we live in, it has found it in commerce.
  %p Really, the music / CD / DVD or whatever, is just an excuse to take one of your poisioned plastic cards and swipe it deftly through the heart of a trembling retailer, and leave triumphantly with your prize.
  %p "Ha HA", you exclaim. "I have wealth, and I'm not afraid to use it."
  %p Though, I remember not so long ago when I was just another scavenging, slobbering fiscal weakling, swooning around at the bulging stench-filled carcass of a great heaving supermarket, sifting through coins just hoping to score a bargain.
  %p Anyhoo, Tally-Ho! I'm going out to pay much more than recommended retail for music; just because I can!
  


