---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Barbershop
published: 2002-10-03
next_item: /blog/2002/10/wild-bills.html
previous_item: /blog/2002/10/tourism-and-sur.html
topics: blues_highway
...

  %h1 Barbershop
  %p After hanging around downtown for much of Saturday (28th September - just incase your getting lost), and having the best ribs I've ever tasted for lunch - god help me I'm getting addicted to ribs. I went to go and see the new Ice Cube movie Barbershop. It's a pretty cool story about a guy who is struggling to manage the barbershop he inherited from his old man. In a day where drama and hilarity ensues our hero learns that his barbershop is the cornerstone of his community and has to fight to keep it.
  %p After the movie I went to do my laundry. I had checked out the Days Inn Riverbluff hotel and got myself a room, though had left my luggage in the car so, on the off chance that I found a laundry open in the 'burbs on a Saturday night I'd at least be able to get the old bangers clean.
  %p Sho' nuff, there was one open.
  %p Now, having got that shit out of the way it was time to head for Wild Bills. When I got there it was after 9pm and I was surprised to find that the barbershop was still open. My ol' goatee had really started to get unwieldy so I decided to pop my head in and see if the barber could make me look a little more respectable.
  %p Cool. Now I have a goatee shaped and moulded just like any other bad-assed dude from the 'hood.
  


