---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Beale Ain't Real
post_date: 2002-10-03
next_item: /blog/2002/10/grand-final-tim.html
previous_item: /blog/2002/10/recon-to-wild-b.html
topics: blues_highway
...
%article.col-3-4
  %h1 Beale Ain't Real
  %p Well maybe it used to be...but it ain't no more.  Hell, there's even a bluesman who plays on the street outside of one of the clubs whom I overheard tellin' tourists "Nope, there ain't no blues here on Beale Street no mo'".
  %p That's a damn shame. There is heaps of neon, lots of clubs, drinkin' in the streets and lots o' white folk. But the bands don't play too much blues, well, honest blues, and there is far too much variety in beer at the bars to call them jukes.
  %p Hell, that's not to say it isn't without it's charm. There are still some people out here tryin to lift themselves up and make a go of it. Like the half dozen or so ultra fit black kids who tumble, back flip and sumersault their way along the street for money. They are really something to see.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
