---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Clarksdale, Mississippi
published: 2002-10-09
next_item: /blog/2002/10/clarksdale-tupe.html
previous_item: /blog/2002/10/helena-arkansas.html
topics: blues_highway
...

  %h1 Clarksdale, Mississippi
  %p Now we're talkin' poor. Not to say it ain't rich in blues history. But you can tell what the biggest businesses in Clarsdale still are; Cotton and Law.  As with all of these tiny little towns - the biggest buildings are still the courts and the wealthiest businesses are the ones selling farming equipment.
  %p I went straight to the Delta Blues Museum - Now this is great. It's very much an established and working version of what they're working on in Soulsville.
  %p There is a great exhibit and many fantastic blues artifacts and pictures. What is most tragic is that, within the orginal boards of Muddy Waters cotton field shack, there sits a life-size rubber statue of Muddy Waters and in his hands is a gold-top Gibson Les Paul, soap-bars and everything. What a horrible waste of a fantastic guitar.  It breaks my heart.
  %p Right next to the Museum, in fact in the same building is a Blues Music Workshop, where they have a studio and instruments to teach the local children how to play the blues, read music and perform in front of people. It's really great.
  %p I hung out and watched the children jam. They swap instruments and take a break and run around and generally have a great time. At one point no-one was playin' bass - so I asked if I could pick it up and fill in the bottom end while they kept jammin.  It was a whole lot of fun. Thanks to those guys, it really was a pleasure.
  %p There was a sweet little black girl there, barely 12 who was playing drums and keeping really good time. It was good to see there were still gifted folk still kickin' around the delta. With the Museum they actually might get a chance at greatness.
  


