---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Clarksdale - Tupelo - Memphis
published: 2002-10-09
next_item: /blog/2002/10/memphis-nashvil.html
previous_item: /blog/2002/10/clarksdale-miss.html
topics: blues_highway
...
%article.col-3-4
  %h1 Clarksdale - Tupelo - Memphis
  %p After spending the night at the Hampton Inn in Clarksdale (I was far too sooky to stay at the historically important Riverside Hotel where Bessie Smith died) I found my way to the Clarksdale Library and spent as much time as I could there dumping journal entries into the blog before I got kicked out.
  %p It was time to go cruising. I had looked at the map and wanted to find a nice round trip that would see me doing a loop back to Memphis, rather than driving as far down Highway 61 as I could and then turning back. Where's the fun in that?
  %p After driving to Tupelo, I was having second thoughts. I expected Tupelo to be kinda nice, and it is - it's just that it's a whole lot bigger and wealthier than I had expected. I guess I was a little disappointed not to find a run-down Mississippi town. You actually get the feeling that you're not in the Delta anymore - there are no cotton fields and there are heaps less black folk.
  %p After a quick polk around, I cruised on back to Memphis. Checked myself into a dumpy downtown hotel and went to the movies to see the delightful Jackie Chan in his new film 'Tuxedo' - grrrowl - how about that Jennifer Love Hewit?
  
%aside.col-1-4

