---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Consignment Music
published: 2002-10-03
next_item: /blog/2002/10/recon-to-wild-b.html
previous_item: /blog/2002/10/mud-island-aint.html
topics: blues_highway
...

  %h1 Consignment Music
  %p I had already asked a couple of locals about where I'd find a good music store with some vintage gear, apparently Consignment Music was the way to go.
  %p So I crusied out there late in the afternoon and had a look around. It's pretty cool. Not as big, by half, as the other music stores I've seen though, unlike the others, very real. It gave me a sense of what Maken Music would have been like, given about $500,000 worth of funding and all the other stuff that makes a business work. Don't get me wrong though, this place was still pretty loose, and the same kinda jack-ass customers hanging around trying to get shit for free.
  %p What can one say - tight-arse, stingy, financially inept musicians are universal. ;-)
  


