---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Days Inn Graceland
published: 2002-10-06
next_item: /blog/2002/10/graceland.html
previous_item: /blog/2002/10/the-rev-al-gree.html
topics: blues_highway
...
%article.col-3-4
  %h1 Days Inn Graceland
  %p The only appropriate place to stay (other than the exorbitantly priced Graceland Hotel - owned by Elvis Presley Enterprises) was the slightly dodgy Days Inn Graceland.
  %p This hotel, while owned by the same chain from the night before, was a marked improvement on my previous nights experience. For a start - I got a room to my self.
  %p Cheesy pink paint and dodgy wallpaper abound, a piping hot Dominoes Pizza ensured that I was going to be in good stead for my trip to Graceland.
  
%aside.col-1-4

