---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Days Inn at the Riverbluff
published: 2002-10-04
next_item: /blog/2002/10/the-rev-al-gree.html
previous_item: /blog/2002/10/wild-bills.html
topics: blues_highway
...

  %h1 Days Inn at the Riverbluff
  %p The Days Inn is one of the poorer hotel chains. Here in Memphis they have a hotel which has a hostel almost in the basement - I had been out there to get myself a room earlier in the afternoon and it was not pretty.
  %p I was gonna be sharing a room with at least three others. There were two bunk beds. And on each bunk there were blowup rubber mattresses. We had sheet's and blankets thank god but I couldn't help but laugh. Blow up mattresses.
  %p After I'd been to WB's I got back to the Riverbluff at about 2am - I know that I really needed to get some sleep since I had to get up early, check out and get to Church. So I crawled into a top bunk and went to sleepy-bo-bo-land.
  %p At about 4.30-5am, my sleep was rudely interrupted when a bus load of folk came back - they'd probably been on Beale Street. My room door opened and in walked one of my room-mates...and a chick.
  %p She quietly complained that I had taken her bed...hell I didn't care, I knew they came in and all, but as far as they were concerned I was still sleepin' I was keepin' still and had no intentions of movin'.
  %p It didn't matter anyway, this couple proceeded to get down and get heavy - right on the bed below me!
  %p Squeak...Squeak...Squeak. Went the rubber mattress.  I had to bite my lip to stop from gigglin'.
  %p Then things started to get serious. Sque-sque-sque-sque-sque... then they had to stop. And then I heard it. She says to him, "you got a little stagefright?" I so hope they didn't hear me snort. That was funny as.
  %p They kept at it though - after a little break, he got at it again. What a tryer. Squeak...squeak...sque.sque.sque.sque.sque. Moan. Unbelieveable.
  %p It stopped and I managed to get a few more hours sleep.
  %p I got up in the mornin' at about 9.30am, showered, crept out of the room, checked out and left the Days Inn Riverbluff with my wheels spinnin' - I seriously needed to get some Churchin' up and get the sins of that fornicatin' couple exorcised from my fragile little mind.
  


