---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Ellens Soul Food
published: 2002-10-03
next_item: /blog/2002/10/mud-island-aint.html
previous_item: /blog/2002/10/gibson-guitar-f.html
topics: blues_highway
...
%article.col-3-4
  %h1 Ellens Soul Food
  %p God help me if I'm becoming addicted to soul food - yummy, yummy, yummy.  Generous tasty helpings of catfish with sides of string beans and black-eyed peas, served with a delicious plate of cornbread. MMMMMmmmm...cornbread.
  %p After I finally checked into my hotel, I found my way out to Ellens, in the rain, at night.  Memphis is a big town - it's really spread out. So it wasn't without a little apprehension that I made my way out into the darkest reaches of the 'burbs.
  %p Man the trip was worth it though. A tiny little soul food cafe, a few locals enjoying some catfish and pork chops. The wrestlin' on the TV... heaven.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
