---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Gibson Guitar Factory and the Rock and Soul Museum
published: 2002-10-02
next_item: /blog/2002/10/ellens-soul-foo.html
previous_item: /blog/2002/10/the-concierge.html
topics: blues_highway
...

  %h1 Gibson Guitar Factory and the Rock and Soul Museum
  %p Once I had my wheels, I was free to get around and (apart from learning to drive, in the States, in the wet) find some things to see.
  %p I found the Gibson Guitar Factory in Memphis.
  %p More shiny guitars than you can poke a stick at. Oh God, I was like a kid in a candy store. It was really something to behold. Much of the instruments are still hand built, while much of the cutting and templating is prepared on a jig, heaps of the work is still done by hand.
  %p The Rock and Soul museum is within the same building as the Gibson Guitar factory and it is a really good exhibit. In fact, it is supported and was set up with assistance from Smithsonian.
  %p There are heaps of artifacts, rock and soul relics, in fact, after seeing Graceland also, (more on that later) I realised where all the real relic and vintage guitars have wound up...Yup, it's a damn shame.
  


