---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Graceland.
post_date: 2002-10-06
next_item: /blog/2002/10/soulsville.html
previous_item: /blog/2002/10/days-inn-gracel.html
topics: blues_highway
...
%article.col-3-4
  %h1 Graceland.
  %p Everything you've heard about Graceland is true, whatever you've heard - it's all that and more.  Plus, if it weren't for the dozen buddist monks who were there sightseeing and taking the tour - it wouldn't have been half as much fun!
  %p Wow.
  %p The expediency of the tour-guides as they shuttle you from across Elvis Presley Boulevard through the front gates and upto the mansion front door is breathtaking, it continues all the way through the house. Once through the house, though (because everyone wants to gape and linger, standing jaw agape at the hideousness of the pool room or the gawdy splendor of the Jungle Room) you are free to wander around the rest of the estate.
  %p Cleverly enough, the journey from the front of the house to the 'Reflection Garden' where Elvis and his folks are laid six feet under is more or less constructed as an interesting and intriguing narrative around Elvis' life and music.
  %p I'm sure this was not lost on the Buddists. Although, you might have well fed almost every other tourist lies and conspiracy theories and they would have sniffed and wept all the same.
  %p I saw everything. I got the delux ticket.  Graceland, The Automobile Museum, Sincerely Elvis Theatre and the Lisa Maree Jet.  And, for each one there was a gift shop. There were so many gift shops, there were almost gift shops for the gift shops. I was lucky to escape Elvis Presley Enterprises, but I did and went looking for Soulsville.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
