---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Grand Final Time
post_date: 2002-10-03
next_item: /blog/2002/10/tourism-and-sur.html
previous_item: /blog/2002/10/beale-aint-real.html
topics: blues_highway
...
%article.col-3-4
  %h1 Grand Final Time
  %p After wandering around Beale Street I spent the evenin' at the Irish bar least concealing the fact that it's part of a franchise; McGuinness'. Sat there all night drinkin' pints and watchin the footy.
  %p Thank God the Brions won.
  %p
    My sentiments are equally well captured at the home of football* Ian's Footy Frenzy -
    %a{:href => "http://www.iansfootyfrenzy.com/", :target => "blank"} www.iansfootyfrenzy.com
    If you haven't subscribed. Subscribe for season 2003. Read all the fascinating and insightful articles from 2002. Watch a grown man spiral into a blithering wreck as his beloved Carlton get the wooden spoon.
  %p God Ian, I can't believe I'm here in the States promoting the Frenzy still!  Don't worry, I'll be around for some more of your Mums fine Nanna Chops...and no, for all those reading there is no double-entendre intended here. Ian's Mum cooks a fine serve of baked chops.
  %p
  %p *Not really the "home of football". It is acknowledged that the "Home of Football" was aquired by the AFL during the buyout of television rights to the broadcast of the football during the 2000-2001 negotiations with Channel Seven.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
