---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Helena, Arkansas - Library and Museum.
published: 2002-10-09
next_item: /blog/2002/10/clarksdale-miss.html
previous_item: /blog/2002/10/nashville-home.html
topics: blues_highway
...
%article.col-3-4
  %h1 Helena, Arkansas - Library and Museum.
  %p After my stay at the Casino, I cruised back into Helena to have a look around and check out the Museum and to use the Library for free internet access.
  %p Now, city Museums out here in the Mid South aren't really that much to speak of if you ask me. Most of them are filled up, still, with ageing civil war relics and crumbling native american artifacts. They're pretty sad. This museum did have some great Thomas Edison artifacts, which were a treat to see, there were a few bits and bobs from his workshop and a few early examples of the phonograph and telegraph.
  %p I went to get online and found myself sitting next to some trailer trash chick who was using the library computer to check out personals sites. Really dodgy personals sites.
  %p When she found some posting or submission to the personals that she liked - she'd let out a little squeal and wave her hand in the air, "Oh, Lord!".  Then she'd quickly look around hoping that she hadn't attracted the attention of the librarian. I caught a glimpse of what she'd found and it was obviously a fake, there was a picture of some dark-skinned wash-board-ab's adonis with long flowing hair - obviously cut and scanned out of a magazine. None the less, it was enough to fool and this moron and keep her pants wet for the rest of the day.
  %p Yeah, ewwwww.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
