---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Highway 49 to Helena, Arkansas
published: 2002-10-06
next_item: /blog/2002/10/nashville-home.html
previous_item: /blog/2002/10/highway-61-to-t.html
topics: blues_highway
...
%article.col-3-4
  %h1 Highway 49 to Helena, Arkansas
  %p It's only a short drive from 61, across the Mississippi to Helena. Such a nice little town. A shadow of it's former self. It's really run down and decrepid. Some of it could actually pass for 'Old Gippstown' in Moe, Latrobe Valley. Really. But there are still a few large buildings, which suggest there is still some relative economic structure and community here in place to keep the town alive. Barely.
  %p I did a quick cruise downtown and found the Shop and Office that the King Biscuit Festival is being run out of - there are some nice folk there who gave me the low down on what was going on and where I could spend the night.
  %p Seemed the cheapest rooms were just back across the Mississippi at the Isle of Capri casino.
  
%aside.col-1-4

