---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Highway 61 to Tunica - blink and you'll miss it.
post_date: 2002-10-06
next_item: /blog/2002/10/highway-49-to-h.html
previous_item: /blog/2002/10/soulsville.html
topics: blues_highway
...
%article.col-3-4
  %h1 Highway 61 to Tunica - blink and you'll miss it.
  %p After a visit to yet another enormous guitar and music store (apparently the largest independent instrument and live audio retailer in the states) Strings and Things, oh, and a feed of BBQ - yum. I made my way out on the blues highway looking for Tunica.
  %p I guess I'll have to look harder next time, I was well and truly on my way down the road before I realised that I'd missed it and just about missed the turn-off onto Highway 49 to Helena, Arkansas as well.
  %p There are a stack of casino's just outta Memphis and on the blues highway in Mississippi. They're all 'in Tunica' but there was no obvious turn off to get to the historical downtown Tunica.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
