---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: King Biscuit - I made it!
published: 2002-10-12
next_item: /blog/2002/10/king-biscuit-mi.html
previous_item: /blog/2002/10/nashville-the-h.html
topics: blues_highway
...
%h1 King Biscuit - I made it!
%p Thank god - nearly thought I wouldn't, was stressed about getting an SUV (4WD) which I could lay out in the back of for cheap accomodation, and, if I couldn't get an SUV, I was stressed about getting from Memphis to Helena, then finding somewhere to sleep.
%p When I took the taxi to the airport to pick up my car, I was assured by the taxi driver that he could have driven me out to Helena - hell, the even have the rates printed up in the taxi - the paultry sum of $150. That's not even return, hell I rented my car and have accomodation for just over $250.

