---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: King Biscuit - The Music
published: 2002-10-12
next_item: /blog/2002/10/riding-to-new-o.html
previous_item: /blog/2002/10/king-biscuit-mi.html
topics: blues_highway
...
%article.col-3-4
  %h1 King Biscuit - The Music
  %p So far I've only seen day one - Thursday, and it's been a treat. I was a little apprehensive early on, since the mix was terrible and the music wasn't that flash, but Hey! - it's like the first few hours of the festival - they're just starting to warm up those BBQ's and set up those bead sellin' stalls.
  %p I hung in there and saw some great music - a lot of the stuff featured on the Thurday is from Louisiana, and it is really, really good. When I get home I'll have to check out a family dynasty by the name of ONeil, Rayf, Rayf Jnr and his son are all signed to Alligator and they sound great. There is another band that I really liked as well, while I can't recall their name as I write this, rest assured that I have the program carefully tucked away in my bag.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
