---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: King Biscuit - Mississippi Mud.
post_date: 2002-10-12
next_item: /blog/2002/10/king-biscuit-th.html
previous_item: /blog/2002/10/king-biscuit-i.html
topics: blues_highway
...
%article.col-3-4
  %h1 King Biscuit - Mississippi Mud.
  %p
    When the sun goes down
    %br/
    and the moon come out
    %br/
    people gather 'round
    %br/
    and begin to shout,
    %br/
    "Hey Hey, Uncle Dud!
    %br/
    It's a treat to put your feet
    %br/
    in the Mississippi Mud."
    %br/
    What a dance, do they do.
    %br/
    Lordy how I'm tellin' you...
  %p It has pissed down in the Mid South for the last couple of days (thankfully today, Friday, is dry) and the beautiful green field that was gonna be our campsite is now a muddy, soggy, dirt patch. With SUV's, trailers, winnebago's and a cross country volvo all sunk down to their axles. It's not gonna be a pretty trip out of here.
  %p You could suggest that the campsite is not fit for pigs. On the contrary - it's perfect for pigs. A really nice couple from god know's where, have bought their pig along, her name is Porkchop, and she's as happy as the proverbial colloquialism.
  %p Speaking of pigs...I went shopping for the first time at a Piggly Wiggly - I couldn't help thinking about Driving Miss Daisy. Incidentally, the Piggly Wiggly is about 30 miles north of Clarksdale, where Morgan Freeman actually lives. I spoke to a nice bloke last night, a local cropduster, who told me that Mr Freeman is taking some flying lessons from out at the field that he works at.
  %p Frank, my new cropdusting friend, offered to take me for a fly around the area today! I hope I can find him again - that'd be sweet.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
