---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Memphis - Nashville
published: 2002-10-10
next_item: /blog/2002/10/nashville-the-h.html
previous_item: /blog/2002/10/clarksdale-tupe.html
topics: blues_highway
...

  %h1 Memphis - Nashville
  %p ...is actually quite a long drive, though thanks to virtually unrestricted speed limits, doesn't take that long. Don't stress there were actually state troopers skulking around the interstate on the way back.
  %p I still can't get over how fast the people drive over here and how little they care for speed limits - no matter what they're driving.  Here I am, cruising along in my little Cherolet Malibu, mid sized thing that it was, doing about 75 and I'm getting past by everything - Semi Trailers, Trucks, Pickups (with huge trailers), Winnebago's. I couldn't believe it.
  %p I stopped for a feed (buffet lunch) at the home of Casey Jones - Jacksonville, TN. Was a little to weireded out by the locals and tourists to visit the museum. Though the gift shop was fun enough...got me a really great momento.
  %p Tennessee is very pretty and very green. Fall hasn't quite hit yet, some of the leaves are turnin' but otherwise it's gorgeous, lush and green.
  %p Nashville seems like a big town right in the middle of nowhere. It really is nestled among the hills by a riverside - I really haven't done my homework so I don't know what the hell it's history is...well, apart from country music.
  %p Got lost again. God bless Helena and Shawn, both of those guys had pretty much just flown back into Nashville from interstate and they came right out to the darkest reaches (well kinda) of downtown to pick me up and get me back to the safety of the west side of town.
  


