---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Mr Stinky Britches arrive in Memphis
published: 2002-10-02
next_item: /blog/2002/10/the-concierge.html
previous_item: /blog/2002/10/mystery-train.html
topics: blues_highway
...
%article.col-3-4
  %h1 Mr Stinky Britches arrive in Memphis
  %p 9 hours on a train, catchin a couple o'hours sleep where you can can leave you feelin' pretty icky when you arrive at where you were goin.  It was 5.30am when I got into Memphis and I had to wait 'till at least 6.30 before the city was ready to do business and give me a taxi ride downtown to find some breakfast and find a hotel.
  %p I asked the Taxi driver, Robert, where the best place would be for breakfast would be...nah, no Soul Food breakfast joints were gonna be open this early - the only dump open was Denny's. Oh well.
  %p After a feed I found my way back to the Taxi rank and asked them to take me to the Sleep Inn, what was gonna be a reasonably priced stay for a couple of nights while I recovered from the trip and 10 nights in a Hostel.
  %p There were no rooms ready, So Mr. Stinky Britches had to spend the day staggerin' around a warm and rainy Memphis checkin' things out as is.
  
%aside.col-1-4

