---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Mud Island Ain't Muddy
published: 2002-10-03
next_item: /blog/2002/10/consignment-mus.html
previous_item: /blog/2002/10/ellens-soul-foo.html
topics: blues_highway
...
%h1 Mud Island Ain't Muddy
%p Mud Island is an overgrown sandbar which is just of the riverbank. Well, it's actually quite big, maybe a mile and a half long and half a mile wide. They provide a mono-rail/skycar type service out to the island where you can check out a River Museum and also walk the length of the Mississippi.
%p
  Yup, walk the length of the Mississippi. They have created a fairy accurate (though the topography of the river is
  %i always
  changing) scaled down layout of the Mississippi River.
%p So I started in the Gulf and wandered along, hopped across and waded through the Mississippi river. It was kinda fun.
%p The Memphis Belle, from WWII, (not the movie) is kept here, it's not all that flash to look at. There is a long and sorry tale about Memphis' waxing and waning pride in their famous aircraft so after reading that the state of the aircraft really kinda made sense.

