---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Mystery Train
published: 2002-10-02
next_item: /blog/2002/10/mr-stinky-britc.html
previous_item: /blog/2002/09/gonna-ride-the.html
topics: blues_highway
...
%article.col-3-4
  %h1 Mystery Train
  %p There is still a strong element of dignity when one rides the rail. All kinds of folk take the train but there is definitely an air of something special about it.
  %p It might be Union Station in Chicago.
  %p It's a really fantastic terminal. It's enormous, and, if you need to be reminded of it's greatness check out the movie the Untouchables, by Brian DePalmer. While the movie doesn't convey how big it is - it does capture some of the grandeur that Union Station still holds today.
  %p Amtrack is pretty cool, I understand train travel isn't everyone's cup of tea but, it's nice.  I wish we could have travelled during the day though, There wasn't much to see out there in the dark, and as we headed further down in to the Mid South, things just got darker as we made our way into the Hurrican Isidore as it became a tropical depression.
  %p There was an old black man who was workin' as a conductors assistant. I swear he must have been nearly 70 years old, all bent over, skinny and grey but he was as sure of himself of that big old train as anyone. Organising everybody and gettin' it done.
  
%aside.col-1-4

