---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Nashville - home of Rock!
published: 2002-10-09
next_item: /blog/2002/10/helena-arkansas.html
previous_item: /blog/2002/10/highway-49-to-h.html
topics: blues_highway
...
%article.col-3-4
  %h1 Nashville - home of Rock!
  %p Thanks to Shawn and Helen for lookin' after me while I stayed in Nashville, they showed me that the home of country is actually the home of people who rock! Thanks.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
