---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Nashville - the home of ROCK!
post_date: 2002-10-10
next_item: /blog/2002/10/king-biscuit-i.html
previous_item: /blog/2002/10/memphis-nashvil.html
topics: blues_highway
...
%article.col-3-4
  %h1 Nashville - the home of ROCK!
  %p First of all, a huge thanks to Helena and Shawn for puttin' me up at their lovely apartment in Nashville and for lookin' after me. While they were workin' - they were still making sure I was enjoying one of the highlights of my trip: Aerosmith at the AMSouth Ampitheatre, Nashville TN!
  %p Go get your lighters out, flick those baby's on and wave 'em in the air - we're gonna get into some serious stadium rock! I said: "Are you ready to rock?!".
  %p Helena is the production manager for the Ampitheatre, and kindly hooked me up with a backstage pass, as well as introducing me to all her security staff, assistants, catering and lackeys who support her at the venue. So getting around and seeing things just wasn't a problem. Since I am still not yet a rock star (or fat Winona Judd) I didn't get to on the stage or in the dressing rooms.
  %p Shawn edits live video for the event to the large projection screens on either side of the ampitheatre and also to the large screen behind the band. Unfortunately, Aerosmith are touring with the video guy who got sacked from the Bruce Springsteen tour. Shawn found out why he got sacked from Springsteen - he's a dickhead who doesn't know what he's doing. Shawn spent a frustrating evenin' chasing his tail fixing grief that was caused by the Aerosmith video knob.
  %p As for me. Well, I stood around for most of the night, eyes wide, jaw agape taking in the whole spectacle. I got to stand by the mixing desk to watch the support act - Stone Temple Pilots - and watch the serpentine Scott Weiland writhe and cavort around the stage. They're still a pretty good band, though they took about half the set to warm up and get cookin' - lucky for me they played a lot of their earlier stuff, so I knew what the hell was going on.
  %p For Aerosmith, I spent most of it hanging around stage left, watching Steve Tyler work his magic. And magic it is. I mean, what else could be keeping an ageing stadium rocker dancin' around, screamin' his lungs out, and wetting the panties of 15,000 girls and women aged from 15 - 50 (maybe 55) in Nashville? Hell, when I'm his age, I'm definitely gonna include the following things on my rider;
  %p - Three oxygen kits, with masks, on the stage, during the show for the band to use for rejuvenation purposes.
  %p - A surgeon, in attendance, to ensure the health and safety of all concerned.
  %p - At least three monitors, on both stages, screening auto-cue of my lyrics so I can keep track of where I am and what the hell is going on.
  %p - A very large printout. Stage centre, just near where I stand, of the City and State that I am performing in, lest I should forget where the hell I am.  The band playing and the fans screaming should remind me what the hell I'm actually doing there.
  %p Now, don't get me wrong. I don't want to suggest that the guys from Aerosmith are high on anything other than life. In fact, I was assured that the band is as dry as Box Hill. I don't think drugs and alcohol are their problem, I think the un-reality that they live in is their problem.
  %p Aerosmith still have groupies. Not 40 or 50 year old women. Lithe and supple (forgive the adjectives - and this does not include fat Winona Judd) chicks in their early 20's busting out of their tops and pants, hanging out, ready to meet, greet and 'take care of' Steve Tyler and Joe Perry. The other guys in the band will probably have to make do, still, I think they do alright too.
  %p Aerosmith have animals. Aside from the 16 semi-trailers worth of gear, the 12 tour busses, the countless staff and hangers on - Aerosmith had a snow leopard kitten on tour with them.
  %p Yup, the animal was probably a couple of months old. It wasn't tiny, but it was still all cute, downy and doey-eyed.
  %p WTF? Why? - I truly don't know. But, as I said, this is the un-reality that surrounds Aerosmith. And I guess from the weird glimpses we get of Ozzy's life, this life is all consuming.
  %p Though, I had to ask myself - what are Aerosmith without it?
  %p Well, they ain't no Christian Rock. And that's what I saw the following night at the AMSouth Ampitheatre. They, literally, weren't a quarter of the size of Aerosmiths tour. But, they still pulled as many chicks - of course though, for different reasons.
  %p Lots of fun, actually got to see Shawn work. Quite cool.
  %p And, this mail wouldn't be complete if I didn't mention Dave. The hardest workin' man in rock and roll. Dave assists (read - provides comic relief while Shawn works) Shawn in the video production area and is a long time veteran of the rock and roll scene. See, back in '91 Dave's band actually volunteered to go to 'the Gulf' to perform for the 200,000 or so US Troops sent their to 'take care of things' last time around. Dave took his camera.
  %p Dave, was actually one of the first civilians to shoot the burning oil wells, among other things - cities devastated, mine fields, bodies - in Kuwait. He had a great time overthere - rockin', sellin' t-shirts to soldiers and shooting over 48 hours of film, which (I think) was then picked up by CNN.
  %p Though the camera is not Daves weopan of choice, it's actually his very own lucite telecaster, with a body carved in the shape of a massive W. I'll try to include some links to pictures when I get back. It's awesome.
  %p So, Dave, if you're reading this - rock on! It was great to meet you man.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
