---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Recon to Wild Bills
post_date: 2002-10-03
next_item: /blog/2002/10/beale-aint-real.html
previous_item: /blog/2002/10/consignment-mus.html
topics: blues_highway
...
%article.col-3-4
  %h1 Recon to Wild Bills
  %p After visiting consignment Music, I found my way out to Wild Bills. WB's had been written up in a couple of papers as the only place to see real Memphis blues.
  %p I wanted to check out where I was going and what the place was like in the daytime before I spent long hours of the night there listening to blues. I've found this to be a very assuring way to check out live music and evaluate risk before gettin' down.
  %p It was a little trouble finding the place (again the whole misunderstanding on how big and smeared out Memphis is) but when I did I was pleasantly surprised.
  %p Wild Bills is a shopfront amongst a row of other shops in an ordinary suburban retail strip. You know the ones I mean - maybe a row of six or so shops, angled parking out front. Usually on a busy suburban road like Springvale Road or Doncaster Road...you know, like out near Vermont. Imagine a blues club out there...two doors down from a barbershop, just up from the liquor store.
  %p Wild Bill was inside. He wasn't what I expected initially either, a fairly tall and dignified man, much older than I expected. Very softly spoken and when I shook his hand and introduced myself, very gentle too. I bet the ladies dig him.
  %p I told him my story and asked him who'd be playin' and when the music started. Hollywood Allstars and about 11pm - 'till 3am. Wow.
  %p Cool. I told him I'd be back later.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
