---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Riding to New Orleans
published: 2002-10-14
next_item: /blog/2002/10/the-crescent-ci.html
previous_item: /blog/2002/10/king-biscuit-th.html
topics: blues_highway
...
%article.col-3-4
  %h1 Riding to New Orleans
  %p The train from Memphis to New Orleans was again another great treat. I boarded at 7am in the morning along with a bus load of tourists on some kind of group tour, they got onto the train first which allowed me the discression of getting onto another carriage. I mean who really wants to travel with freaky tourists!
  %p Once the train got moving I went to the dining car to get a little breakfast. I have found that the dining car is great place for discussion and travelling on my own means that other stray travellers get seated with me to ensure that the waiters on the train don't have to stagger too far.
  %p After a short while an older english woman was seated across from me. First impressions found her to be English and proper but after some conversation she was quite a hoot. She was a little bummed as she'd been suffering from some nasty reverse snobbery - seems the tour group (yeah the bus load of tourists) were nothing but a bunch of simpletons - duh, taking in the American country side. My english friend just found them a little droll.
  %p Ellen (name changed to protect the innocent) was quite an extraordinary woman. She'd spent some of her youth in Tanzania, Africa before she returned to England and became a teacher. She wore two rings on her wedding finger - one for each of her boyfriends - as you would. She also recalled a tale of _another_ man, an Australian, whom she'd had a 'delightful time' with. "Oooh, he was nice, 6'4" with long flowing golden hair."
  %p We were later joined by a 16 year old kid from Gulfport, Mississippi who had travelled up to Memphis to see the footy team from 'Ol Miss play. He was not a bad kid, typically American who went hunting with his stepfather and planned to marry his sixteen year old girlfriend, "'cause she helped to set him right." Before he met her he was getting up to all kinds of trouble. No way, you wouldn't think it!
  %p The train was diverted around a derailment and that meant that my English friend was off-loaded with the other tourists and sent off on a bus for Baton Rouge. Meanwhile, the train headed further down south for a fantastic trip across Lake Ponchatrain. There is a 23 mile causeway across the lake, and since it's not that deep riding on the train was quite magical. Looking out either side of the observation carriage one could see nothing but water and the experience was like that of a train gliding over the water...very cool.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
