---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Soulsville.
post_date: 2002-10-06
next_item: /blog/2002/10/highway-61-to-t.html
previous_item: /blog/2002/10/graceland.html
topics: blues_highway
...
%article.col-3-4
  %h1 Soulsville.
  %p In the guide books I have, there is nothing to be found at the site of the former Stax Record Studios. How wrong they are.
  %p Memphis has invested in its soul heritage and built an enormous Stax Soul Institue and Museum.
  %p The museum is not due to open until April 2003, though the institute - the best bit - is operational and is making a sound investment in the musical future of Memphis. I think this is brilliant, so does Steve Cropper, the man, the cornerstone, responsible for capturing the soul sound and hundreds of soul hits. He can be heard on a great Memphis radio station, Soul Classics, 103.5, celebrating the fact that kids are being taught to play, read and perform soul music.
  %p This is what it should be about.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
