---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: The Concierge
published: 2002-10-02
next_item: /blog/2002/10/gibson-guitar-f.html
previous_item: /blog/2002/10/mr-stinky-britc.html
topics: blues_highway
...

  %h1 The Concierge
  %p My recommendation to anyone. If you find yourself is some strange town and you need something, anything, go to the best hotel and ask for the Concierge.
  %p The best hotel in Memphis is The Peabody. It has been around for a very long time and the level of excellence there is the best you'll find in the Mid South.
  %p I asked where I may rent a car from and who was the most recommended vendor. That's all I had to say.
  %p Within' 15 minutes, the best vehicle rental vendor had despatched someone to pick me up from the Peabody, in the car I was going to hire, and take me back to their offices to complete the paperwork. Lovely. All I had to do was sit comfortably in the lobby and wait.
  %p Ah, very hard times on the blues highway.
  %p There was quite a bit of commotion in and around the Peabody that morning and I asked the concierge as to the nature of this. He politely replied that the Vice President was due to arrive in Memphis this morning and was using the Hotel as a comfortable base while he was assisting a local senator with their campaign for Tennessee. The concierge asked me to keep that information to myself for obvious reasons.
  %p My goatee has become unwieldy, I expect that the concierge may have considered that I was backpacking through the States with Abdulla-un-Mohammed Jihad...maybe.
  


