---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Tourism and Surrealism
published: 2002-10-03
next_item: /blog/2002/10/barbershop.html
previous_item: /blog/2002/10/grand-final-tim.html
topics: blues_highway
...
%article.col-3-4
  %h1 Tourism and Surrealism
  %p After the Grand Final I managed to haul my sorry arse out of bed early enough to get my 'free' complimentary breakfast.
  %p If you pay for anything in the States it comes loaded on huge plates and drinks are served in buckets. Complimentary breakfasts though are served in thimble sized cups and plates barely big enough to cover you palm.
  %p I staggered from the hotel and made my way to the Peabody. Since the 30's some ducks have been living on the roof (I'm sure there is a much more accurate version of this story - look it up) of the hotel and every morning, a bell boy takes the lift up to the roof, gathers up the ducks and brings them down in the lift again into the lobby, where they spend the rest of the day paddling and swimming around the fountain in the middle of the lobby. It's all very cute and sweet. In reality though, it's a spectacle of tourism.
  %p To me, nothing is more facinating that watching maybe 200 fat, pink, sweaty Americans clamouring over one another to see these ducks literally burst from the lift and bolt as fast as their little webbed feet will carry them to the security of the fountain.
  %p After a 20 minute wait the whole thing is over in less than 20 seconds. The tourists linger for much longer marvelling at the ducks paddling around the fountain.
  %p I hung around just to make sure they were real. Yeah, they are, amazing.
  
%aside.col-1-4

