---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Wild Bills
published: 2002-10-04
next_item: /blog/2002/10/days-inn-at-the.html
previous_item: /blog/2002/10/barbershop.html
topics: blues_highway
...
%article.col-3-4
  %h1 Wild Bills
  %p Made it to Wild Bills. What a blast. They serve Budweiser in the equavalent of of longnecks to the tables and if you're drinkin' something fancy, you can get your own bucket of ice to fill your glass, cup or mug with. The only fancy drink I saw was Crown Royal - I think it's like some kinda whiskey - the bottles come in a soft draw-string bag - everyone drinkin' whiskey was carrying their Crown in a Royal Purple bag (with gold trims). Very dignified.
  %p Before the band played, they had the jukebox goin'. What a juke. There wasn't one single album on it that was an all white band. They were mostly black mostly soul.  I did find some Albert King though and got 'I wanna get funky...' played on it.  Yeah.
  %p
    The band were pretty damn good. The guitarist was a white guy with a squeaky blues sound, it was fairly clean but he could get some nice tones out of the Epiphone he was playin. There was a real smooth bass player - old. A cool guy gettin' some funky sounds out of the keyboard and a huge guy on the drums. In fact the only other guy I've seen who uses the same sticks as Ken (from
    = succeed ")" do
      %a{:href => "http://www.powerhouseblues.com/", :target => "blank"} Powerhouse
  %p I hung around drinkin' coke for two sets and then got fixin' to leave. I thanked the big man himself, Wild Bill, for lettin' me visit and then went out to talk to the band. Turns out that the keyboard player and the bass player actually used to tour with Albert King, and also Bobby Blue Bland back in the day. Ash was this guys name...I'll have to check out some albums on cdnow.com and see if he's still listed. He was a really nice guy and remembers coming out to Australia at some point with the King... though that must have been a long time ago.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
