---
layout: '/_layout.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Index'
title: March 2002
...
%article.col-3-4

  %h1 Archive

  %h2
      %a.archive{:href => "/blog/2014/07/on-hackdays.html"} On Hackdays

    %p
      %strong 24 July 2014


  %h2
      %a.archive{:href => "http://www.prozacblues.comruitment.html"} On Recruitment

    %p
      %strong 24 July 2014


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2012/08/littleo I Care

    %p
      %strong 12 August 2012


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2011/12/community-security.html"} Communurity

    %p
      %strong 30 December 2011


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2011/11/healthy-communities.html"} Healthy communities and website  %strong 30 November 2011


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2011/09/ownership.html"} Ownership

    %p
      %strong 29 September 2011


  %h2
      %a.ww.prozacblues.com/blog/2011/01/back-to-work.html"} Back to work

    %p
      %strong 28 January 2011


  %h2
      %a.archive{:href => "httpvo/blog/2011/01/erics-words.html"} Eric's Words

    %p
      %strong 15 January 2011


  %h2
      %a.archive{:href => "http://www.prozacblues.com/trav-efficiency.html"} The Cult of Efficiency

    %p
      %strong 11 January 2011


  %h2
      %a.archive{:href => "http://www.prozacblues.com/travo/blo In Stereo

    %p
      %strong 21 March 2010


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2010/03/on-brand.html"} On Brand

    %p
      %stro     %a.archive{:href => "http://www.prozacblues.com/blog/2010/03/fit-for-purpose.html"} Fit For Purpose

    %p
      %strong 10 March 20e{:href => "http://www.prozacblues.com/blog/2010/03/on-purpose.html"} On Purpose

    %p
      %strong 8 March 2010


  %h2
      %a.arcprozacblues.com/blog/2009/02/the-city.html"} The City

    %p
      %strong 23 February 2009


  %h2
      %a.archive{:href => "http://www.prozacbluesking-babiesis.html"} Making Babies...is harder than it looks -- especially if you're old.

    %p
      %strong 14 February 2009


  %h2
      %awww.prozacblues.com/blog/2008/12/ignoring-artist.html"} Ignoring artistic merit...

    %p
      %strong 31 December 2008


  %h2
      %a.ww.prozacblues.com/blog/2008/10/telling-capistr.html"} Telling Capistrano to Deploy from a Branch on EngineYard

    %p
      %strong 31 October 2008


  %h2
      %a.archive{:href => "http://www.prozacblueife-is-tough.html"} Life is tough for the Inverse Cowboy

    %p
      %strong 6 June 2008


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2008/0uld you work for Gordon Ramsay?

    %p
      %strong 25 May 2008


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2008/05/six-months-on-rails.html"} Six Months on Rails

    8


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2008/04/keep-your-eyes.html"} Keep your eyes on the fries

    %p
      %strong 27 April 2008


   => "http://www.prozacblues.com/blog/2008/04/brief-and-succi.html"} Brief and Succinct

    %p
      %strong 20 April 2008


  %h2
      %a.archive{:href => "http://blog/2008/03/fighting-inerti.html"} Fighting Inertia

    %p
      %strong 14 March 2008


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog"} Hand wringers

    %p
      %strong 27 February 2008


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2007/11/getting-leopard.html"} Gettingg postgres82 with MacPorts

    %p
      %strong 1 November 2007


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2007/10/who-is-gonna-    %em is
        gonna make the gravy?

    %p
      %strong 23 October 2007


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2007/Switched - Part Two

    %p
      %strong 23 October 2007


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2007/10/switched-part-oe

    %p
      %strong 23 October 2007


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2007/10/right-right-rig.html"} Right Right Right

    %p
      %strong 12 October 2007


ef => "http://www.prozacblues.com/blog/2007/06/transformers.html"} Transformers!

    %p
      %strong 30 June 2007


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2007 Life on the Street

    %p
      %strong 5 June 2007


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2007/05/the-world-is-fl.html"} The   %strong 29 May 2007


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2007/05/jpg-magazine-re.html"} JPG Magazine rebels against its pare16 May 2007


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2007/05/i-wanna-be-a-mi.html"} I wanna be a microgenerator!

    %p
      %      %a.archive{:href => "http://www.prozacblues.com/blog/2007/05/not-your-parent.html"} Not your parents album release

    %p
      %strong 2.archive{:href => "http://www.prozacblues.com/blog/2007/03/geoff-achison-h-1.html"} Geoff Achison - heads West.

    %p
      %strong 23 March 2007


 f => "http://www.prozacblues.com/blog/2007/03/hardly-workin.html"} Hardly Workin'

    %p
      %strong 6 March 2007


  %h2
      %a.archive{:href =>om/blog/2007/02/yet-more-eviden.html"} Telstra doesn't get it, will never get it, and why telecommunications in Australia is the way it is

    %p
      %strong 20 Februaryhive{:href => "http://www.prozacblues.com/blog/2007/02/all-work-is-ult.html"} All work is ultimately futile

    %p
      %strong 20 February 2007


  %h2
     ://www.prozacblues.com/blog/2007/02/an-open-letter.html"} An open letter to early adopters?

    %p
      %strong 14 February 2007


  %h2
      %a.archive{:href .com/blog/2007/02/wedding-photos.html"} Wedding Photo's Galore

    %p
      %strong 13 February 2007


  %h2
      %a.archive{:href => "http://www.prozacblues.com/hield.html"} Human Shield

    %p
      %strong 12 February 2007


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2007/02/marrieMooned and Exhausted!

    %p
      %strong 4 February 2007


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/12/getting-married.html"} Getting Married...

    %p
      %strong 29 December 2006


  %h2
      %a.archrozacblues.com/blog/2006/12/the-court-house.html"} The Court House Hotel

    %p
      %strong 6 December 2006


  %h2
      %a.archive{:href => "http://www.prozacblueillowfight.html"} PILLOWFIGHT!

    %p
      %strong 6 December 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/11/online-video-vl.html"} Onlnelygirl15

    %p
      %strong 21 November 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/11/gentlemens-lunc.html"} Gentlemen'strong 20 November 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/11/mustachio-augog.html"} Mustachio Au-Go-Go

    %p 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/11/movember-want-t.html"} Movember - want to sponsor me?

    %p
      %strong 2 Novemberhive{:href => "http://www.prozacblues.com/blog/2006/11/minh-tan-ii.html"} Minh Tan II

    %p
      %strong 1 November 2006


  %h2
      %a.archive{:href =com/blog/2006/10/weird-browserse.html"} Weird Browser/Servlet behaviour

    %p
      %strong 31 October 2006


  %h2
      %a.archive{:href => "http://www.pr006/10/the-fickle-worl.html"} The Fickle World of Hits

    %p
      %strong 30 October 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.-many-babies.html"} Too many babies? Time to grow up.

    %p
      %strong 25 October 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/10/reskin-ahe.. a re-alignment.

    %p
      %strong 18 October 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/10/if-everyone-liv.html"} If
    %p
      %strong 2 October 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/09/consumer-bovine.html"} Consumer :: Bovine

 tember 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/09/masanis-restaur.html"} Masani's Restaurant

    %p
      %strong 24 September 20e{:href => "http://www.prozacblues.com/blog/2006/09/kids-with-guns.html"} Kids with guns.

    %p
      %strong 23 September 2006


  %h2
      //www.prozacblues.com/blog/2006/09/the-worst-thing.html"} The worst things to happen to Rock

    %p
      %strong 20 September 2006


  %h2
      %a.archive{:href => "/blog/2006/09/paris-hilton-wa.html"} Paris Hilton : Walkin' Talkin' Livin' Doll

    %p
      %strong 20 September 2006


  %h2
      %a.archive{:href => "http://blog/2006/09/1967-mosrite-vi.html"} 1967 Mosrite Vintage Strawberry Alarm Clock Guitars

    %p
      %strong 15 September 2006


  %h2
      %a.archive{:href => "http://www.p2006/09/powerhouse-blue.html"} Powerhouse Blues DVD Launch!

    %p
      %strong 11 September 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2l"} Anti-terrorism is the new terrorism

    %p
      %strong 25 August 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/08/only-the-lon...

    %p
      %strong 16 August 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/08/how-do-you-deal.html"} How do you deal wirong 16 August 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/08/personal-video.html"} Personal video : too small to see and expng 14 August 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/08/aspnet-done-and.html"} ASP.NET Done and dusted.

    %p
      %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/08/youtube-sharing.html"} YouTube - sharing the load or bearing the costs?

    %p
      %strong 8 Augurchive{:href => "http://www.prozacblues.com/blog/2006/08/geotagging-your.html"} GeoTagging - you're it!

    %p
      %strong 8 August 2006


  %h2
      %a.archive{:href => "http://blog/2006/08/wow-what-a-poss.html"} Wow - what a posse'

    %p
      %strong 7 August 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/08/aspnet-httphand.html"}ce.

    %p
      %strong 4 August 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/08/aspnet-request.html"} ASP.NET Request and Response

ust 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/07/takin-some-smal.html"} Takin' some small steps and learning .NET

    %p
      %strong  %a.archive{:href => "http://www.prozacblues.com/blog/2006/07/a1-lebanese-bak.html"} A-1 Lebanese Bakery

    %p
      %strong 20 July 2006


  %h2
      //www.prozacblues.com/blog/2006/07/kaleidoscope.html"} Kaleidoscope

    %p
      %strong 20 July 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.cgreen-refec.html"} The Green Refectory

    %p
      %strong 20 July 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/07/hands-on-people.html"} Hands on p

    %p
      %strong 19 July 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/07/launching-pants.html"} Launching Pants Off Place July 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/07/tom-phat.html"} Tom Phat

    %p
      %strong 16 July 2006


  %h2
      %a.archive{:href => "htravo/blog/2006/07/ceres-community.html"} CERES Community Centre

    %p
      %strong 16 July 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/traguita.html"} Is Gibson Guitars effectively hamstrung by their own legacy?

    %p
      %strong 10 July 2006


  %h2
      %a.archive{:href => "http://www.proza/07/so-has-she-miss.html"} So, has she missed anything?

    %p
      %strong 9 July 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/0urdain tells it like it is - if you can't stomach this, look away.

    %p
      %strong 7 July 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/travo-co.html"} Oh Helen, how could you get it so wrong?

    %p
      %strong 6 July 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/07/doppleganger-prhaps, maybe. At least in name...

    %p
      %strong 5 July 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/06/more-fanta Balloon Art!

    %p
      %strong 28 June 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/06/more-google-fun.htmmaps + Analytics

    %p
      %strong 28 June 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/06/linkalicious.html"} Link-atrong 28 June 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/06/soccer-a-cruel.html"} Soccer - a cruel mistress indeed.

    %p
      %stron   %a.archive{:href => "http://www.prozacblues.com/blog/2006/05/pimpy.html"} Pimpy!

    %p
      %strong 26 May 2006


  %h2
      %a.archive{:href => "http://blog/2006/05/smack-my-bitch.html"} Smack my bitch up!

    %p
      %strong 26 May 2006


  %h2
      %a.archive{:href => "http://www.prozacb5/google-maps-aus.html"} Google Maps  - Australia Mapped!

    %p
      %strong 23 May 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/travo/bl.html"} What kind of developer are you?

    %p
      %strong 16 May 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/05/dense-living-in.html"} Dense : Living in Hongg 16 May 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/05/hello-george-ea.html"} Hello George Eaves!

    %p
      %strong 15 May ive{:href => "http://www.prozacblues.com/blog/2006/05/thank-the-gods.html"} Thank the Gods : Keef is still alive!

    %p
      %strong 12 May 2006


  %h2
      %a.archive{:href => "http://www.prozac04/learning-java-t.html"} Learning Java - take nothing for granted.

    %p
      %strong 5 April 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/200EO Gone Mad

    %p
      %strong 31 March 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/03/comm-games-hous.html"} Comm Games housing near Brunswick...  %p
      %strong 24 March 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/03/web-20-wtf.html"} Web 2.0 WTF? / Why Lonely Planet nestrong 23 March 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/03/microsoft-aspne.html"} Microsoft ASP.NET, now with Atlas (AJAX) - be alarmed March 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/03/ajax-welcome-to.html"} AJAX - Welcome to my CV

    %p
      %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/03/vintage-wallpap.html"} Vintage Wallpaper Rocks!

    %p
      %strong 14 March 2006


  %h2
 http://www.prozacblues.com/blog/2006/03/pattern-languag.html"} Pattern Language and Moderation Strategies

    %p
      %strong 9%a.archive{:href => "http://www.prozacblues.com/blog/2006/03/balloon-hat-web.html"} Balloon Hat Website!

    %p
      %strong 2 March 2006


  %h2
  ttp://www.prozacblues.com/blog/2006/02/ooooh-charts.html"} Ooooh Charts!

    %p
      %strong 15 February 2006


  %h2
      %a.archive{:href => "http://www.prozacb2/down-time.html"} Down time

    %p
      %strong 9 February 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/02/any-thoughts.html"} An  %strong 7 February 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/02/yet-more-excite.html"} Yet more excitement in Brunswick.

 uary 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/02/sport-competiti.html"} Sport : Competition or Fun

    %p
      %sth2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/01/dark-poetry.html"} Dark Poetry

    %p
      %strong 30 January 2006


  %h2
      %a.archive{:hrefs.com/blog/2006/01/big-dumb-holida.html"} Big Dumb Holiday

    %p
      %strong 23 January 2006


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2006/I'm calling a moratorium on cheese plates and asian dinner sets

    %p
      %strong 9 January 2006


  %h2
      %a.archive{:href => "http://www.pro05/12/cricket-tragedy.html"} Cricket Tragedy

    %p
      %strong 22 December 2005


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2005/12/for-your-next-c.html"} For your ne   %p
      %strong 16 December 2005


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2005/12/movin-on-movin.html"} Movin' on, movin' up?

    %p
      %stro
      %a.archive{:href => "http://www.prozacblues.com/blog/2005/11/mojo-the-sock-m.html"} Mojo The Sock Monkey

    %p
      %strong 21 November 2005


  %h2
      %a.archive{:href => "httavo/blog/2005/11/fire-at-the-old.html"} Fire at the old factory

    %p
      %strong 20 November 2005


  %h2
      %a.archive{:href => "http://www.prozacblues.comer-on-son.html"} Scheiner on Sony

    %p
      %strong 18 November 2005


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2005/11/engaged.htm %strong 17 November 2005


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2005/11/weighing-in-on.html"} Weighing in on the Ruby Debate

    %p
      %strong      %a.archive{:href => "http://www.prozacblues.com/blog/2005/11/shuffling-along.html"} Shuffling Along

    %p
      %strong 9 November 2005


  %h2
   tp://www.prozacblues.com/blog/2005/11/sony-drm-will-s.html"} Sony DRM : Will Somebody Please Write a Case Study

    %p
      %strong 8 November 200{:href => "http://www.prozacblues.com/blog/2005/11/lone-ranger.html"} Lone Ranger

    %p
      %strong 3 November 2005


  %h2
      %a.arcprozacblues.com/blog/2005/10/gigs-so-many-gi.html"} Gigs... so many gigs. Wanna Come?

    %p
      %strong 31 October 2005


  %h2
      %a.archive{cblues.com/blog/2005/10/circus.html"} Circus!

    %p
      %strong 26 October 2005


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2005/10/pies. %strong 25 October 2005


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2005/10/cannon-fodder.html"} Cannon fodder.

    %p
      %strong 21 Oca.archive{:href => "http://www.prozacblues.com/blog/2005/10/john-doyle-is-m.html"} John Doyle is my master now

    %p
      %strong 21 October ive{:href => "http://www.prozacblues.com/blog/2005/10/is-it-getting-h.html"} Is it getting hot in here?

    %p
      %strong 20 October 2005


  %h2
   tp://www.prozacblues.com/blog/2005/10/wait-a-minute.html"} Wait a minute...

    %p
      %strong 11 October 2005


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2005/09/kunm
      %strong 13 September 2005


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2005/09/hong-kong.html"} Hong Kong

    %p
      %strh2
      %a.archive{:href => "http://www.prozacblues.com/blog/2005/08/content-strippe.html"} Content Stripped Bare

    %p
      %strong 22 August 2005


  %h2
      %a.arcprozacblues.com/blog/2005/08/pulling-a-calf.html"} Pulling a Calf

    %p
      %strong 16 August 2005


  %h2
      %a.archive{:href => "http://www.prozacbl/my-friend-flick.html"} My Friend Flickr

    %p
      %strong 15 August 2005


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2005/08/lance
    %p
      %strong 5 August 2005


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2005/08/gettin-my-lance.html"} Gettin' my Lance on.

    %005


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2005/07/melbourne-inter.html"} Melbourne International Film Festival!

    %p
     %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2005/07/temper-temper.html"} Temper Temper

    %p
      %strong 20 July 20e{:href => "http://www.prozacblues.com/blog/2005/06/man-amongst-men.html"} Man Amongst Men

    %p
      %strong 29 June 2005


  %h2
      %a.archive{:href => "http://blog/2005/06/best-shopping-e.html"} Best Shopping Experience Ever

    %p
      %strong 19 June 2005


  %h2
      %a.archive{:href => "http://www.prozacbluehe-hunt.html"} The Hunt

    %p
      %strong 20 May 2005


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2005/05/frampton-still.html"} Frampton; still alive. Less hair May 2005


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2005/05/big-steps.html"} Big Steps

    %p
      %strong 9 May 2005:href => "http://www.prozacblues.com/blog/2005/04/streamlining-co.html"} Streamlining Content Delivery

    %p
      %strong 20 April 2005


  %h2
      %a.archive{:href .com/blog/2005/04/tight.html"} Tight

    %p
      %strong 14 April 2005


  %h2
      %a.archive{:href => "http://www.prozacblues.com/html"} Phases

    %p
      %strong 6 April 2005


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2005/04/less-ma' = faster moving teams

    %p
      %strong 1 April 2005


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2005/03/ipod-linux-so-dmn cool

    %p
      %strong 16 March 2005


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2005/02/stories.html"} Stories

    %p
      %strong      %a.archive{:href => "http://www.prozacblues.com/blog/2005/02/plumbers-crack.html"} Plumbers Crack

    %p
      %strong 8 February 2005


  %h2
      %a.archiozacblues.com/blog/2005/02/right-tool-for.html"} Right Tool For the Job

    %p
      %strong 7 February 2005


  %h2
      %a.archive{:href => "http://blog/2005/01/conspiracy-theo.html"} Conspiracy Theory

    %p
      %strong 28 January 2005


  %h2
      %a.archive{:href => "http://www.proza/01/farklempt.html"} Farklempt!

    %p
      %strong 12 January 2005


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2005 Personal Chemistry

    %p
      %strong 10 January 2005


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2005/01/tsunami-of-econ.html"} T  %p
      %strong 8 January 2005


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2005/01/scorecards-galo.html"} Scorecards Galoreanuary 2005


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2004/12/wine-is-fine.html"} Wine Is Fine

    %p
      %strong 30 Decembechive{:href => "http://www.prozacblues.com/blog/2004/12/champion-of-the.html"} Champion of the World!

    %p
      %strong 7 December 2004


ef => "http://www.prozacblues.com/blog/2004/11/socialize.html"} Socialize

    %p
      %strong 29 November 2004


  %h2
      %a.archive{:href => "http://blog/2004/11/43-things.html"} 43 Things

    %p
      %strong 25 November 2004


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2004/11/konfabulate-thi.ht %p
      %strong 22 November 2004


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2004/11/the-navigation.html"} The Navigatiotrong 20 November 2004


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2004/11/talkback-gene-n.html"} Talkback gene now mature

  mber 2004


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2004/11/welcome-would-a.html"} Welcome, would all attendees please remove their pants
ovember 2004


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2004/02/bow-tie-bonanza.html"} Bow Tie Bonanza

    %p2004


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2003/11/new-tlc-for-kid.html"} New "TLC for Kids" website

    %p
      %strong 13 November 2ve{:href => "http://www.prozacblues.com/blog/2003/10/chef-richard-bo.html"} Chef Richard Bond

    %p
      %strong 16 October 2003


 f => "http://www.prozacblues.com/blog/2003/10/jumbo-balloon-d.html"} Jumbo Balloon Dog

    %p
      %strong 14 October 2003


  %h2
      %a.archive{:href => "httpvo/blog/2003/09/new-ukulele.html"} New Ukulele

    %p
      %strong 17 September 2003


  %h2
      %a.archive{:href => "http://www.pro03/01/finally-added-n.html"} Finally Added New Orleans

    %p
      %strong 13 January 2003


  %h2
      %a.archive{:href => "http://wwog/2002/10/the-crescent-ci.html"} The Crescent City

    %p
      %strong 14 October 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/10/rig to New Orleans

    %p
      %strong 14 October 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/10/king-biscuit-th.html"} King Bi      %strong 12 October 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/10/king-biscuit-mi.html"} King Bisc  %p
      %strong 12 October 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/10/king-biscuit-i.html"} King Biscuit - I mong 12 October 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/10/nashville-the-h.html"} Nashville - the home of ROCK!

    %p
  2


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/10/memphis-nashvil.html"} Memphis - Nashville

    %p
      %strong 10 October 2ve{:href => "http://www.prozacblues.com/blog/2002/10/clarksdale-tupe.html"} Clarksdale - Tupelo - Memphis

    %p
      %strong 9 October 200{:href => "http://www.prozacblues.com/blog/2002/10/clarksdale-miss.html"} Clarksdale, Mississippi

    %p
      %strong 9 October 2002


  %h2
      %a.arcprozacblues.com/blog/2002/10/helena-arkansas.html"} Helena, Arkansas - Library and Museum.

    %p
      %strong 9 October 2002


  %h2
      %a.archive{:href .com/blog/2002/10/nashville-home.html"} Nashville - home of Rock!

    %p
      %strong 9 October 2002


  %h2
      %a.archive{:href => "http://www.proz2/10/highway-49-to-h.html"} Highway 49 to Helena, Arkansas

    %p
      %strong 6 October 2002


  %h2
      %a.archive{:href => "http://www.prozacbluesghway-61-to-t.html"} Highway 61 to Tunica - blink and you'll miss it.

    %p
      %strong 6 October 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.lsville.html"} Soulsville.

    %p
      %strong 6 October 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/10/gr
    %p
      %strong 6 October 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/10/days-inn-gracel.html"} Days I %strong 6 October 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/10/the-rev-al-gree.html"} The Rev. Al Greens Full Gospel Ttrong 4 October 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/10/days-inn-at-the.html"} Days Inn at the Riverbluff

    %p
       %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/10/wild-bills.html"} Wild Bills

    %p
      %strong 4 October 2002


  %h2
      %a.archivzacblues.com/blog/2002/10/barbershop.html"} Barbershop

    %p
      %strong 3 October 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/10/tourism-and-sur.htm

    %p
      %strong 3 October 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/10/grand-final-tim.html"} Grand Final Timectober 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/10/beale-aint-real.html"} Beale Ain't Real

    %p
      %strong 3 October 2002
href => "http://www.prozacblues.com/blog/2002/10/recon-to-wild-b.html"} Recon to Wild Bills

    %p
      %strong 3 October 2002


  %h2
      %a.archive{cblues.com/blog/2002/10/consignment-mus.html"} Consignment Music

    %p
      %strong 3 October 2002


  %h2
      %a.archive{:href => "http://www.prozac10/mud-island-aint.html"} Mud Island Ain't Muddy

    %p
      %strong 3 October 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/trav-foo.html"} Ellens Soul Food

    %p
      %strong 3 October 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/10/gibson-guitar-f.html"d the Rock and Soul Museum

    %p
      %strong 2 October 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/10/the-concierge.hp
      %strong 2 October 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/10/mr-stinky-britc.html"} Mr Stinky Britches arrive in ong 2 October 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/10/mystery-train.html"} Mystery Train

    %p
      %strong 2 October ive{:href => "http://www.prozacblues.com/blog/2002/09/gonna-ride-the.html"} Gonna Ride the Rail

    %p
      %strong 20 September 2002


  %h2
      %a.archive{:href =com/blog/2002/09/the-first-feder.html"} The First Federal Auto Auction

    %p
      %strong 20 September 2002


  %h2
      %a.archive{:href => "http://www.proz2/09/walkin-blues.html"} Walkin' Blues

    %p
      %strong 20 September 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/09/buddy-guys-bes Jam

    %p
      %strong 20 September 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/09/guitars-garage.html"} Guitars, Gar%p
      %strong 20 September 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/09/kingston-mines.html"} Kingston Mines and BLUES

    %p
 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/09/the-biggest-gui.html"} The Biggest Guitar Shop I've ever Seen

    %p
      %s  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/09/died-and-gone-t.html"} Died and Gone to Heaven

    %p
      %strong 15 September 2002


  %h2
      //www.prozacblues.com/blog/2002/09/sumo.html"} Sumo

    %p
      %strong 11 September 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/travo/html"} Sony Central

    %p
      %strong 11 September 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/09/ginza.html"} Ginza

    %p
    2


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/09/the-excitement.html"} The Excitement of Sumo

    %p
      %strong 11 September 2002


  %h2
      %a.archiozacblues.com/blog/2002/09/taito-rykodan.html"} Taito Rykodan...

    %p
      %strong 11 September 2002


  %h2
      %a.archive{:href => "htravo/blog/2002/09/tokyo-rail-rock.html"} Tokyo Rail Rocks!

    %p
      %strong 11 September 2002


  %h2
      %a.archive{:href => "http://www.p2002/09/black-tie-ballo.html"} Black Tie Balloon Art

    %p
      %strong 10 September 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/travoot.html"} This Birds got to Fly

    %p
      %strong 10 September 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/09/alcohol-sex-and.html"} Alcoholell to Morwell

    %p
      %strong 9 September 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/08/every-journey-h.html"} Every jourp
      %strong 25 August 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/08/delta-blues-tha.html"} Delta Blues rong 16 August 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/08/up-and-running.html"} Up and Running

    %p
 2


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/08/melbourne.html"} Melbourne

    %p
      %strong 15 August 2002


  %h2
      %a.ww.prozacblues.com/blog/2002/08/homeland-insecu.html"} Homeland Insecurity

    %p
      %strong 14 August 2002


  %h2
      %a.archive{:href => "http:o/blog/2002/08/air-guitar-cool.html"} Air guitar - Cool tech

    %p
      %strong 1 August 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.comxperience.html"} Work experience chick

    %p
      %strong 15 July 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/04/cool-lting for treatment rooms

    %p
      %strong 7 April 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/04/london-tokyo-la.ht   %p
      %strong 4 April 2002


  %h2
      %a.archive{:href => "http://www.prozacblues.com/blog/2002/03/who-moved-my-ch.html"} Who Moved my Cheese

    %p
      %strong 18 March 2002
                