---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: iPod Linux - so damn cool
published: 2005-03-16
next_item: /blog/2005/04/less-mass-faste.html
previous_item: /blog/2005/02/stories.html
topics: pants_off_living
...
%article.col-3-4
  %h1 iPod Linux - so damn cool
  %p
    I'm not sure exactly what this says about me but whatever,
    %a{:href => "http://www.ipodlinux.org"} iPod Linux
    is just the coolest thing ever.
  %p I'm not an OS hacker, hell I don't even own an iPod, and I think that anyone who asks "why" isn't alive, isn't even breathing. Bernard and his pals are doing what every red blooded man wants to do - take things apart to figure out how they work. Better still, these guys are working towards making the iPod a much more useful in the process!
  %p Hey, how about all those nuts fiddling about with the Apple Newton after more than ten years of commercial obsolecence. The iPod Linux community are already determining an alternate life for every rejected iPod. In a few years when, eBay is cluttered with 1000's of discarded iPod's the nerdy and resourceful among us will be able to install iPod Linux and extend their usefulness for many more years.
  %p That's cool.
  
%aside.col-1-4

