---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Life is tough for the Inverse Cowboy
published: 2008-06-06
next_item: /blog/2008/10/telling-capistrano-to-deploy-from-branch.html
previous_item: /blog/2008/05/would-you-work-for-gordon-ramsay.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Life is tough for the Inverse Cowboy
  %p So today I cruised into the small temperate town of Calistoga California in the Napa Valley. I was exhausted from my arduous journey driving in air-conditioned comfort. My baby-soft computer programmer hands were sore from gripping the wheel. My back and shoulders were stiff and sore from hours in the seat.
  %p
    It was time for some therapy at
    %a{:href => "http://www.drwilkinson.com/"} Dr Wilkinsons
    mud baths and hot-springs.
  %p WFT?
  %p Yup, back in the day a cowboy would amble into town after a month on the dusty trails, filthy dirty from all kinds of manly cowboy stuff. He'd find the closest saloon where he could get a room and a hot soapy bath and wash off a month's worth of mud and dirt.
  %p Now though, it's completely on it's head. I'm slipping into a tub of sphagnum moss, volcanic ash and hot spring water. Then after a rinse I'm over to a tub of bubbling hot-spring water to ease away our troubles.
  %p That's just damn kooky. But that's life as an inverse cowboy!
  
%aside.col-1-4

