---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Plumbers Crack
post_date: 2005-02-08
next_item: /blog/2005/02/stories.html
previous_item: /blog/2005/02/right-tool-for.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Plumbers Crack
  %p This morning we had a bit of a slight plumbing mishap (our shower decided that it didn't want to turn off!) so we reached out to our preferred plumber for some help. Within an hour a bloke had turned up ready to help us out. Excellent.
  %p And this morning I had a revelation about how the kind of programming that I do is very similar to plumbing, and that there might be parallels in the way a plumber manages their larger projects along with the day to day crisees that folks like we have.
  %p Usually, I'm scheduled in to work on significant projects, something that could take a couple of weeks to a few months to complete. For those projects I'll have some significant targets and, while I'm working on those projects, I'll have to communicate with those key stakeholders on a regular basis to ensure that the work I'm doing is meeting with their expectations.
  %p As you would expect, while I'm working on a significant project, there are the irregular requests for urgent work on other things; we need this report, there's some new content to go up on this website, can you please prepare a quote for this project.
  %p See where I'm going? Our plumber friend was probably on his way to a building site where he is working on a major plumbing project. He was also able to manage a few irregular requests.
  %p I wonder what this means to him and his main project, how does he deal with smaller projects causing the deadlines to shift? Does he care at all? As I type this I'm thinking about all my mates who have had unpleasant experiences with tradies for these very reasons.
  %p But I can imagine the parallels though in what I do. I just hope that I'm getting better at a few things; 1. not freaking out when irregular requests arise, 2. making sure that I communicate to my key stakeholders what the impact of those irregular requests have on any main projects and, 3. ensuring that I don't take responsibility for the prioritisation of major projects over irregular requests - that belongs to someone else.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
