---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Right Tool For the Job
post_date: 2005-02-07
next_item: /blog/2005/02/plumbers-crack.html
previous_item: /blog/2005/01/conspiracy-theo.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Right Tool For the Job
  %p Ever since I was a little tacker, I've always been told to use the right tool for the job; a screwdriver is not a chisel. This useful knowledge can be applied to so many environments and tools. Unfortunately though, it's not always easy place a price on a poor choice of tool or evaluate the cost of choosing an inappropriate environment to work in.
  %p Sometimes though, the messages that you get about a required result mean that you may not choose the right tool you need to achieve that result. There are other factors too; how much someone wants to spend and how soon they want the result.
  %p Last week I was given the opportunity to quote on some work and I made some choices based on the information I was given about the requirements presented. Unfortunately, I found out today that we didn't win the job. I was pretty disappointed. But I also found out that, I could have chosen a different tool. Awww crap.
  %p If I had chosen the alternate tool, we might have won the job - there certainly would have been a reduced cost. I think we would have had to set some boundaries around the requirements though and sometimes this in of itself can influence a customer negatively; do they sacrifice features for cost, or do they try to push back on us to get the most amount of features for their outlay. Well, this is a no-brainer : they're going to try to get the most bang for their buck. We all want this.
  %p So did I make the right choice? - I think I did. Given the information presented to me at the time. We also had very little time to respond to the customers request for a quote and, in all honesty, I don't think that we were the 'prime' for the job anyway; we may have been a secondary quote giver. It happens.
  %p Next time, I'll ask more questions. Find out more. But next time, as with everything, I'll know more about the tools and resources at my avail.
  %p As for choosing the right environment... well, it's not what you think; it's not about Windows vs *nix, it's about home recording vs studio recording.
  %p The Prozac Blues Band has been rehearsing a whole bunch of songs over the last four weeks or so and last weekend we recorded nine tracks over the course of two very long days.
  %p Congratulations to all, I think that what we achieved was awesome.
  %p But I still wonder, since we spent about six hours setting up the house before we could begin - could we have set up quicker if we were in the right environment with the right resources? Don't know. How much could we have gained in output? How much more would we have spent using a studio? What have we sacrificed working at home? How much has it saved us?
  %p None the less, we got some cracking tracks that I'm very happy with. We've got a lot of spit and polish to do now though and hopefully, when the time comes, we'll choose the right environment to get that work done.
  %p I'll let you know when the album is available.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
