---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Stories
published: 2005-02-21
next_item: /blog/2005/03/ipod-linux-so-d.html
previous_item: /blog/2005/02/plumbers-crack.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Stories
  %p
    Oooh, I can't wait for 37 Signals to continue to
    = succeed "." do
      %a{:href => "http://www.37signals.com/svn/archives/001050.php", :title => "Signal vs Noise - Getting Real, Step 1: No Functional Spec"} explain this one
    Since
    %a{:href => "http://www.eaves.org/blog/", :title => "eaves.org - that's so stupid it's not even wrong"} my
    %a{:href => "http://www.rupertjones.com/", :title => "rupertjones.com - import com.rupertjones.*;"} buddies
    started working in agile teams I've been trying to interpret some of their new techniques in my
    = succeed "." do
      %a{:href => "http://www.see.com.au/", :title => "SEE Life Differently"} creative environment
  %p About six months ago I started experimenting with the technique of breaking down my programming tasks into little stories. These absolutely non-technical simple one liners were to explain and interpret my work back to those who had assigned me those tasks. While at first these have been "agreement" documents. I think there is an understanding that these can be written from the start to help build an understanding of what our projects are going to be from the outset.
  %p While I'm certain that I'm executing any strict agile methodology here, I believe that this technique is building a nice bridge between creative thinkers, grossly non-technical account managers and me - the programmery type guy. Most importantly though, people are happy. I can still design and estimate well against these stories and I have evidence about the initial application idea when designers 'create' or 'evolve' a concept with additional 'features'.
  
%aside.col-1-4

