---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Getting Married...
published: 2006-12-29
next_item: /blog/2007/02/married-mooned.html
previous_item: /blog/2006/12/the-court-house.html
topics: pants_off_living
...

  %h1 Getting Married...
  %p
    The big day is upon me (upon us)
    %a{:href => "http://www.99union.org/"} Meli and I
    are getting married tomorrow.
  %p After months and months of planning, to-do's, milestones, meetings, fittings, final arrangments and other bits and bobs we're going to get hitched.
  %p I can't tell you how happy and relaxed I am. I said it months ago and I feel the same way today, it's like getting ready to ease into a comfy, worn-in, old leather chair.
  %p This is not to suggest that Meli is a worn-out old Jason Recliner, not by a long shot folks. Our relationship is sturdy, strong, familiar, at-ease, relaxed, obliging, bouncy, supportive, warming and comes with a blankey. So making a promise to maintain that relationship is easy.
  %p I love Meli more that I can say, and I'm looking forward to making that promise official.
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong viktoria332
          %br/
          %small 23 January 2007
        %dd
          %p Good news! very intresting blog ;)
  


