---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: PILLOWFIGHT!
published: 2006-12-06
next_item: /blog/2006/12/the-court-house.html
previous_item: /blog/2006/11/online-video-vlogging-and-lonelygirl15.html
topics: pants_off_living
...
%article.col-3-4
  %h1 PILLOWFIGHT!
  %p
    You can have your
    %a{:href => "http://www.threadless.com/"} Threadless T's
    but when
    %a{:href => "http://www.bearskinrug.co.uk/_store/pillowfight/"} Mojo comes a callin'
    you better open up your wallet and start layin' down your bills.
  %p
    %img{:alt => "pillowfight.jpg", :height => "400", :src => "http://www.prozacblues.com/travo/blog/images/pillowfight.jpg", :width => "300"}/
  %p Many thanks to Kevin at Bearskinrug, I'm stoked to be wearing some of his art this summer! Check it out too, if you look closely I also got me a Mojo thank you card. Kudos to Kevin especially for these touches - it makes owning the t-shirt kinda special.
  %p I hope I don't spill beer on it.
  
%aside.col-1-4

