---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: The Court House Hotel
published: 2006-12-06
next_item: /blog/2006/12/getting-married.html
previous_item: /blog/2006/12/pillowfight.html
topics: pants_off_places
...
%article.col-3-4
  %h1 The Court House Hotel
  %p
    There could not have been a more gentrified place to enjoy a buck's party (ahem, gentlemens luncheon). Fourteen blokes and an afternoon of great wine, great booze - on tap no less - and brilliant food worthy of two hats. You must checkout
    %a{:href => "http://www.thecourthouse.net.au/mainscreen.htm"} The Court House Hotel
    yourself soon.
  
%aside.col-1-4

