---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: In Stereo
published: 2010-03-21
next_item: /blog/2011/01/the-cult-of-efficiency.html
previous_item: /blog/2010/03/on-brand.html
topics: geeky_stuff, pants_off_living
...

  %h1 In Stereo
  %p During a chamber music performance a week or so ago I wondered why orchestras and musicians are positioned the way they are during a performance.
  %p The obvious was pointed out to me by Meli, that the primary purpose of their positioning is for volume; softer instruments at the front and the louder instruments to the rear. Less obvious though, was another suggestion by a colleague, that it is a matter of convenience for the conductor, to enable line of sight.
  %p What I'm concerned with though is whether or not the musicians are positioned in such a way as to stimulate the left (logical), and right (creative) hemispheres of the brain.
  %p I noticed that generally, when the audience is facing the stage, the melodic instruments are usually placed to the left side and the rhythmic instruments to the right.
  %p In this way, music which provides the rhythm, structure and mode of the piece enters primarily the right ear and stimulates the left and logical side of the brain.
  %p Music which provides the melody and often the tension against the rhythm and structure enters the left ear and stimulates the right and creative side of the brain.
  %p Honestly, I don't know much about the science of this, a few Google searches didn't really provide any evidence to support the idea that music is heard and interpreted this way.
  %p None the less, orchestras have been arranged in this way for well over two hundred years. Surely there must be some evidence (and I'll accept colloquial evidence) that there is some sense to this.
  


