---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: On Brand
post_date: 2010-03-11
next_item: /blog/2010/03/in-stereo.html
previous_item: /blog/2010/03/fit-for-purpose.html
topics: geeky_stuff, pants_off_living
...
%article.col-3-4
  %h1 On Brand
  %p I think when Steve leaves Cogent, he takes a large chunk of the brand with him. I've battled to try and create some understanding of what brand is within our company, but in this case, you never miss your water 'till it's gone.
  %p "It" is all the cache and association that people make (particularly those people in the technology and development space) when they think of developers, coaches and team leaders who practice agile software development.
  %p Much to my chagrin, Steve has not blogged under the Cogent banner. He has blogged under his own name (or the iridescent urchin). This means that the momentum and value that Steve brings to the discussion and discourse on agile and development process has a tertiary link to Cogent not a primary link if his writing was posted under our banner.
  %p Worse still, there is an underlying belief that there is waste associated with setting up any form of blogging or content publishing on our own website. This further prevents us providing a platform to associate quality discourse and thinking about agile and development with the Cogent name in a primary sense.
  %p To muddy waters further, we aggregate all of our team blog posts under a subdomain at blogs.cogentconsulting.com.au. In one sense this is an efficient way to gather those posts and "rebrand" them as Cogent, but it seems to lack some kind of authenticity to me.
  %p For those who think this about image, you're mistaken -- it's about the association people make in their minds between Cogent as an entity and agile software development as the service that we provide. This is about people, not Google search indexing, and while Google helps, it can also reveal inauthentic or ambiguous associations if they exist.
  %p We're pretty active on the tweeting front though. Yet, we have a CogentThoughts twitter account that one or two of us very, very rarely post to. We're not actively celebrating our successes, nor are we advancing or agitating the discussion around agile software development using channels associated with our name.
  %p It's rather embarrassing to say this, but it's been nearly ten years since I read The Clue Train Manifesto, yet the core theme still resonates with me; markets are conversations.
  %p Some businesses converse visually (images, logos), others converse aurally (music, podcasts), others in a more meta-physical way such as the quality of service you had while engaging them or, the way they conduct themselves during business. Any way it happens, all of this contributes to the conversation that occurs between a business, the customers that engage it and the community that surrounds it.
  %p The conversations we have with the people we do business with, the community, our colleagues and our peers all contributes to the association that people make with our name and the work that we do. And I believe that's what brand is.
  %p We at Cogent will need to consider how we start to pull all our activity and thinking together so that there is a primary association with our people, agile software development and Cogent Consulting.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
