---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: On Purpose
published: 2010-03-08
next_item: /blog/2010/03/fit-for-purpose.html
previous_item: /blog/2009/02/the-city.html
topics: pants_off_living
...

  %h1 On Purpose
  %p People find all kinds of reasons to get up in the morning. They have an implicit understanding of the purpose of their lives - who they are, what they're doing, where they're going and who they're doing it for. Or, they just don't think about that stuff at all; some folk are just plain happy.
  %p Every few years or so, I find myself feeling a little lost. Who am I? What am I doing? Where am I going? Who do I want to be? What do /I/ want to do?
  %p While I'm getting a better handle on who I am. It's just the other questions that I'm a little hazy on at the moment.
  %p Of course, I can hear every pragmatic economic realist screaming: you work to support your family, to provide a safe and secure environment for your son to grow up in!. We'll duh - of course, but part of that is determined by how happy and fulfilled I am in my work and life.
  %p I'm very conscious of not crashing and burning out, suffering depression and loss of identity many years later. I don't want to find myself having lived an unfulfilled life.
  %p Having said that, that I feel this way every few years or so doesn't necessarily make me any better at resolving these feelings or answering these questions. Yet I do take solace knowing that I do ask these questions. The unexamined life is not worth living.
  %p With all that considered I've got Merlin Mann now screaming in my ears -- first, care.
  %p Problem I have at the moment is that I've been loudly proclaiming that I don't care. I've been frustrated with the purpose of my work at the moment and haven't felt close to the end product. References to software development being as part of a "line" don't help. Nor do "backlogs". This is the language of machinery and productivity, it's not the language of creativity or connection with your work.
  %p What's especially wrong with this is that I do care about what I do and I part of my frustration is that I have found myself separated from the deterministic part of my work. I'm reduced to twiddling bits. And that really blows.
  


