---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Hand wringers
published: 2008-02-27
next_item: /blog/2008/03/fighting-inertia.html
previous_item: /blog/2007/11/getting-leopard.html
topics: geeky_stuff, pants_off_living
...

  %h1 Hand wringers
  %p We've recently had some work done on our house and what struck me is the amount of hand wringing that goes on by tradies when asked to quote.
  %p "Awww gee mate, I'm not sure about this mate, it could get really expensive real fast mate..."  Why is that? - Is it the lack of confidence, inexperience, lack of exposure to similar jobs, isolation, lack of colleagues?
  %p We were lucky to have a brickie come by who took one look at the job and said, "Yeah, I can do this." My wife and I were like, "Great, how much?", expecting to pay up around the area a hand-wringer had quoted us. He quoted well under. "Awesome - when can you start?" Monday. Brilliant.
  %p He was confident, and when we had raised the worries and concerns of the other bricklayer who quoted, he was unconcerned; "I'm a brickie, it's what I do. I could rebuild this whole house." Love it. When we asked about other trades that we needed to be involved in our epic job, he had a network of contacts in other trades that he could call upon.
  %p I find the same thing happening in tech; hand-wringers. They get one sniff of the work and they start wringing their hands; "Aww gee, but what if... and then there's this thing that might not work... and if I don't get this then that happens..." Is it conditioning? Or the same reasons as above.
  %p
    Working with
    %a{:href => "http://www.cogentconsulting.com.au/"} Cogent
    gives me confidence, exposure and colleagues. Experience I'll get with mileage, but for now the first three go a long way.
  


