---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Content Stripped Bare
published: 2005-08-22
next_item: /blog/2005/09/hong-kong.html
previous_item: /blog/2005/08/pulling-a-calf.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Content Stripped Bare
  %p
    %a{:href => "http://www.designinflight.com/05July/content_stripped_bare_death_of_design_reign_of_content.html"} Andrew Boardman
    and (via)
    %a{:href => "http://www.mezzoblue.com/archives/2005/08/19/template_des/"} Dave Shea
    have pondered design this morning, and both provide an insight into the purpose and future of design when the content that it frames is being aggregated into a myriad of other viewers and channels.
  %p Make sure you check these articles out.
  
%aside.col-1-4

