---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Gettin' my Lance on.
published: 2005-08-02
next_item: /blog/2005/08/lanceinated.html
previous_item: /blog/2005/07/melbourne-inter.html
topics: pants_off_living
...
%h1 Gettin' my Lance on.
%p I'm now into week four of riding my bike to work. Thankfully Melbourne has been kind, giving us one of the driest Winters for some years. This morning was no exception, sunny warm and clear. Sweet.
%p There is heaps to love about riding to work; feeling fresh and clear headed when you arrive, living in expectation of droppin' a few extra kg's, checkin' out the girls runnin' around Prinny Park.
%p There are also a few things not to love; cars, trucks and morons in urban assult vehicles. Still, one of my fondest memories whilst riding home from St. Kilda to Hawthorn was seeing a woman with platinum blonde hair, draped in gold jewelery in a massive black Range Rover, obviously obscenely wealthy, getting booked by the police for a driving offence. She was crying her eyes out. Fantastic.
%p Have a great day.
%h3 Comments
%ol.comments
  %li
    %dl
      %dt
        %strong FireryDragon
        %br/
        %small 5 August 2005
      %dd
        %p You heartless man travo... that poor wealthy woman obviously cant come to grips with a driving offence, and will have to go out and buy a new Prada bag to make her feel better... Shame on you.

