---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Lanceinated
published: 2005-08-05
next_item: /blog/2005/08/my-friend-flick.html
previous_item: /blog/2005/08/gettin-my-lance.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Lanceinated
  %p
    Kudos to
    %a{:href => "http://www.eaves.org/blog-archive/000204.html"} Jon
    and
    = succeed "." do
      %a{:href => "http://www.eaves.org/sue/blog-archive/000203.html"} Sue
    You guys are an inspiration!
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
