---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: My Friend Flickr
published: 2005-08-15
next_item: /blog/2005/08/pulling-a-calf.html
previous_item: /blog/2005/08/lanceinated.html
topics: pants_off_living
...
%article.col-3-4
  %h1 My Friend Flickr
  %p
    So happy. Didn't have to code a single line and now I have a moblog, you can cruise online and check out either my random snaps
    %a{:href => "http://www.flickr.com/photos/prozacblues/search/tags:moblog/"} from my phone
    or
    = succeed "." do
      %a{:href => "http://www.flickr.com/photos/prozacblues/"} the whole 'shebang
  %p Stay tuned for my upcoming trip to Hong Kong and China. I've sussed out the whole global roaming thing and both the Hong Kong and Chinese communications carriers support GPRS - so I'm hoping that I can post the occasional snap taken from my phone while overseas.
  %p Joy!
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
