---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Hong Kong
published: 2005-09-02
next_item: /blog/2005/09/kunming.html
previous_item: /blog/2005/08/content-strippe.html
topics: pants_off_living
...

  %h1 Hong Kong
  %p These are just a few notes that I scribbled down in my journal (yes with pen and paper) while I was hanging around in the hotel room. Bear in mind that this is my first visit to Hong Kong and also my first visit to Asia.
  %p ...Somehow old ladies, bent over and slow, manage to occupy the entire path. Swaying and shuffling all over the place making it seemingly impossible to get past them.
  %p ...I don't know why they'd bother to put a Disneyland here. Really. Every public transport ride in Hong Kong is more surreal, trilling + sensational than any themepark ride conceived. The streets are filled with sight after amazing sight and there are hundreds of light filled, air-conditioned, brightly coloured malls, plazas and shopping centres with some of the best shopping to be had in Asia. I mean Disneyland...why bother.
  %p
    Of course the previous note was made
    %em before
    curiosity got the better of me and Meli and I actually went to Hong Kong Disney for the day, so my rant is no longer affected by my complete and utter ignorance of the Disneyland experience. Before Hong Kong Disney, the only other themeparks I have been to are Dreamworld (piss weak) and Sovereign Hill Ballarat. Need I illustrate my ignorance more?
  %p ...Here in Hong Kong they have mastered the art of the trolley. I'm sure that it's one of the unspoken secret martial arts. Requiring the keenest of balance, the greatest strength and the highest levels of agility. Pages could be written about it, with diagrams, illustrating the careful manouvers required to negotiate a trolley loaded with cardboard accross Nathan Road at 5pm in the evening on a Thursday night in the rain.
  


