---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Kunming
post_date: 2005-09-13
next_item: /blog/2005/10/wait-a-minute.html
previous_item: /blog/2005/09/hong-kong.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Kunming
  %p China. Strange paradox with juxtaposition coming at you from all angles; old, new, slow, fast, loud, quiet. LOUD! It never ended, well maybe at four or five in the morning. Here are some notes from my journal while I was in Kunming. The whole thing came as quite a shock.
  %p
    \...Kunming must be the hell where Taxi drivers go, except here they are re-incarnated as cyclists. Destined to ride around this city for all eternity. The cyclists here in Kunming - and there are
    %em many
    have the most frivolous abandon for their own safety. As do the drives of trucks, buses, minivans, cars, taxis and scooters. If you're on a bike here in China, you're just as likely to have a death wish; if a bumper from a bus doesn't kill you then the shit pouring from the exhaust pipe surely will.
  %p ...There are many types of bikes in Kunming too; old, rarely new, and many trikes which are kinda like the ute' of China. There is just no limit to the amount of stuff that a bike can carry. As a kid, I did a paper round; I had a basket and I carried a few hundred news papers. In China, that's nothin' - I'm gonna lug around seven-eight-nine office water bottles! Or perhaps I might rig up some kinda frame where I can carry eight crates of soda. Fuck it, if I have a trike my mate and I can lash a fucking six-foot-tall drinks fridge right on the back and we'll ride on down six lanes of traffic to relocate the fucker. Mad. Heroic. Seemingly normal for Kunming.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
