---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: A-1 Lebanese Bakery
published: 2006-07-20
next_item: /blog/2006/07/takin-some-small-steps.html
previous_item: /blog/2006/07/kaleidoscope.html
topics: pants_off_places
...

  %h1 A-1 Lebanese Bakery
  %p Best cheese pies on Sydney Road.
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong yumcharocks
          %br/
          %small 24 July 2006
        %dd
          %p But would A-1 win the Kebistan pastry off in the 3 way super bout between Tabets, A-1 and the norther interloper Akaar? A-1 is the heavy title holder with the groceries behind it to pack a weighty punch but the 2 young upstarts provide a stiff challenge to this old favourite.
    %li
      %dl
        %dt
          %strong Travo
          %br/
          %small 25 July 2006
        %dd
          %p Oh Yeah! I think so. In a recent Epicure column though there was a long article about the various meat pide / pizza's that can be found along this part of Sydney Road. Each shop, refecting their country of origin, has a unique take on this Middle Eastern snack.
  


