---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Bourdain tells it like it is - if you can't stomach this, look away.
published: 2006-07-07
next_item: /blog/2006/07/so-has-she-miss.html
previous_item: /blog/2006/07/oh-helen-how-could-you-get-it-so-wrong.html
topics: pants_off_living
...

  %h1 Bourdain tells it like it is - if you can't stomach this, look away.
  %p
    Oh this is just great! Chef Anthony Bourdain
    %a{:href => "http://www.megnut.com/2006/07/its-a-wonderful-life#comment-834"} responds in chorus
    to a guest post by Chef
    %a{:href => "http://ruhlman.com/"} Michael Ruhlman
    on
    %a{:href => "http://www.megnut.com/"} Megnut.com
    who is outraged by "those knuckleheads in Chicago and those sensitivos in California" who are fighting for the ethical treatment of molluscs... before they have a 20cm chef's knife shoved through their crusty exterior.
  %p
    That he uses the expression 'fucktard' only makes me realise more that sooner or later
    %a{:href => "http://www.eaves.org/blog"} Chef Jon Eaves
    will find himself right at home in a kitchen : he has the passion for food, and the intollerance of sensitivos who can't tolerate the environs that these kind of working conditions are reality to.
  


