---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: CERES Community Centre
published: 2006-07-16
next_item: /blog/2006/07/tom-phat.html
previous_item: /blog/2006/07/is-gibson-guitars-hamstrung-by-their-own-legacy.html
topics: pants_off_places
...

  %h1 CERES Community Centre
  %p CERES is a brilliant place to go and explore, we love to go there to collect local native plants for our garden.
  


