---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Doppleganger - perhaps, maybe. At least in name...
published: 2006-07-05
next_item: /blog/2006/07/oh-helen-how-could-you-get-it-so-wrong.html
previous_item: /blog/2006/06/more-fantastic.html
topics: pants_off_living
...

  %h1 Doppleganger - perhaps, maybe. At least in name...
  %p
    I have just received the coolest email. Steve, from the
    %a{:href => "http://www.kconlineradio.com/A/macandtravis.htm"} Mac And Travis
    radio show has dropped me a line to let me know that they've discovered our cool tunes. And - they want to play them on their show.
  %p It get's better.
  %p
    I've googled my own name at least a couple of times (okay, maybe a dozen times) but I've not seen
    %a{:href => "http://www.kconlineradio.com/A/mtbio2.htm"} this Travis Winters
    before! I know that there is a dirt track racing Travis Winters, a black student politician Travis Winters and I also think there is a university wrestler called Travis Winters. But now a internet radio DJ Travis Winters - how fucking interesting is that!?
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong WaltDe
          %br/
          %small 1 September 2006
        %dd
          %p Keep up the great work on your blog. Best wishes WaltDe
  


