---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Hands on people who become managers.
published: 2006-07-19
next_item: /blog/2006/07/the-green-refectory.html
previous_item: /blog/2006/07/launching-pants.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Hands on people who become managers.
  %p
    %a{:href => "http://37signals.com/svn/archives2/fireside_chat_with_khoi_vinh_and_jeffrey_veen_inhouse_vs_on_your_own.php#more"} This a fab discussion
    by
    %a{:href => "http://www.veen.com/jeff/index.html"} Jeffery Veen
    and
    %a{:href => "http://www.subtraction.com/"} Khoi Vinh
    both of whom are recognised as fantastic designers. Both now have killer leadership roles at Google (Jeff) and the New York Times (Khoi), what's recorded here is a great discussion about the difficulties faced by people who are typically very hands on as they move towards roles which require a greater degree of leadership.
  %p I'm hearing very similar things from developers who have been required to make similar transistions. Especially those comments that relate to influencing organisational change and hearing Jeff talk about giving design a voice in (what I think sounds like) an agile environment.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
