---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Is Gibson Guitars effectively hamstrung by their own legacy?
published: 2006-07-10
next_item: /blog/2006/07/ceres-community-centre.html
previous_item: /blog/2006/07/so-has-she-miss.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Is Gibson Guitars effectively hamstrung by their own legacy?
  %p
    There's a really interesting article over at Wired today reporting on the
    %a{:href => "http://www.wired.com/news/politics/intellectualproperty/0,71325-0.html?tw=wn_index_16"} result of an appeal by Paul Reed Smith Guitars
    against the ruling that their single cut-away electric guitar was designed too similarly to Gibson's famous Les Paul.
  %p And I suggest 'designed too similarly..' because I think that those in the know would agree that there is a great deal about the PRS that attempts to mimic in the Les Paul beyond the look. Selection and position of pickups, selection of woods and neck shape, the list goes on; all in a valid attempt to re-imagine a legend.
  %p
    Really, though - that's the point. I think the legacy of the Les Paul has effectively bound Gibson into a position where they are unable to develop that instrument beyond it's current format.
    = succeed ";" do
      %a{:href => "http://www.gibson.com/products/gibson/Hawk/Nighthawk/Standard2P.html"} They have tried
    unfortunately those instruments were regarded as poor cariactures of their flagship instrument. There is a
    %a{:href => "http://www.gibson.com/Products/GibsonElectric/Gibson%20Electric%20Guitars/Gibson%20USA%20SubPages/Discontinuted%20Models/"} long list of discontinued models
    which suggest Gibson have attempted to design an instrument which unshackles them from the constraints of the Les Paul, but there is little that they can do.
  %p Strangely though, I don't think of this kind of constraint when I consider the Fender Stratocaster - a guitar just as old as the Les Paul, but somehow unfettered. Sure, Fender have experimented wildy with a huge number of variables on the ol' Strat, and the initial design lend itself well to redevelopment, tweaking, hot-rodding.
  %p Why isn't Gibson as lucky? Is it Gibson themselves? Is it the Les Paul? Strange.
  
%aside.col-1-4

