---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Kaleidoscope
post_date: 2006-07-20
next_item: /blog/2006/07/a1-lebanese-bakery.html
previous_item: /blog/2006/07/the-green-refectory.html
topics: pants_off_places
...
%article.col-3-4
  %h1 Kaleidoscope
  %p This is a great place to go for breakfast - especially with a larger crowd. It is a huge place with plenty of room to move and the food is super-tasty and fresh. Pretty nice coffee too.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
