---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Launching Pants Off Places
published: 2006-07-17
next_item: /blog/2006/07/hands-on-people.html
previous_item: /blog/2006/07/tom-phat.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Launching Pants Off Places
  %p
    You may have noticed a couple of weird posts in your RSS feeds, these are the first in what I hope to be a large collection of landmarks - cafe's, restaurants, shops, parks, whatever - I'm going to record in my blog. I'm calling it
    = succeed "." do
      %a{:href => "http://www.prozacblues.com/travo/blog/pantsoffplaces.shtml"} Pants Off Places
  %p
    This is a bit of a
    %a{:href => "http://maps.google.com"} Google Maps
    API mashup with Movable Type. It's probably not the most complete and integrated mashup of it's kind available for MT but at this stage - it'll do nicely. For now I'm also using
    %a{:href => "http://www.prozacblues.com/travo/blog/locator.html"} this clunky example map
    to help get the co-ordinates for each of these locations as the Google location search for Australia isn't all that complete.
  %p I'd like to have a template for these entries, so that you also see a map shown on the individual archive entry, I'll try to get around to that when I can. Let me know what you think.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
