---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Oh Helen, how could you get it so wrong?
post_date: 2006-07-06
next_item: /blog/2006/07/bourdain-tells-it-like-it-is.html
previous_item: /blog/2006/07/doppleganger-perhaps-maybe.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Oh Helen, how could you get it so wrong?
  %p
    Seems our current Communications Minister, Helen Coonan
    %a{:href => "http://www.theage.com.au/ed_docs/brother.pdf"} is all twitchy
    after the
    %em Big Brother
    incident. Unfortunately she's mistaken "the community outrage about this matter"; thinking that people are upset upon finding that this incident was broadcast at all. Rightly, the public outrage was about the behaviour itself and if
    %em Big Brother
    is to have any real purpose it is to hold up a mirror - via all channels - of our own society.
  %p Big Brother should be allowed to show this behaviour no matter how disturbing (or mundane) that behaviour is.
  %p The ACMA though, has no business monitoring, regulating, reviewing or classifying Australian web based content. What content I place on my website is at my own disgression and will be policed and restricted under many other legislation.
  %p
    The irony is that if the ACMA were to even attempt this, they'd become more like Big Brother than
    = succeed "." do
      %em Big Brother
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
