---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: So, has she missed anything?
published: 2006-07-09
next_item: /blog/2006/07/is-gibson-guitars-hamstrung-by-their-own-legacy.html
previous_item: /blog/2006/07/bourdain-tells-it-like-it-is.html
topics: pants_off_living
...
%h1 So, has she missed anything?
%p
  Mel spent about two hours the other night slaving over the notebook, pouring over our
  %a{:href => "http://www.basecamphq.com/"} Basecamp
  website getting our wedding plans in order. Here is the result - sorry if it's a little long it's just my To Do list.
%p
  %img{:alt => "weddingToDo.gif", :height => "1012", :src => "http://www.prozacblues.com/travo/blog/archives/weddingToDo.gif", :width => "500"}/
%p It begs the question though - has she missed anything? - please post your replies and suggestions to me and I'll shove them online here and who knows, they may find there way on to the genuine article.
%p Mind you though, this list doesn't include our combined tasks, which add at least another fifteen or so to the list. The cutest one is in the 'After the Wedding' To Do :  Trav + Mel - Live happily ever after. What a sweetheart.

