---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Takin' some small steps and learning .NET
published: 2006-07-31
next_item: /blog/2006/08/aspnet-request.html
previous_item: /blog/2006/07/a1-lebanese-bakery.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Takin' some small steps and learning .NET
  %p Late last week and today I've been working on my .NET chops - reading, experimenting, failing, reading... repeat, adjust paradigm, rinse.
  %p
    I got a whiff of the IHttpHandler and it smelt as if it could be massaged into acting like a servlet. Fortunately there are a few other
    %a{:href => "http://www.prozacblues.com/travo/blog/archives/000085.html"} morons
    out there who would rather make ASP.NET behave like Java Servlets so they don't have to completely adjust their reality.
  %p Servlets rule; especially in a MVC configuration. Happy days. It's an arragement (perhaps framework?) that I comprehend well. If I can transfer that comprehension across to another language, well - the rest is furniture.
  %p
    Today, it was this page simply entitled '
    %a{:href => "http://msdn.microsoft.com/library/default.asp?url=/library/en-us/dnaspp/html/ASPNet-JSPMig-JavaServlets.asp"}> Java Servlets
    ' which really helped to crack the nut I'd be gnawing at since last week. Believe me, the key learning new things is really shoving the right keywords into a
    = succeed "," do
      %a{:href => "http://www.google.com/search?num=50&hl=en&lr=&q=httpHandlers+as+servlets&btnG=Search"} Google search
    if you're lucky you'll click on the right page that digests this information in the best way for you to understand.
  %p So what does this mean? - well, I can now build you a .NET application if prodded and in time I'll learn some of the nifty techniques and stuff that can be implemented with form controls and such. For now though, it'll be a relief to be able to explore this a little further and get some bits and bobs up and running. Database connection here, form on a webpage there, animated flaming logo over there...
  
%aside.col-1-4

