---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: The Green Refectory
published: 2006-07-20
next_item: /blog/2006/07/kaleidoscope.html
previous_item: /blog/2006/07/hands-on-people.html
topics: pants_off_places
...
%article.col-3-4
  %h1 The Green Refectory
  %p This is one of our favourite places for breakfast  - the Stack is still the best and most amazing meal on Sydney Road.
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong yumcharocks
          %br/
          %small 25 August 2006
        %dd
          %p The Green Refectory has to be applauded for taking the soy coffee seriously! They offer regualr soy milk or for those in the know they also offer Bon Soy - the rolls royce of soy milk. Nice one!
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
