---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Tom Phat
published: 2006-07-16
next_item: /blog/2006/07/launching-pants.html
previous_item: /blog/2006/07/ceres-community-centre.html
topics: pants_off_places
...

  %h1 Tom Phat
  %p This is one of our favourite breakfast places of all time.
  


