---
layout: '/_layout.html.haml'
persona: 'travo'
...
%article.col-3-4

  %h1
    Gig bag 
    %br
    museum piece

  %img.full-width{ src: href('images/gBagFromAbove.jpg') }

  %ol
    %li
      %strong Gladstone Bag.
      %br
      The one and only gig bag for blues men.
    %li
      %strong Harmonium.
      %br
      I obtained this only recently (within the last year or so, it's a really fun instrument to play. I used it on a recent recording with the Prozac Blues Band.
    %li
      %strong Victoria Bitter.
      %br
      This was in my kit when I unpacked it for the shoot. It's not a regular item, usually you'll find a bottle of single malt scotch for sharing with the other guys in the band.
    %li
      %strong Grommet Mojo.
      %br
      This is a keyring that's been floating around my gig bag for ages. I think he was a birthday gift from my sister.
    %li
      %strong Tabasco Mojo.
      %br
      This is a mojo that I made myself, it's a weenie little Tabasco Bottle with a leather bootstrap to make it into a necklace.
    %li
      %strong Ibanez Tube Screamer TS-808.
      %br
      Yup, this is the Holy Grail and I have one. Many, many thanks go out to my mate Chrisso who spotted this in a guitar shop in Melbourne twelve years ago for only $40! One of these recently went for auction on Ebay for nearly AUS $1000. They are home of tone.
    %li
      %strong Ibanez Tube Screamer TS-9.
      %br
      And if one wasn't enough the TS-9 is the perfect partner to the 808. The two of them together produce a sound that is, well, very good. I've used these with a bunch of different amps. In particular a Fender 59' Bassman Reissue and at the moment an early 70's Fender Twin Reverb and these pedals compliment the natural tones of both these amps beautifully.
    %li
      %strong Jim Dunlop Uni-Vibe.
      %br
      This is an example of a typically poorly informed impulse shopping purchase. I was in Chicago in 2002 and visted the Guitar Centre up on Clark Street. I really wanted a Tremelo pedal but got this instead. It's still a very cool pedal with an interesting sounding chorus. But I don't think I'd use the Uni-Vibe sound all that much in my set.
    %li
      %strong Jim Dunlop Cry Baby.
      %br
      I don't use this as much as I used to, it was a staple part of my floor setup when I was first playing. Heaps of fun too. This is probably about 12 years old and I've had it since I started playing. I mean...why wouldn't you have one?
    %li
      %strong D'Addario EXL115 Nickel Blues/Jazz Electric Guitar Strings (pack of 10).
      %br
      Previously I have used 12's but realistically there not a 'regular gigging musicians' string choice. Not because I'm weak or a pansy, but because they're down right expensive in Australia. $25+ for a set of 12's - no way. I'd much rather sneak 10 packs of 11's into the country for $75 and still enjoy great tone.
    %li
      %strong 5 meter, hand made, double core, Belden cable, guitar leads with Neutrix connectors.
      %br
      These babys took a long, long, long, time to arrive. My buddy Chrisso made me wait for these for ages. I make no assumption as to why, but I've always thought it might have had something to do with me trashing on his beloved Ibanez thinline Telecaster Custom copy, SRV 'Live at the El Macombo' style...
    %li
      %strong Gazoo.
      %br
      Again, using a variety of instruments to try and substitute a horn section.
    %li
      %strong String winder.
      %br
      I don't think that I've ever really used this in anger.
    %li
      %strong Patch Lead.
      %br
      My favorite.
    %li
      %strong Patch Lead.
      %br
      Not my favourite (notice how the jacks point the same damn way!
    %li
      %strong Pickboy Guitar Slide.
      %br
      I have big fat fingers on large hands. This slide is tapered which is kinda useful for me. Thankfully, it's made of steel and while I prefer glass - those damn things just don't last in my gig bag.
    %li
      %strong Jim Dunlop Capo.
      %br
      Handy littler suckers these.
    %li
      %strong Spare Guitar Strap.
      %br
      For those times when either you or a fellow stringer on stage has an unexpected strap break. You never know!
    %li
      %strong String and fret polishing rag.
      %br
      I've found that the best fabric for refurbishing strings and doing fret polishes is a soft fluffy cotton like flanelette. Very handy rag this.
    %li
      %strong Autosol.
      %br
      This stuff is great! I use it maybe three or four times a year (more if I'm gigging heaps) just to give the frets on my axe just a little clean up. It doesn't take much, cause I guess if you get too excited with this stuff you'll polish away your frets. But it makes playing a lot more comfortable.
    %li
      %strong Miniature Screwdriver Set.
      %br
      There are all kinds of little screwdrivers and stuff in there, handy for when the knob comes off your volume or tone pots.
    %li
      %strong Speaker Patch Lead.
      %br
      I was without an amp for most of 2003 and I was lucky enough to get a loan of my buddy Chrisso's MusicMan HD160 Head and KMD 4x10 Celestion box. This fat old patch lead made sure that they worked. Very important this!
    %li
      %strong Korg Tuner.
      %br
      This was a Christmas gift from my beloved Mother. God bless her, she knows the importance of a handy tuner. Unfortunately this little baby doesn't have an input and ouput loop, so I have to unplug to use it, but it's handy none the less.
    %li
      %strong Jim Dunlop Strap Lock.
      %br
      I recently picked up a set of three nifty strap locks. They're little plastic swivelly things which fit over your existing strap button. No need to drill into or modify your gear. Great!
    %li
      %strong Honer Blues Harp in D.
      %br
      I like to have a bit of a blow every now and then. I'm not very good and since my harps have been floating around the gig bag they're starting to get a little crusty. It's not fun when you start sucking and get a mouth full of crusty stuff down your neck.
    %li
      %strong Honer Blues Harp in A.
      %br
      This is the icky one with out a case.
    %li
      %strong Shaker Eggs.
      %br
      How much fun are these? The one with the gaf on it split and since it was repaired has a nice little muted rattle.
    %li
      %strong Snub nosed pliers.
      %br
      Essential gig bag, string manipulating item.
    %li
      %strong Medium Sized wire cutters.
      %br
      Another essential gig bag item.
    %li
      %strong Medium Small Phillips Head Screwdriver.
      %br
      Handy little screwdriver, good for fixing guitars and adjusting pickup heights, replacing batteries in Cry Baby's.
    %li
      %strong Assorted spare strings.
      %br
      When I was using 12's I found a source that sold loose strings in Tubes. I think they were marketed as Tube Sets. They were unbranded and about 1/3 of the price of packed strings of similar gauges. These are my spares.
    %li
      %strong Silicone Dessicant
      %br
      (Do not eat). I think this came with something I purchased. But it's been floating around my gig bag for a long, long time. I guess it must be useful then.
    %li
      %strong Raffle Tickets.
      %br
      From the Moe Community Fair. I'm gonna win that microwave oven, I swear!
    %li
      %strong Old Grunt Weazle Set List.
      %br
      This is a scrappy old set list still kickin' around my gig bag from the days with the 'Weaz.

%aside.col-1-4

  %h3
    Back to
    %a{ href: href('index.html') } Travo

  %h4
    Back
    %a{ href: href('../index.html') } Home