---
layout: '/_layout.html.haml'
persona: 'travo'
...
%article.col-3-4

  %h1
    Can Travo work for you?

  %p Yes I can! I am a capable and enthusiastic internet developer with a depth of experience and knowledge that covers many aspects of the internet software development industry.


  %h3 I am business focused.
  %p As a developer I care about business - both yours and the customers. Technology for technology's sake - boring. Technology which has been moulded and engineered to meet business goals and enable a productive user experience - that's what I'm about.

  %h3 I think hard about what you need.
  %p In my experience - there is never enough time is spent thinking about requirements and architecting an appropriate solution to the various problems and issues presented by a business when they ask for your help.

  %h3 I follow process.
  %p A small software development project deserves to be approached with the same careful attention to process as a large software development project.  Requirements gathering, specification, design, development, testing, deployment and review are all key elements of any sucessful project. Good process scales well. Documentation doesn't always need to be expansive, design doesn't always need to be elaborate - what's important is that, as a developer, you devote an appropriate amount of attention to your problem before you begin to solve it.


  %h3 Response to brief
  %p
    Recently I was required to
    %a{href: 'response-to-brief.html'} respond to a brief
    for a government position I was applying for, while I was initially reticent to do the exercise I found it to be a fairly revealing examination of the experiences I have had and my approach to them.

  %p
    Are you interested in reading my CV? Please contact me to get a copy of it.

%aside.col-1-4

  %h3
    Back to
    %a{ href: href('index.html') } Travo

  %h4
    Back
    %a{ href: href('../index.html') } Home