---
layout: '/_layout.html.haml'
persona: 'travo'
title: Travo
...
%article.col-3-4

  %h1
    Travo

  %h3
    %a{href: href('gig-bag-museum-piece.html') } Gig Bag Museum Piece
  %p
    Ever wondered what the hell is inside a working muso's gig bag. In particular a guitar slingin' bluesman. Well, I'm still wondering too. In the mean time -
    %a{href: href('gig-bag-museum-piece.html') }> take a look inside mine

  %h3
    %a{href: href('i-can-build-web-apps.html') } Can Travo work for you?
  %p
    I am in the job market. If you seek a business focused, user oriented developer with skills in ASP/MSSQL, PHP/MySQL and Object Oriented Techniques you should
    %a{href: href('i-can-build-web-apps.html') }> read more
    about me.

  %h3
    %a{href: href('holden/index.html') }> I built a car (with a lot of help).
  %p
    In 1994, while working at Monash University Gippsland, I met a guy who had a car. This car damn near changed the course of my life and provided a very satisfying distraction to many a weeknight and many a weekend. My
    %a{href: 'http://www.earlyholdens.com/main/fc.html' } Holden FC
    is my pride and joy. This is the story of how
    %a{href: href('holden/index.html') }>my Holden
    came back to life.

  %h3
    %a{href: href('not-the-lone-ranger.html') }> Not the Lone Ranger
  %p
    I read an article in The Age
    %a{href: 'http://it.mycareer.com.au/news/2001/09/07/FFXAQQ1L6RC.html'}(now long lost)
    about some poor arsehole's horrible experiences getting, understanding and installing broadband internet. I read the article and realised that I wasn't the lone ranger when it came to my experiences, many of the grief he described reflect my own and, unfortuntately, I have a
    %a{href: href('not-the-lone-ranger.html') }> few more shitty ones
    to add.

  %img.f-left{ src: href('images/bassman.png'), alt: "My beloved Fender Bassman '59" }
  %h3 Beloved Fender Bassman

  %p
    I sold my amp to
    %a{ href: 'http://www.gav-net.com/' } Gavin
    before I went overseas in 2002. You better believe that I miss my baby, if you want to sell one - please contact me!


  %h4.clear Really, really old stuff.

  %h3
    %a{href: href('xml-navigation-technique.html') }> XML Navigation Technique
  %p
    I wrote a little thing about how I used an XML Doc to store my site structure, and the ASP (JScript) Code I write to slurp it out.

  %h3
    %a{href: href('optimised-for-ie.html') }> Optimised For IE
  %p
    This is me having an epiphany about accessibility.

%aside.col-1-4

  %h3
    %a{ href: href('../blog') } Blog

  %p
    There's fresh stuff posted over at the
    %a{ href: href('../blog') } Guide to Pants-off Living
    check it out, for fun.


  %h3
    %a{ href: href('travo.prozacblues.com') } Tumblr

  %p
    Occasionally, I post stuff on
    = succeed '.' do
      %a{ href: href('travo.prozacblues.com') } my tumblr

  %h4
    Back
    %a{ href: href('../index.html') } Home
