---
layout: '/_layout.html.haml'
persona: 'travo'
...
%article.col-3-4

  %h1 Not the Lone Ranger

  %h3 Just finished reading the article: The Cable Guy. I share much of those experiences, and sadly, many more.
  %p
    Firstly, I believe that the consumer experience of the broadband internet
    service is very similar to Pay TV, you get a cable, satellite or phone line
    to the house, they give you some cables, a shiny black box that does all the
    magical decoding and stuff and...wa'lah. You have Pay TV or Broadband
    internet. An administrator determines what services you get and how that
    affects your monthly charges. There are contract terms. And FoxTel as
    compared to Telstra has few hidden charges (...we'll get to that later) and
    in FoxTel's favour they generally KNOW THEIR PRODUCT! Telstra, on the other
    hand, well.
  %p
    I was sharing a two room terrace, in inner-city Melbourne (Carlton), when we
    moved in we notice that there was a cable already servicing the house (grey
    telstra cable box already outside) - so we (housemate and I) got FoxTel. No
    grief. No problems.
  %p
    As some of my more technically astute colleages at work were getting cable
    internet access (and raving about it) I discussed it with my housemate and
    we decided to apply and have it installed. We talked about what plan we
    would use, and decided that surely we wouldn't need to download more than
    256Mb per month and that 256 Kb speeds were surely fast enough for us... How
    wrong was I?
  %p
    Apart from installation, the initial contract fee our monthly charge was
    going to be a little under $50. $25 each - which was less than what my
    housemate was paying for his dialup account per month.
  %p So we connected to the blindingly faster cable internet in late June 2000.

  %blockquote "I was on the blower to Telstra immediately, realising that we'd chosen the wrong plan for our usage (we needed the Freedom Deluxe plan; uncapped and 512Kb speed) and wanted to change - immediately."

  %p
    We didn't get our first bill until September 6th - it was just over $600.
    This included the last few days of June and the whole of July, this did
    include the installation ($190) but it also included an 18c charge for every
    Mega-byte that we downloaded above our 256Mb cap - all 1.2Gb worth.
  %p
    I was on the blower to Telstra immediately, realising that we'd chosen the
    wrong plan for our usage (we needed the Freedom Deluxe plan; uncapped and
    512Kb speed) and wanted to change - immediately. I was told that Telstra had
    brought their cable billing service in house and were _really_ behind, they
    were sorry about that. They were happy for me to upgrade to Freedom Deluxe,
    but that wouldn't come into effect until the end of the month. For some
    reason this was outside of the capabilities of their billing system.
    Frustrated, I relented, though I was struggling to accept that a company
    that profits in orders of billion's couldn't afford a more superior billing
    system.
  %p
    We were charged under the other plan for August($650+) and September($750+).
    We had become addicted to superfast internet and these figures reflect that
    \- even though we tried to curb our usage. Unfortunately all efforts to guage
    our usage through online tools at telstra.com were useless - the tools often
    didn't work or indicate anything useful. I was almost convinced that our
    account was being abused in some way - and though I tried to get some raw IP
    logging information from Telstra (which is what they use for their billing)
    \- I was going around in circles.
  %p
    Naturally though, the bill that we received for October was under the old
    plan and had not been adjusted to Freedom Deluxe. Again I had to call and
    explain to billing that they hadn't got our billing right - fortunately
    though there was a detailed list of notes regarding the kerfuffle and they
    adjusted the billing accordingly.
  %p
    We stayed in our inner city terrace for another 9 months before my housemate
    and I were forced to move to more comfortable (and less expensive) premises
    a little further out of the city (Brunswick). This property did not have
    cable pre-installed but we did notice that the street was serviced by cable,
    as it was hanging along with the power cables on our side of the street
    (note - _our_ side of the street).
  %p
    We called FoxTel, and made our application for cable, as it didn't already
    service the house they advised us that the famous grey box would need to be
    installed but it would be non-invasive and that the cable entering the house
    would use the same entry point as the existing antenna cable. No drilling or
    invasive installation required.
  %p
    After a little while, I had to follow up on the FoxTel application - I
    hadn't heard from them and wanted to know what the problem with our
    application was.  They have to get confirmation from Telstra to ensure that
    they can provide the service. They said they'd look into it. I later spoke
    to another service rep for FoxTel and they had advised us that while our
    street had cable - the house that we lived in was not able to receive it.
    The FoxTel rep. advised us that Telstra had met their allocation to provide
    cable to the houses in the street, up to 230, and that only odd numbered
    houses after could receive cable, 231, 233, 235...our house was 232! The rep
    said that this may have something to do with the cable being on that side of
    the street... "But the cable is actually mounted on the power-poles on our
    side of the street!", I said.

  %blockquote "Oooh, that's weird."

  %p
    So we contacted Telstra, looking for greater understanding. There was none
    to be found. We actually had to explain to the rep. from the new connections
    department the nature of the allocation stuff. The rep didn't get it until
    we asked her to see if 231 (the house number before ours) was able to
    receive cable...it was. She naturally suggested it was because the cable was
    on that side of the street. I advised her that it physically wasn't.
  %p
    Although FoxTel offered to install a satellite - to quell our rampaging
    addition to 35+ channels of TV. We declined. And they sent us an padded
    parcel pack for us to send back their cable gear - at no charge.
  %p
    Broadband internet is not a singular service that you get from Telstra,
    there is ADSL and there is Cable - they have different service departments
    and different connection departments. There is no consumer facing
    consolidation of their services at all. When you look online to see if your
    house is able to receive cable, the web-page you use is different to the
    web-page you use for ADSL - it'd be nice to type your address and other
    relevant details into one page to see what services you can get to that
    residence. But nah, that'd be a stupid way to spend $billions profit.
  %p
    To disconnect from cable - we were going to incur a nasty termination of
    contract fee. Even though termination of our cable contract was not because
    we didn't want it - it was because we could no longer get that service to
    our house.
  %p
    By arguing this point, Telstra waived the termination of the contract. The
    rep. I spoke to also offered to connect to ADSL for the cost of the transfer
    fee. This is essentially allowing you to connect to ADSL for any contract
    term for the amount of an 18 month contract term ($180) - this suited us
    nicely. We were happy to go across to ADSL, as long as there weren't any
    futher nasty charges that we had to incurr other than the more expensive
    monthly charge for the Freedom Deluxe service (weren't gonna get bit by that
    dog again!).
  %p
    I would later have to pay the full amount for the three month contract that
    I selected (attempting to avoid any nasty early break of contract fee)
    because the offer was not documented by the sales rep. that offered it - I
    didn't argue the point. My willingness to battle Telstra had been exhausted.
  %p
    We have had ADSL now for nearly three months and I felt a warm glow when my
    July bill arrived with $0.00 to pay. Telstra had to bite the big one because
    their ADSL internet service was unreliable - they blamed it on a third
    party.

  %p So what have I learnt?
  %ol
    %li
      %p
        Telstra collectively don't know their product. There are severe
        inconsistencies among individuals in the understanding of their broadband
        product - cable and ADSL. Consumers don't have a chance if they speak to
        different Telstra sales or billing reps. and get conflicting messages.
    %li
      %p
        Be mindful about the hidden costs; ask, verify, understand and
        confirm. This applys to everything you want to do with your broadband
        service (in fact anything you buy). Additional users incur additional costs.
        Downloading more than your allocation incurs addional costs. Moving your
        ADSL account from one phone number to another phone number (say you moved
        house - even if you moved next door and got a new phone number) incurs
        additional costs.
    %li
      %p
        If a sales or billing rep advises you or offers you something, have
        them note this is their records. Telstra keep reasonably detailed logs about
        their interaction with their customers. Protect yourself by ensuring that
        the information they keep reflects what they have told you. Have them read
        it back to you. It may save you money later on.
    %li
      %p
        The consumer side of ADSL and Cable has been trivialised by geeks
        and a prevailing fear of computing/networking among consumers.  It's just
        not that complicated. Telstra include network cards in their installation to
        support consumers who don't understand that broadband is not about dialup
        modems - it's about large scale public networking. If you don't have a
        network card, the nice Telstra (sub-contractor) will plug the right one into
        your 'putey and get it all working. It should all just work. If you do have
        a network ready machine - say thankyou for the network card (put it in the
        draw) and have them make your existing machine work. Put their network card
        (unless it's better than the one you have ;-), doubt it though. Telstra are
        obligated to get your gear working but naturally there are boundaries to
        this. They probably won't help you set up your Sun Solaris server cluster -
        but they will support Windows 98. Check the
        %a{:href => "http://www.bigpond.com/broadband/", :target => "_blank"} documentation
        on this.
    %li
      %p
        If you're a geek or a boffin, or you like to tinker with 'putey's
        then what you do after the stuff is installed is your problem. You have to
        support your own grief. This applies to ADSL and Cable like it applies to
        FoxTel. The FoxTel guy provides the service to your house and tunes the Teev
        or VCR into the set-top-box and gets it all working. If you want to run the
        set-top-box through your HiFi, then your DVD player and then into your
        VCR...you get the cables and you get it all working.
        If you want to set up a Linux firewall and run IP masqerading and ra
        ra ra...after the Telstra dude has installed it - it's your problem.
    %li
      %p
        If you have a sharehouse and want to avoid paying for additional
        users 'cause there are four of you who want to connect to the internet. Get
        educated and get gear. There are some great home networking packages and
        products available from
        %a{:href => "http://www.netgear.com/", :target => "_blank"} Netgear
        (sold by
        %a{:href => "http://www.harristechnology.com.au/", :target => "_blank"}
          Harris
          Technology
        in Australia) which allow
        you to set up a home ADSL/Cable router (look it up) and allow you to use one
        login. You're not entering some scary geek world this is _the_ world.
        If you buy a product you usually; read the manual, plug this stuff
        in configure it and it works. If it doesn't - ring tech support for the
        device like you'd ring tech support for your microwave if it didn't work.
        It's just not that hard or scary.
      %p
        Oh, and between four people the monthly cost would be tiny for
        superfast internet access!
  %p
    I'm a technical guy, and I would've thought that thanks to my geekish
    genetic makeup I may have avoided such a nightmare - but I wonder if that
    was at all possible, considering the obstacles that faced me were not
    related to the technology (every item of hardware and software installed has
    worked flawlessly), but were related to the service.
  %p
    The guy (sub-contractor) that installs the cable is different from the guy
    (sub-contractor) that installs your cable modem, network card and sets up
    your computer. The ADSL guy (sub-contractor) relies on the Telstra guy to
    set up the line at the exchange properly so you can get ADSL. The guy who
    installed ADSL at my house complained that he'd been to 4 installations
    already that day and that each of the different Telstra exchanges had
    physically not been set up properly for ADSL - they'd simply gotten the
    wires around the wrong way - he'd had to go to the exchanges himself and get
    it right!
  %p
    What hope do consumers have when the service providers do not comprehensively
    understand all aspects of the service that they provide?

%aside.col-1-4

  %h3
    Back to
    %a{ href: href('index.html') } Travo

  %h4
    Back
    %a{ href: href('../index.html') } Home
