---
layout: '/_layout.html.haml'
persona: 'travo'
...
%article.col-3-4

  %h1 Optimised For Internet Explorer...Yeah Right?

  %p
    When I first decided that I was going to redesign the prozacblues.com website I was thinking of all these great things I could say to Netscape users, Opera users, and every other shmo that wasn't using a web browser written by the
    %a{ href: 'http://www.microsoft.com/'}> evil empire.

  %p
    It would have been the splash page to die for.

  %p
    But then I started to see some
    %a{ href: 'http://www.zeldman.com/'}really great websites
    ', that didn't go either way. Didn't say 'This site is optimised for IE' or 'This site supports version 4.0 and above browsers only'. The true genious behind their design is not descrimination but
    %a{ href: 'http://www.webstandards.org/'}standarisation
    '...and great content. Their content is king.

  %p
    I realised also that while I loved the idea of prozacblues.com - I didn't really have a thing of quality on it. Thankfully though,
    %a{ href:'../dave/index.html' }Dave does
    '. But this article my friends is about web standards, inconsistent browsers and the banes of my existence.

  %p
    Nothing annoys me more than a zealot raving on about what their latest obsession can do and why I should optimise my code for the features of the latest version of Netscape, or why I shouldn't use layers or dHTML because they don't render consistently in Opera. Gee Whiz - lucky I didn't run off and optimise my site for WAP. I should really though offer a lite version for PDA's - NOT!

%aside.col-1-4

  %h3
    Back to
    %a{ href: href('index.html') } Travo

  %h4
    Back
    %a{ href: href('../index.html') } Home
