---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Air guitar - Cool tech
published: 2002-08-01
next_item: /blog/2002/08/homeland-insecu.html
previous_item: /blog/2002/07/work-experience.html
topics: old_blog
...
%h1 Air guitar - Cool tech
%p Yamaha have created another great travel guitar (dave has one of their fine creations already) and it's a real doozie!
%p It comes with it's own internal digital pre-amp and processor, and breaks down nicely for your suitcase. Cool.
%p
  No substitute for a good ol' Telecaster though, which doubles as an ironing board, cricket bat, stable table, chopping board...
  %a{:href => "http://www.giles.com/yamaha1/pr/mus/guitar/silent_0202.html", :target => "_blank"} Check it out!

