---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Delta Blues - Thanks
published: 2002-08-16
next_item: /blog/2002/08/every-journey-h.html
previous_item: /blog/2002/08/up-and-running.html
topics: blues_highway
...

  %h1 Delta Blues - Thanks
  %p
    Many thanks to
    %a{:href => "http://www.deltablues.net", :target => "_blank"} Junior Doughty
    for permission, hopefully, to use his great photography in my banner above.
  %p
    The little shack is of
    = succeed "," do
      %a{:href => "http://www.deltablues.net/roque.html", :target => "_blank"} Roque's Blues Hall
    Natchitoches, Louisiana. Of course, the long road south with the Caravan is Highway 61.
  


