---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Every journey has a beginning
published: 2002-08-25
next_item: /blog/2002/09/alcohol-sex-and.html
previous_item: /blog/2002/08/delta-blues-tha.html
topics: blues_highway
...

  %h1 Every journey has a beginning
  %p I realised last night that this search for my blues roots has a great starting point - Melbourne.
  %p I went to see Geoff Achison last night launch his new CD, Chasin' My Tail, at the Corner Hotel. Seeing the great man play, and bloody well enjoy himself so much, highlighted so many things about blues in this city and the blues in me.
  %p The Blues. Melbourne Blues Music. We have inherited our love of the blues third hand. So much of our music was digested for us by the Brit's before it made it to our golden shores.  It's no surprise then, that the musicians and aficionados are, and have had to be, encyclopaedic in their study and memory of where 'our' music came from.  When you see really good Melbourne musicians, like Geoff Achison, Chris Wilson, Ian Collard, Andy Cowan and many others, they have forged their own sound by carefully learning, digesting and imitating and embellishing the music which constitutes a five decade history of rock & roll, blues, soul and even funk arriving in Australia.
  %p Geoff played like the chameleon that he is last night. Drawing from his enormous grab back of licks, sounds and styles to move from classically infused blues to jungle funk.  The best thing about Geoff though is that while he can be reminiscent of the greats - too many to mention - he is unique. His depth and passion serves as a foundation for how he plays and a genuine empathy for the stories he tells in his songs.  He knows' the truth behind the every line he sings and it's there behind every note he plays.
  %p That's what I'm in search of - more great storytellers - passionate, soulful, genuine and close to their blues.
  %p What's the blues? The blues is what you don't have, can't have, won't never have or somebody else is already got.
  %p
    Go and get Geoff's new CD -
    %a{:href => "http://www.souldigger.com.au/", :target => "_blank"} the Soul Digger
    should set you right and let you know all the great places to get it.
  %p
    Oh yeah, and subscribe to your community radio station.
    %a{:href => "http://www.rrr.org.au/", :target => "_blank"} RRR
  


