---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Homeland Insecurity
published: 2002-08-14
next_item: /blog/2002/08/melbourne.html
previous_item: /blog/2002/08/air-guitar-cool.html
topics: old_blog
...
%h1 Homeland Insecurity
%p
  This is a
  %a{:href => "http://www.theatlantic.com/issues/2002/09/mann.htm", :target => "_blank"} fantastic article
  about the weaknesses in security systems - point of failure.
  = succeed "," do
    %a{:href => "http://www.counterpane.com/schneier.html", :target => "_blank"} Bruce Schneier
  a significant figure in crypography believes that security systems should fail gracefully. It's long but well worth the read.

