---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Melbourne
post_date: 2002-08-15
next_item: /blog/2002/08/up-and-running.html
previous_item: /blog/2002/08/homeland-insecu.html
topics: blues_highway
...
%article.col-3-4
  %h1 Melbourne
  %p Still in Melbourne, getting my shit together for the big trip!
  %p Nervous as hell - only a few more weeks to go before I finish work and fly out, I hope I remember everything...
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
