---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Up and Running
published: 2002-08-15
next_item: /blog/2002/08/delta-blues-tha.html
previous_item: /blog/2002/08/melbourne.html
topics: blues_highway
...

  %h1 Up and Running
  %p The trav-o-logue is happening...lookout!
  %p There will be updates-a-plenty while I'm on the road, plus this site will feature an overview of my trip and a whole bunch of other cool stuff; mp3's to get you in the mood and maps to follow the journey.
  


