---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Learning Java - take nothing for granted.
published: 2006-04-05
next_item: /blog/2006/05/thank-the-gods.html
previous_item: /blog/2006/03/seo-gone-mad.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Learning Java - take nothing for granted.
  %p
    The devil really is in the detail when it comes to learning Java, I realized this when I first attempted to code my first class
    %em years
    ago. And the reason I'm having a crack at Java (JSP/Servlets) is that I think I'm old enough... perhaps mature enough... to attempt a grasp on the kinds of minute protocols, courtesy, manners and ritual required to master this language.
  %p
    I want to be a little miffed at
    %a{:href => "http://www.eaves.org/blog/"} my
    %a{:href => "http://www.rupertjones.com/"} buddies
    for not mentioning these nuances; ever - but rather, I'm kinda impressed that the've managed to keep the secret of '
    %a{:href => "http://www.thesimpsons.com/episode_guide/0612.htm"}> the stonecutters
    ' from me for so long.
  %p Because I appreciate case sensitivity, I was able to work it out. I'm sensitive to those cases, although for a long time, I was indiscriminate and careless with regard to the case. Now I am their bitch.
  %p
    Despite this there are stylisticly, some things which I have been getting away with in my old ways, which are not appropriate when entering such a rich community as my colleagues. Rightly, I feel grotesque, hideous, a heathen.
    %br/
    %code
      %br/
      <c:out value="${approval.id}" />
      %br/
    %br/
    Works only if your class has the method;
    %br/
    %code
      %br/
      public int getId()
      %br/
      {
      %br/
          return _id;
      %br/
      }
      %br/
    %br/
    Not this method;
    %br/
    %code
      %br/
      public int getID()
      %br/
      {
      %br/
          return _id;
      %br/
      }
      %br/
    %br/
    \...because capitalisation in this way is not considered appropriate, or polite.
  %p
    It's a fucking convention. Like taking off your shoes before entering a Japanese home. Like wearing your underpants
    %em underneath
    your trousers. They are the things we do to demonstrate our acknowledgement of
    %em years
    of agreed behaviour and practice.
  %p I guess it just would have been handy if I knew in advance. Like, before I decided to take a shit in the potted palm.
  
%aside.col-1-4

