---
layout: '/_layout.html.haml'
persona: 'travo'
title: "I Built A Car"
...
%article.col-3-4

  %h1 1958 Holden FC

  %h3
    %a{ href: href('part-one.html') }Part One — Dreaming and Doing

  %p Developing an idea. Getting in up to your arm-pits. Resource pooling. Relocation.

  %h3
    %a{ href: href('part-two.html') }Part Two — Reality Bites
  %p The onion. The truth. Decisions, decisions. Backyard artisans.

  %p
    So, for the longest time, parts three four and five are unfinished. Not
    because I don't have a great story to tell, rather a hundred other stories
    took precedence. Life, work, marriage, kids, work, music.

  %p
    If you have waited, and waited for these stories to be told — I apologise.
    For now, the placeholders will remain, and one day, I finish the story.

  %p
    I still have this damn car mind you and it's nearly due for
    %em another
    restoration! Money pit.

  %h3 Part Three — Slow Progress
  %p Steel and elbow grease. Rubbing. More rubbing. Furniture for your car. Some painting and more rubbing.

  %h3 Part Four — Manufacture and Impatience
  %p Reassembly. Sourcing new bits and bolts. Wiring without a clue. Lessons in manufacture and customisation. Testing.

  %h3 Part Five — Ready for the Road
  %p Registration. Old rubber. Tanked. Trimmed. Lusting for lustre.

%aside.col-1-4

  %h3
    Back to
    %a{ href: href('../index.html') } Travo

  %h4
    Back
    %a{ href: href('../../index.html') } Home

