---
layout: '/_layout.html.haml'
persona: 'travo'
title: "I Built A Car"
...
%article.col-3-4

  %h1 Restoration: Part Two

  %h3 The onion
  %p Once the FC was in my own shed (really my Mum's - god bless her) I could spend a bit of time each night working on it. I was still under the impression that with only a little bit of 'appearance work' my baby would be back on the road in no time. How wrong I was.
  %p I spent quite a bit of time slowly pulling it apart, removing rubbers, carpet, trim and...stuff. I had already learnt how to ruin a project (a Ford XM Ute) by dis-assembling things fairly hap-hazardly and not taking enough care to catalogue and organize things. Despite that though, as I look back, I realise that I could have still taken more care to organise and catalogue all the bits and pieces of the car as I pulled it down.
  %p As the car slowly revealed itself, the layers of rust damage and major restoration issues became more clearly apparent. I had known that the front floor pans were rusty, but they were severely rust damaged. This was also the case for the cross-members underneath the floor pans, the lower parts of the boot behind the rear wheel arches, the seal channel around the boot, the lower-rear parts of the front guards and the lower halves of the doors.
  %p I was starting to become a little anxious about how soon the FC would be back on the road. I had begun to gather parts; new cross members and floor pans to start with, naiievly thinking they could easily be slapped in, replacing the damaged older ones.
  %p I called on another mate, Allan, who'd become interested in the project I was working on - he'd restored an old Torana - and I told him about the job at hand and what needed to be done.
  %p "Al, all I really need I someone with a mig welder and some experience to come by, cut out these dodgy pans and weld in the new gear."
  %p With a little persuasion, he arranged for a mate of his to drop by with his stuff and have a look. He was about to set me straight.
  %p As happy as I was to have the car in a workspace of it's own, clearly my shed wasn't resourced well enough to support an operation like this. Al and his mate really needed to get in, under and around my car - it wasn't even on stands.
  %p Al's firm advice went something like this; "Mate, you're gonna need to strip the car down, motor out, front end off, rear end off, doors off, boot off, get those bloodly seats out and strip it right down. Then we can shift it out into your back yard, roll it over on it's side - onto some tyres - and work on the underneath. That's how we're gonna get this done.
  %p I was horrified - I wanted to be driving it by the end of the year. This was obviously shaping up to be the "big job" that many in the know had told me it would be.

  %h3 The truth
  %p I was deluding myself about the timeframe and I had not yet been ready to approach this project with the seriousness that it needed. As good as the FC looked, it still really needed a shitload of work to get it back on the road.
  %p I had to prepare myself for the long haul and think about the steps now required to get the project turned around - from a jinky backyard job to a medium level ground-up rebuild. This would involve;
  %ul
    %li
      %p stripping the car down to a rolling shell;
    %li
      %p separating the major components: front subframe, body, front end.
    %li
      %p blasting the body and subframe and finding someone to repair them.
  %p This was just going to be the start.
  %p It was a pretty involved process, stripping down the car. I remember Jim still helping me during this part and at one point we were all oxy and elbows underneath the car trying to undo the subframe bolts. Jeez they were tight.
  %p Everything came apart though and soon we were able to get the body and subframe onto a tandem trailer and to a sand blaster. This would eventually prove to be both an ill informed decision on one hand and a blessing on the other. The place we found to blast the lower part of the body was a real sand blasting house, who's usual business was dredger components and large machinery from the Valley - not delicate old Holdens. There was no mercy shown on the rusted out front floor pans though, and when the car was done, they looked like lace curtains...well, what was left of them. I only had the lower part of the car done - a stroke a luck - as the sand blasting was much to strong to have done the entire panel work.
  %p I would later take the car to Ernie of BlastAway in Moe who uses a much more appropriate bead-blasting technique and, even then, stays well away from the large flat places like bonnets, roofs, doors. He does get into all those hard-to-reach places though. So, should you ever get some bead-blasting done, make sure that you fish-oil your car well afterwards otherwise you'll be back to square one after a few years.

  %h3 Decisions, decisions
  %p To be honest, I can't remember who referred me to Kevin Smith, but I owe them a debt of gratitude. Kevin is an award winning hot-rod builder from Yinnar South. His expertise in chassis building and engineering is second to none down there and he was going to be the man to do the first major work on the FC.
  %p This was going to be the FC's first visit to Kev, I would later take it back to get a Rod Hadfield sub-frame fitted - more on that later though. Not only did Kev do a kick-arse job on the new cross members and subframe repairs, his son, who was doing his apprenticeship as a panel beater did a great job stitching in my new floor pans.
  %p When I went to pick up the car from Kev's I spoke to him about the next steps, what to do and who would do it. I needed to find someone who was willing to get involved in this project and help out with panels and paint. He recommended a couple of blokes; one who specialized in two-pac - a toxic and nasty path I didn't want to go down - and Ken Tate a hobbyist, who preferred to work in acrylics. That suited me fine.
  %p I hauled the body back home to the shed and reached out to Ken Tate. He agreed to come by and take a look at the car and consider it as a project he would undertake. He drove his late fifties Ford Victoria around, I reckon it was to impress me as much as I needed to impress him with my project.
  %p In the end he agreed to undertake the project, and at this stage he was going to ready it for paint. So the car would be prepped to undercoat and I had to find someone else to do the spray job. I was pretty damn grateful and we made plans to get the car around to his place. He had a project ahead of mine and needed to get that finished before I was to deliver the FC to his shed and get things underway.

  %h3 Backyard artisans
  %p I really want to pay tribute to both Kevin and Ken, these guys are really much more than 'back-yarders' they, as far as I am concerned, are as close as you get to artisans. Both men have spent a whole lot of money and time building their own hot rods, labouring over the smallest details, ensuring that their projects are finished at the highest level possible.
  %p Kevin and Ken were professional and patient, especially when I asked to be involved and get in amongst the project any way that I could. They were happy to share their learnings and they were open in their approach to their work. From that I learnt much more than how to simply restore a car.
  %p By no means do I want to take anything away from the vast army of men that I drew into this project and brought their knowledge and skill with them, each were equally significant in their own right. But, gee whiz, I am still in awe of the unsung talent and skill that is happy enough to toil away in the hills behind Churchill, Victoria.

%aside.col-1-4

  %h3
    Back to
    %a{ href: href('../index.html') } Travo

  %h4
    Back
    %a{ href: href('../../index.html') } Home

