---
layout: '/_layout.html.haml'
persona: 'travo'
title: "I Built A Car"
...
%article.col-3-4

  %h1 Restoration: Part One

  %h3 Developing an Idea
  %p This story begins while I was at Monash Gippsland, where I was a student of English and Communications. My mate Chris was a IT Technician for the campus and he worked with a strange little fellow called Jim.
  %p
    %img.f-left.padded{ src: 'images/pickupFromJimsThree.jpg'}
    Jim is the closest you will find to a text book geek. He wears big thick glasses which look like the lenses were cut from glass Coke bottle bottoms. He loves building and fixing things - especially electronics - and uses his head and his hands to great effect, to create, construct and generally get into big projects with big plans. He has a big heart. The rarest and the greatest of his projects usually make it to completion. Hey, there are only so many hours in the day a man can do stuff, the other hours are owned by the sun and the moon.
  %p When I met him, he was reluctantly considering selling his beloved 1958 Holden FC, of which he had had a few, but I think this one was the pinnacle of his dream. He had acquired it and painted it the colours he wanted. It had the right set-up; 186 Red Motor fed by 350 Holley Carb passing the horses to a four speed Aussie gearbox. Mounted on the gearbox a modified Mr Gasket Shifter which had the stick bent backwards by nearly 60 degrees. Jim said it was so you could belt it from  1st to 2nd to get a really quick change. It had a red back spider knob. I disliked it immediately — despite the retro nostalgia — I had other plans.  The car had a HD or HR disc brake front end and a massive vacuum brake booster from a HT V8 Monaro (no less) with the necessary firewall mountings to keep it from falling through the engine bay.
  %p Upon seeing this car for the first time - I fell in love.
  %p I had been raised as a Ford man. Anything not created from the Empire of Henry Ford was not considered a suitable means of transportation for the men of my family. More appropriately - if you didn't have a Ford - you were a looser. A tosser. A Peter Brock lovin', Commodore driving nancy-boy with no hope.
  %p
    %img.f-left.padded{ src: 'images/pickupFromJimsOne.jpg' }
    Oh well, since my old man got me a 1984 Datsun 1200 Ute for my first car I was fence sitting anyway. I might as well choose a new side.  Besides the car was nearly 40 years old anyway - surely it could be made exempt from these debates since it now belonged to 'Classic' status. Alongside the 1962 Falcon XM's and the '64 XP Coupes.
  %p Since getting the FC I have keenly developed my love for custom classics, and while I am not a really hard core Hot Rodder I have a keener-than-most appreciation for 40's, 50's and 60's cars of American design.
  %p I saw the FC as my blues mobile. It was my hot ride. It was gonna be my chick magnet. Red and white with shining blue chrome to hypnotise the honeys and the sweet sound of the 186 through polished extractors to assure the boys that I meant business.  This dream was to be more than four years in the making.
  %h3 Gettin' in up to your arm-pits
  %p I laid down my greens ($800 in total) for ownership of the FC with an agreement from Jim to help me get it roadworthy again. Incidentally, the car started and the motor ticked over like the heart of healthy athlete - and still does today without having been stripped down, more on that later. At this point though, the only problems I could see was the nasty 'surface' rust the car had and other little, more serious, problems the car had.
  %p
    %img.f-left.padded{ src: 'images/pickupFromJimsTwo.jpg' }
    Firstly, (and I was aware of most of these when I handed over the clams) the front floor pans of the car were rusted out. And the structural cross-members which lay underneath them were rusted out also. The lower rear structural parts of the front sub-frame were also showing signs of cancer. The lower rear sections of the front guards were wafer thin and this condition was also endemic of the lower rear quarters as well, even into the boot. The boot seal channel was nearly rusted away completely in the lower section and there was general decay in the usual spots; sills, doors and around front and rear windows.
  %p Secondly. When Jim decided that he wanted to re-spray the sucker, he had a problem. He wanted to use acrylics, which he could easily apply in his back yard, while the existing decor was enamel. The two aren't exactly a match made in heaven. To his credit though - he had done his research. He had located a product which was an inhibitor, it prevented the enamel reacting against the acrylic. For those who don't know - this is an oil and water thing, oil wants to float on top of water, it is the way of science and physics. All in all I think the inhibitor did it's job, but it's time was up and there were probably about 500 - 1000 finger-nail sized blisters appearing on the roof, bonnet and panels where the inhibitor was failing.  We had tried to rub them out, but to no avail. There were too many and it was too hard. Three coats of clear, six coats of acrylic colour and undercoat, the inhibitor, then enamel clear and a really thick layer of enamel colour made this task very hard by hand.
  %p Thirdly, mechanically, it appeared that things weren't as bad as they seemed. The overall set-up of the car, the motor etc, were matched pretty well and since the car was registered with this set-up previously I could re-register it and be okay. I was to discover later though that the brakes were all shot, there was only one front wheel cylinder which worked all the others were either seized or shot. The front rotors had a wafer-thin layer of usable steel left on them and master cylinder was tired and needed reconditioning.
  %p I hated the gearbox the minute I sat in the drivers seat. The dodgy lever didn't help. But the way it felt, the exposed linkages and such - too fiddly, and generally old school; clunky and troublesome. Plus the snapper head that had owned and modified the car before Jim had installed a really ordinary gearbox mounting for the Aussie four which was starting to sag as a result of its close proximity to the floor pans — it wasn't exactly a great design. It had to go.
  %p It's important to note at this point that I had really no clues about cars. I knew what I liked to look at. I knew how to disassemble things. To his credit my ambitious old man bought a XM Falcon Ute and had great plans to do it up. He had given me a tentative okay to strip it ready to restore it. I fucking destroyed it. An act I truly regret. It was a great car - needed a shit-load more work than the FC needed, especially on the body, it would have made a great project. In the end we sold it to some weasel kid. Only he knows if it was ever finished or still lays dormant.
  %p Thanks to Jim my education process began quite rapidly. In fact, I owe Jim many, many thanks. He was a patient teacher and answered all of my questions with great compassion. He was as engaged in this project as I.
  %p In a short while he and I had made a trip to the Rod Shop in Castlemaine. Home of the brilliant and quite insane hot rod designer and engineer Rod Hadfield.  We were quite fortunate to actually see an FC which he had just completed in the Yard. It was set up with a 5 speed Supra gearbox and a Hadfield chassis kit. This has been rods trade. Marriages of convenience. He as an enormous range of kits which enable the hot rodder to marry nearly any combination of motor and gearbox in nearly any car. Christ - that's what customisation is all about.
  %p But let me tell you this. If you are building a car and some arsehole tells you 'it's just gonna bolt right up'. Smack that prick in the mouth. Take your money elsewhere. They are not giving you the right kind of advice. Find someone who will. In my experience, NOTHING, 'bolts right up'. It usually needs some kind of grinding, bending, shaping or fucking-around-with before it fits into place. Don't assume that since all cars are stamped one after the other off assembly lines that they are without some minor little nuances which make them unique. They are all unique. And each one requires enough special attention to make them fiddly and expensive little projects if you don't keep your wits about you.
  %h3 Resource Pooling
  %p Initially the car was to remain at Jims. He had the tools and equipment, and more importantly was very generous with his time which allowed me to get over to his place and spend some time tinkering around with the car.  Which is about all I was doing at this stage.
  %p
    %img.f-left.padded{ src: 'images/pickupFromJimsFour.jpg' }
    We had identified some do-able problem areas and he had got me busy fiddling about and rubbing those bits back. The intention here was to try to halt the advance of rust in these areas and stabilise them until we could repair them proper, I imagine. At this stage I really had no idea at all. Christ! I was happy just to be 'working' on a car that was mine; it gave me plenty of time to let my imagination run riot.
  %p So I spent probably three months or so going back and forth once or twice a week to Jims to work on my car under his guidance. It wasn't long before I realised that I'd have to get serious and get the car in a garage (it was still in Jims driveway, like many of his automotive projects) and begin to advance on my project proper.
  %h3 Relocation
  %p
    Big thanks to my uncle Col, he helped me by borrowing a Ute and Trailer to pick up the FC from Jims and get it over to my place.
  %p Jim and I had shifted it from his front driveway around to an adjacent church car park the evening beforehand so it could easily be driven onto the trailer. When the time came for me to do this I had to leave this task to the experts; Jim's wife Christine!
  %p Remember though that the FC had only one working front brake, so every time you applied them...it, the thing would nosedive like a bitch. It had not seen bitumen in probably four years and was only kicked over occasionally for nostalgia.  Even now it's a cantankerous thing to drive - and it's in good running order.  None the less the reigns were handed over to Christine. She hopped in, warmed it up a little more and steered it onto the trailer. The bloody thing just freaked me out at this stage — too much to handle I guess after the Datsun!
  %p Col and I chained it down and drove it home to Morwell. Mind you, it was I who had to get it off the trailer. It was much less traumatic than getting the thing on.  I parked it in the shed where it was to remain for another 18 months.
  %p In the garage of my family home the FC would begin it's metamorphosis.

%aside.col-1-4

  %h3
    Back to
    %a{ href: href('../index.html') } Travo

  %h4
    Back
    %a{ href: href('../../index.html') } Home

