---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Brief and Succinct
post_date: 2008-04-20
next_item: /blog/2008/04/keep-your-eyes.html
previous_item: /blog/2008/03/fighting-inertia.html
topics: geeky_stuff, pants_off_living
...
%article.col-3-4
  %h1 Brief and Succinct
  %p I'm starting to become concerned that I'm failing to engage with my colleagues because I can't be well, brief. A post to our group email usually goes like this;
  %blockquote So what do people think of implementing blah on our blah?
  %p And then usually someone will respond inline;
  %blockquote
    > So what do people think of implementing blah on our blah?
    %p
      +1
      %br/
  %br/
  But I come unstuck trying to offer a genuine opinion...
  %blockquote
    Well, I think that to truly understand blah-de-blah, we should first consider how we present our blah in that context. ... and on ... and on ... I go.
    %p
      > So what do people think of implementing blah on our blah?
      %br/
  %br/
  The point is that despite my best efforts to engage in a discussion, I'm not getting any traction. My genuine believe is that this is a forum for hashing out issues and exploring ideas. I also believe it's a place to get consensus and group decision making.
  %p The real reason here (as my esteemed colleagues have suggested) is that they're mostly time poor. If time were currency, my colleagues and I are living below the poverty line.
  %p What doesn't help is that I'm also trying too hard. Which brings me to my next point...
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
