---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Keep your eyes on the fries
published: 2008-04-27
next_item: /blog/2008/05/six-months-on-rails.html
previous_item: /blog/2008/04/brief-and-succinct.html
topics: geeky_stuff, pants_off_living
...
%article.col-3-4
  %h1 Keep your eyes on the fries
  %p
    You know what it's like; you're learning to ride a bike and you have to
    %em learn
    not to look at obstacles, 'cause you can become transfixed by them, and if you're not careful you'll run into them! Before you know it -- you're on your arse.
  %p
    I love my new gig with
    = succeed "," do
      %a{:href => "http://www.cogentconsulting.com.au/"} Cogent
    but since landing the gig one of the main things on my mind has been "don't fuck it up". And I can't help but think, I've been pre-occupied with failure rather than success. If I'm not careful, I'm going to be on my arse.
  %p So I have to work at turning my mind to success.
  %p
    The last six months have been great - I've not been more challenged both technically and personally since I started web development in Melbourne nearly ten years ago! Working with Cogent, and in the open and transparent way that they do, has been a revelation. It is a very
    %em real
    business experience -- I'm closer to the work, the business development and the bottom dollar than ever before.
  %p I have embraced a new platform (Mac, OS X - not to mention Unix), a new language and framework (Ruby, and Rails), a new way of working (strict BDD with Rspec, coverage, complexity and similarity analysis before check-in), and since I started I have deployed two really great web apps. Not too bad for six months work. Not to shabby at all.
  %p The staff at Cogent are awesome, they're super, super smart guys who are always on their game and always ready to lend one-another a hand or provide support where needed. It just doesn't get any better than that.
  %p So, focus on the candy. Accentuate the positive. Celebrate your victories - no matter how small - and keep your eyes on the fries.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
