---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Making Babies...is harder than it looks -- especially if you're old.
published: 2009-02-14
next_item: /blog/2009/02/the-city.html
previous_item: /blog/2008/12/ignoring-artist.html
topics: pants_off_living
...

  %h1 Making Babies...is harder than it looks -- especially if you're old.
  %p 2008 was a hell of a year -- to say the least. By the middle of November my wife and I were having our 12 week scan to make sure everything was going okay; and yup, we're pregnant. Much of this post was drafted not long after that scan. It's taken me a little while to get around to, well getting my head around everything, and being able to share this much with the world.
  %p And well, of course it's Meli who is pregnant, I'm a not-so-innocent bystander / support crew / chef / driver. I'm truly over the moon. Getting to this point has been a bit of an effort. Our advice to our friends -- especially those younger than us -- get into it, it's a young persons game.
  %p Meli and I decided that we'd get cracking and start making babies as soon as we got married. So we relaxed and left our first year in the hands of God and Mother Nature. Despite it being a wonderful first year of married bliss, there was no babies. Stupid God and Mother nature. Time to turn to science.
  %p
    It started as a simple trip to the GP for Mel;
    %br/
    "Oh yeah, and my husband and I have been trying to have kids."
    %br/
    Right then, well time for you to have a blood test and your husband will have to give a semen sample. Great. And that's where it starts.
  %p In January 2008, I gave my first semen sample. In a disabled toiled. At Gribbles Pathology. Under the harsh glare of fluorescent lights. Yeah, that's exactly how I like to wank.
  %p So with the nasty business done, Meli and I both went to our GP. Well not really our GP, cause we don't have one. We use a bulk billing clinic in Brunswick, we have many GP's. The one we saw that day couldn't wait to get us out. She was reading our results as she wrote us a referral to a fertility specialist. "Here", she said as she thrust the referral and results our way.
  %p For me, the results were pretty grim -- what is morphology? What does a low morphology mean? I mean the count was good, there were plenty there. They just weren't exactly the fittest bunch swimmers up lining up for the task at hand. I upset my mother by calling them my "Valley Sperm" -- the stupid, disfigured over-weight ones. Just like the Valley there's a few diamonds in amongst the coal, but it's hard for them to succeed, the numbers are just against them.
  %p And the numbers were this; of the 160 million or so in that first load, only 9% were any good -- 14 million or so, give or take. It was those numbers that I kept in mind when we had our first meeting with our fertility specialist.
  %p Of course Meli is fine. Despite her age. Deciding to wait until later in her life is the only thing going against her.
  %p Now you're probably thinking, straight into IVF -- it's all the rage. But given our age, they're much more reasonable and rational than that. At least our doctor was. Do you drink?  Do you smoke? You both seem reasonably healthy if not for a little tubby-ness. Are you doing it right? Do you know how to determine when the timing is right.
  %p Ahhh, 'cause timing is everything.
  %p When you realise that there are only twelve really good opportunities during the year to get it right (and by get it right I mean successfully fertilize and egg) you wonder how those damn kids make it look so easy.
  %p So Meli and I were sent away with and told to get our timing right. At least for the next month. This included yet another round of blood tests for Meli and another sperm sample for me... this time in another fluorescent lit room. A dedicated room this time, with dodgy porno's. Great.
  %p Unfortunately, no good.
  %p So we went back and escalated. Believe it or not, there's another step you can try before you get to IVF. It's also worth mentioning that there's a whole broad spectrum of what constitutes IVF. Much of that spectrum is coloured with different dosages, pickup cycles and wonderful cocktails of drugs and hormones.
  %p Next for us though was a technique they call IUI -- inter-uterine insemination. Turkey basting. I'd get to "produce" some more, and it'd be "washed and concentrated" before being put exactly where it had the best chance of finding an egg and giving it what-for. Meli would also take a mild treatment of additional hormones to encourage her body to come-around to the idea of conception.
  %p We tried this for three months, with no joy. And since this is my blog post, it can be all about me; the first month of IUI really upset me. I was very, very anxious about not being able to make Meli pregnant the natural way. Not being able to do this is like being asked a very easy question you can't answer. Not being able to answer that, questions your very credibility as a man and as suitable husband. To put it bluntly, it fucked me up. Sobbing uncontrollably, because your can't make it happen -- because your so anxious about making it happen is a mighty weight to bear. For the most part, it's also something you experience alone. Not everyone wants to talk about infertility, particularly not your own. But, while you experience these things by yourself, it took me a little while (and Meli's support) to realise I wasn't the first man experiencing this, nor was I the only man suffering it now. It's just not something blokes share easily.
  %p I must say how grateful I am though to all my mates. Nerds treat life quite differently, and the stuff of life is shared more openly and with a lot more support and joy that I can imagine it being regarded among other blokes.
  %p Finally, by June we'd had no luck. We took a break and travelled to the States. Meli came with me to the Pacific North West -- Portland Oregon to San Francisco California and back again. I had a conference in Portland at the end of May and then we took ten days cruising through Oregon and Northern California.
  %p When we came back, we prepared ourselves for our first round of IVF.
  %p IVF starts with a pickup cycle. In it's gentlest form, the woman is given a large dose of synthetic hormones which encourage her body to produce more than one egg for a cycle. They make her do this just to the point of ovulation and then they arrest the ovulation process with an injection which is meant to discourage the ovaries from releasing the eggs. Depending on the age of the woman, she might produce 7-10 additional eggs (if she's younger and healthier) or only 1-3 (if she's older or unhealthier).
  %p The pickup itself is a relatively straight forward day procedure. It does knock women around though. It knocked Meli around. While not directly painful, having your bits messed around with is simply not fun in anyones language. Being lightly anesthetised as well makes the following days a little foggy.
  %p On that day, I get to produce. And by this time producing was something I got to look forward to believe it or not. Melbourne IVF has a great room, with a couch, mood lighting, DVD player, great porn and they're very quiet. If you could take half hour a month to just...get away from it all. You'd be a more relaxed person I'm sure.
  %p Yeah, so, I get to produce and my stuff is again washed and concentrated. Each egg collected is mixed with couple of hundred thousand sperm in a petrie dish and put in a body temperature cabinet for 24 hours or so to see what shakes out. I'd like to think that while they're in there someone is playing Issac Hayes and Marvin Gaye records.
  %p Meli and I were lucky; of the six eggs collected, five became embryos. They picked the best one and our fertility specialist popped it in. Done.
  %p And then you wait.
  %p Anxiously.
  %p As little as two weeks later Meli's goes for a blood test to determine how it's going. And it's looking promising. Two weeks after that we're back with our fertility specialist to have an ultrasound. An uncomfortable one if you catch my drift.
  %p And there it is. A tiny little jelly-bean, with a little blur in the centre that flashes like a tiny LED, blinky blinky blinky blinky blinky...
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong Steve
          %br/
          %small 15 February 2009
        %dd
          %p Amanda and I were somewhat luckier, and sanguine. We tried for two years, but had decided that if nature didn't want it to happen, we'd be ok with her making the decision on our behalf. I'd just assumed it wasn't going to happen when she stood in the study doorway and said "have you got a minute?". Turned out to take somewhat longer than that, since James has just turned five. And that jelly bean thing - it doesn't go away. James still gets called Beanie :-)
  


