---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: The City
published: 2009-02-23
next_item: /blog/2010/03/on-purpose.html
previous_item: /blog/2009/02/making-babies-is-hard-work.html
topics: geeky_stuff, pants_off_living
...

  %h1 The City
  %p I really have to stop blogging at people and actually write online instead of ranting to my friends over IM. So tonight, I found myself ranting to Simon about the nature of community online and the benefits of Twitter over Facebook.
  %p I see a lot of value in this idea that my social network only has real value when it's realised with some kinda physical interaction with the people in your network.
  %p
    For instance
    %a{:href => "http://twitter.com/zefrank"} ZeFrank
    has been touring New Zealand this week. And in a totally open way, he has let people know where he is and made himself available to meet people who follow him on Twitter who are near where he is in NZ. That's totally cool and a great way to use Twitter.
  %p Following someone for entertainment, to learn things or just plain stalking is one thing, but using these tools to engage in a physical way gives your social network a little more credibility.
  %p
    And with this in mind, I kinda find myself keeping a fairly tight reign on the people I follow, trying only to follow people I know and blocking people I don't know. Having said that though I do feel like a bit of a stalker following the likes of
    = succeed "," do
      %a{:href => "http://twitter.com/zeldman"} @zeldman
    = succeed "," do
      %a{:href => "http://twitter.com/simplebits"} @simplebits
    %a{:href => "http://twitter.com/jasonsantamaria"} @jasonsantamaria
    and
    = succeed "." do
      %a{:href => "http://twitter.com/Brilliantcrank"} @brillantcrank
    While there's the idle chirps of their lives in action, these people also provide the vital tweets that you
    %em must
    be tuning into hear.
    %em I
    think these guys are some of the more significant voices in the web-development community. I'm interested in what these guys have to say. That I also hear about them waiting in line, getting up bleary-eyed or having a head cold is like static on the radio while you're tuning into a clear signal (I think -- that aspect of twitter is probably a whole nother post).
  %p
    %a{:href => "http://twitter.com/haruki_zaemon"} Simon
    sees it like that though -- using twitter is kinda like blogging, it's not an exclusive thing and he doesn't care who tunes in. Which is great, cause it's interesting to follow his tweets.
  %p Facebook though has become a ghetto. I agree with Simon that the bi-directional associations suck. There are people that I genuinely want to hear from and keep in touch with, but there are many others which I'd much rather wish they'd shut the hell up!
  %p Which is where I think I can get to my city metaphor.
  %p It's kinda like a country boy moving to the big city. You can be the disaffected guy who moves to the big city for anonymity -- you don't know your neighbour and they don't have to or may not even care to know you. You can move around and interact with whomever you want with complete invisibility.
  %p Back in the country small town everyone knew who that guy was -- he was so-and-so's kid. You were completely transparent to the whole town.
  %p On the other hand, there's the guy who can come to the city and create a community from the people in his neighbourhood; he introduces himself to his neighbour, he get's to know his butcher.
  %p Cities are big enough, yet intimate enough to provide you with anonymity or community!
  %p
    No matter what you do, Facebook is still the small country town ghetto you grew up in; everyone know's who you are and you can't tweet just any old thoughtless shit. I know that if I do, I get a call from my sister who wants to know why I'm so upset. Or I hear that my mother in law thinks my status's are weird and cryptic. And most people don't care what they're spewing into Facebook. They know they have a sympathetic and captive audience. They know who their audience is and in many cases their status are written not to inform but to draw attention -- which I think is different from
    = succeed "." do
      %em engagement
  %p
    Twitter gives you the choice of the big city; you can tweet to the void -- people in the street can choose to stop and listen to your song, stay a while or move on. The gold though is that you can choose to engage them, you
    %em can
    start to know your neighbour you can surround yourself with like minded people and create your own community.
    %br/
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong Ben
          %br/
          %small 25 February 2009
        %dd
          %p Senor Ding a ling,
          %p Interesting read, and I do agree to a certain point regarding FB about the stream of noise from certain people. However if you want to tune this out, you can via the News feed settings, you can either bloc them entirely or turn the volume down.
          %p What I love about FB is that you can keep in touch with what's going on with your peps, through photos, events, status updates etc. I really hope FB does not continue down its evil path its has been flagging recently.
          %p I think the Twitter thingis proving its popularity,  not quite sure I want to dip my toe in that pond yet. Quite happy interacting with my community in person, but I can see the appeal for a young man like you who wants to keep all his fingers and toes in as many tech pies as he can, and would want to build up a virtual community online to foster and jibjabber about such things.
          %p I think I'm going to stick with a beer and chat with my mates at the pub for now ; )
          %p Cheers
          %p Maasy
  


