---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Geoff Achison - heads West.
published: 2007-03-23
next_item: /blog/2007/05/not-your-parent.html
previous_item: /blog/2007/03/hardly-workin.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Geoff Achison - heads West.
  %p
    %a{:href => "http://www.flickr.com/photos/prozacblues/429196039/", :title => "Photo Sharing"}>
      %img{:alt => "Acho at the East", :height => "80", :src => "http://farm1.static.flickr.com/181/429196039_7031796136_t.jpg", :style => "float:left;margin:0 5px 5px 0;", :width => "100"}/
    Seeing Geoff Achison's last gig at the East Brunswick Club was pretty damn tough. Not only does Melbourne lose one of it's hardest working and most talented musicians, but America takes from us one of the most brilliant and generous blokes working in the local music scene.
  %p I can't help but gush. He's a really, really good guy. Someone who shows that you can get a whole lot further with generosity and kindness than arrogance and mean-spiritedness.
  %p The crowd at the East on Wednesday night really is testament to the kind of bloke Acho is; young gun guitarists, blues aficionados, toothless old grannies, hot chickies - the works. Folks love him.
  %p
    Every time I've shared a bill with him (or lucky enough to share the stage) - no matter how long it's been since you last saw him he remembers your name and genuinely pleased to see you. That's right from the first time I got to jam with him at the Windsor Hotel Prahran nearly 15 years ago up to last year's blues 'fest in Newborough. He rightly gives the Powerhouse Blues Band a hard time for being a bunch of "noisy old buggers" - cause we are, but he always has a time for a catchup and to talk about what
    %em your
    doing.
  %p And geez can he play guitar.
  %p Not just play, but make that thing howl - like it has its own voice. I've mentioned this to him too, the licks he played between lyrics sounded like he and the instrument were having a conversation. Brilliant.
  %p Not to mention the Soul Diggers - what a great band. This to me is even further testament to how much of a great guy Acho is but also to how articulate he is as a musician, composer and arranger. Great players don't stick around because the pay is great (well unless they're whores), they stick around because they just love to play with other great players.
  %p I'll miss you Acho, but don't come back without a Grammy, or a Country Music Award - I'll settle for one of those (though they're probably harder to come by...).
  %p Best wishes.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
