---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Hardly Workin'
post_date: 2007-03-06
next_item: /blog/2007/03/geoff-achison-heads-west.html
previous_item: /blog/2007/02/yet-more-evidence.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Hardly Workin'
  %p
    While I was cooking dinner this evening (for my beautiful wife) I was listening in to
    %a{:href => "http://www.abc.net.au/melbourne/evenings/"} Derek Guille's show on the ABC
    and he was having a call in about work - how it affects our lives, relationships, what about the long hours, you know - the usual stuff. Here's my $0.02.
  %p For mine, two things are important when discussing how Australians work; our expectations of leisure, and how we maintain our skills.
  %p In the romantic era of Australian culture, work was primarily rural and farming was as a job you had for life. Not so much a lifestyle as an all consuming responsibility to both produce from the land and also maintain it. Leisure was something that punctuated the months and months of grueling physical labour. Now our expectation of leisure have changed and we demand that while our day is divided roughly up into 8 hours work, 8 hours play and 8 hours sleep (yeah right!) we should enjoy a fair amount of time for leisure - what-ever that may be.
  %p Skills maintenance becomes a critical part of how we then use that 8 hours leisure. A worker, whether a doctor (knowledge worker) or a plumber (skilled labourer) must work to keep their skills and trade-craft up-to-date. So the meaning of work expands to include these activities as well.
  %p I'm employed as a software developer for 8 hours a day - but I'm working every minute of my waking day. Is that so much different from farming?
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
