---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Conspiracy Theory
post_date: 2005-01-28
next_item: /blog/2005/02/right-tool-for.html
previous_item: /blog/2005/01/farklempt.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Conspiracy Theory
  %p A conspiracy theory is manifested when people are too fucking stupid and ignorant to comprehend the truth.
  %p
    9/11 was a conspiracy! Get some drops for your third eyeball.
    %br/
    The moon landing was a hoax; oh fuck off.
  %p Sheesh.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
