---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Farklempt!
published: 2005-01-12
next_item: /blog/2005/01/conspiracy-theo.html
previous_item: /blog/2005/01/personal-chemis.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Farklempt!
  %p
    Okay, so I'm not sure I really understand this, but it's kinda cool none the less.
    %a{:href => "http://smileproject.com/farklempt/v/1/"} Farklempt
    kinda sounds like a nasty swear word but it is infact some really interesting online art and perhaps an anonymous social experiment.
  %p Mmnnn, if it's anonymous, does that make it social? Probably not.
  %p None the less it's cool. Like, there's this box right, with these bubbles - they're like your emotions, you have to click on them to make sure you can keep them in check. Don't let them get too big or they'll burst, keep them nice and even. Okay now look on the right, that's your little avatar; kinda looks like a cow right!?  Well, the size and proportion of your emotional bubbles determines which way your cow floats. When your cow floats over some other cows, their emotions kinda multiply with your emotions and you both get points!
  %p Cool. Make sense? Nah, I didn't think so. It's kinda silly fun though. And, and I got like more than 20,000 points!
  %p
    Oh and Farklempt was
    %a{:href => "http://www.wired.com/news/games/0,2101,66222,00.html"} featured on Wired
    the other morning, they have a much more succinct explanation than mine.
  
%aside.col-1-4

