---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Personal Chemistry
published: 2005-01-10
next_item: /blog/2005/01/farklempt.html
previous_item: /blog/2005/01/tsunami-of-econ.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Personal Chemistry
  %p
    Loitering around Slashdot and found that Developer.* magazine has had kind permission to reproduce and essay by Gerald M. Weinberg titled.
    %a{:href => "http://www.developerdotstar.com/mag/articles/weinberg_healthybody.html", :target => "_blank"}> Personal Chemistry and the Healthy Body
    \.
  %p What a cracker!
  %p While first published twenty years ago, it is still a pertinent article which resonates strongly with themes of work/life balance, personal physical fitness and personal health and maintenance of personal appearance.
  %p I am lucky that many of my geeky friends are one the right side of human, personable, and healthy. But there are many folks I have known who could take a leaf out of Weinbergs book.
  
%aside.col-1-4

