---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Scorecards Galore
published: 2005-01-06
next_item: /blog/2005/01/tsunami-of-econ.html
previous_item: /blog/2004/12/wine-is-fine.html
topics: pants_off_living
...
%h1 Scorecards Galore
%p I've been enjoying a cracking season of test cricket and it's been mostly thanks to the wacky guys on ABC Grandstand Radio. Kerry O'Keef (who's head is shinier than the new ball) and the team have been great.
%p Yesterday though their trivia question send me searchin' online for a scorecard archive. And lo and behold - there is one - a bloody great one.
%p
  %a{:href => "http://www.cricketarchive.co.uk/"} Cricket Archive
  is the goods. It has everything. Check it out.

