---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Tsunami of Economic Aid
published: 2005-01-08
next_item: /blog/2005/01/personal-chemis.html
previous_item: /blog/2005/01/scorecards-galo.html
topics: pants_off_living
...
%h1 Tsunami of Economic Aid
%p What kind of global socio-economic environment would stimulate many of the worlds most affluent and powerful nations competing to donate money and resources to a region of nations stricken by disaster.
%p By no means would I suggest that this is not a worthy cause and we shouldn't get behind it if we are able and inclined to do so; many are and some aren't - in spectacular fashion.
%p But really, this is bizarre to me. Whether it is the disaster itself which has struck a nerve, whether it's the timing of the event, whether there are the right socio-economic conditions in the first world which are effecting this kind of response; it is still quite remarkable to observe the behaviour of nations and large corporations at this time.

