---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Work experience chick
published: 2002-07-15
next_item: /blog/2002/08/air-guitar-cool.html
previous_item: /blog/2002/04/cool-lighting-f.html
topics: old_blog
...
%h1 Work experience chick
%p
  oh hell, it's work experience time and my mate
  %a{:href => "http://www.codecowboy.com", :target => "_blank"} rup
  invited a little buddy of his, Barb Inserra, to do some work experience at Icon. She's a bloody legend. Well, it's early yet...

