---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Who Moved my Cheese
post_date: 2002-03-18
next_item: /blog/2002/04/london-tokyo-la.html
previous_item: 
topics: old_blog
...
%article.col-3-4
  %h1 Who Moved my Cheese
  %p Prozacblues has new stuff. Finally we can bring you updated and interesting information, tidbits and stuff - anytime, from anywhere and with added newness.  Check out new pic's in Marks section. Dave has finally placed his presentation on balloon art in radiation therapy online, and I've finally got around to getting some of my own content online. So don't just wave the mouse around the home page - bloody well click something!
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
