---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Cool lighting for treatment rooms
published: 2002-04-07
next_item: /blog/2002/07/work-experience.html
previous_item: /blog/2002/04/london-tokyo-la.html
topics: old_blog
...
%h1 Cool lighting for treatment rooms
%p
  I want this stuff. I want someone else to pay for it though...it's for a
  = succeed "." do
    %a{:href => "http://www.petermac.org/", :target => "_blank"} really good cause
%p Check out the pretty star ceilings!

