---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: London - Tokyo Lab
published: 2002-04-04
next_item: /blog/2002/04/cool-lighting-f.html
previous_item: /blog/2002/03/who-moved-my-ch.html
topics: old_blog
...
%h1 London - Tokyo Lab
%p This is a cool and weird little site which showcases the work of artists, graphic designers, musicians and even nerds. Have a bloody look will ya!

