---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Big Dumb Holiday
published: 2006-01-23
next_item: /blog/2006/01/dark-poetry.html
previous_item: /blog/2006/01/im-calling-a-mo.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Big Dumb Holiday
  %p
    John Birmingham famous for
    %em He Died With A Felafel in His Hand
    has written an
    %a{:href => "http://www.amazon.com/gp/product/0345457129/"} epic sci-fi/war/thriller trilogy
    which had me turning pages everyday of my summer break. In fact, when I finished the second book I was pretty disappointed that the third book is, as yet unfinished.
  %p
    Fortunately though,
    = succeed "." do
      %a{:href => "http://birmo.journalspace.com/"} Birmo has a blog
    Musing about all things sport, politics and life in Brisbane and Australia. He also invites the occasional discussion about the forthcoming Axis of Time book. It's a good fun read.
  %p
    I was glad to read those 'big dumb airport novels' during the hols. They were a good break from all the
    %a{:href => "http://www.amazon.com/gp/product/0143036556/"} heavy lifting
    I had my brain doing the previous couple o'months.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
