---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Dark Poetry
published: 2006-01-30
next_item: /blog/2006/02/sport-competiti.html
previous_item: /blog/2006/01/big-dumb-holida.html
topics: pants_off_living
...
%h1 Dark Poetry
%p Some people are hard to work with. The only way you can communicate with them is through their managers, who then transmit, probably via somekind of electronic stimulus or pulse, the encoded message into the walls of their anus where it is then picked up by the tongue (or tongues) of those very people with whom you wish to communicate directly.
%p These people have managerial sycophancy an art.
%h3 Comments
%ol.comments
  %li
    %dl
      %dt
        %strong
          %a{:href => "http://www.eaves.org/blog/", :rel => "nofollow", :title => "http://www.eaves.org/blog/"} Jon Eaves
        %br/
        %small 31 January 2006
      %dd
        %p Not a good day at work Tarv ?
        %p I've had to work with people like this, and I always look at it like a game.  I apologise profusely to their manager about how difficult it is to contact them, and how busy they must be because they don't seem to be able to get back to me.
        %p "I've left 6 voicemails and Bob promised to get back to me.  He said he was working with you on some super-important project, so next time you see him, can you just remind him that he owes me the last 3 weeks of deliverables.  Thanks!"
        %p Then make sure your manager know, and then go to the pub.
  %li
    %dl
      %dt
        %strong Travo
        %br/
        %small 31 January 2006
      %dd
        %p Nah, I just had to get that little piece of dark poetry off my chest. I am changing teams this week though, and I'm a little anxious about that, but otherwise things are good.
        %p Don't worry, I've dealt with this already / dealing with this - in my own subtle (read : like a sledge hammer) kind of way. I am getting better at handling these kinds of things as I get older (thank fuck!) - both my output and the perception of my output is high.

