---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: I'm calling a moratorium on cheese plates and asian dinner sets
published: 2006-01-09
next_item: /blog/2006/01/big-dumb-holida.html
previous_item: /blog/2005/12/cricket-tragedy.html
topics: pants_off_living
...
%article.col-3-4
  %h1 I'm calling a moratorium on cheese plates and asian dinner sets
  %p I hope everyone had a great Christmas! I certainly did - enjoying a great season of food, wine, friends and family; but the time has come to call a moratorium on cheese serving plates and asian dinner sets.
  %p I'm probably going to cop a fair bit of grief over this, but hey - whatever.  Every Christmas people start breaking out in cold sweats thinking about what kind of gifts to get me. I honestly don't think I'm that hard to buy for, except for the fact that I'm a whiny selfish bastard who openly complains about the stuff that I do get.
  %p Look, I love cheese. But usually when I'm thinking about eating cheese I'll get some from the fridge, put it on an ordinary plate and cut it with an ordinary knife. If I'm sharing some cheese with friends, I'll usually get some from the fridge, put it on an ordinary chopping board with an ordinary knife... easy.
  %p As for Asian food - love it; Japanese, Thai, Southern Chinese, Northern Chinese, Vietnamese, Korean. Great! But I don't really cook it at home. And when I do whip up a stir fry, I love serving those noodles in big-ass bowls, not the weenie little ceramic bowls. Plus, I'm likely to be found on the couch - in front of the TV no less, sucking up those noodles with a napkin on my lap than sitting at a carefully set dinner table with all the neat little asiany things scattered about.
  %p So - who's coming over for some Asian food followed by a cheese platter for desert?
  
%aside.col-1-4

