---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Cannon fodder.
published: 2005-10-21
next_item: /blog/2005/10/pies.html
previous_item: /blog/2005/10/john-doyle-is-m.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Cannon fodder.
  %p
    %a{:href => "http://www.schneier.com/"} Bruce Scheiner
    is
    %a{:href => "http://www.wired.com/news/privacy/0,1848,69247,00.html?tw=wn_tophead_3"} writing for Wired
    and although I know who he is and my esteemed friends and colleagues acknowledge his importance in the field I wouldn't go looking to read his thoughts on security.
  %p Fortunately though, his articles on Wired are well within my news radar and today his article has illustrated not something vitally important about security but rather something about how we are seen by lawyers and politicians : cannon fodder.
  %p
    Howard Schmidt another security expert has suggested that
    %a{:href => "http://news.zdnet.co.uk/software/developer/0,39020387,39228663,00.htm"} software developers, individually
    should be responsible for ensuring that  their work is free from vulnerabilities. Scheiner argues against this, rightly suggesting that it is the responsiblity of the companies who are hiring these individuals to create this software to have the process and dilligence to ensure the products they release are minimally defective (I'm sure this is / will become an industry term ;-).
  %p The litigious activity of the RIAA illustrates how easy it is to go after individuals; they're poorly equipped to fight back - essentially an easy target. Popping an unlucky few will send a message back to the rest of you!
  %p Going after a company though is tricky. They're evasive, much better equipped with both finance and resources to fight back if cornered so if you're going to go after them you better have your case nice and tight - and that's hard work.
  %p Much easy to go after the smaller targets...
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
