---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Circus!
published: 2005-10-26
next_item: /blog/2005/10/gigs-so-many-gi.html
previous_item: /blog/2005/10/pies.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Circus!
  %p
    This is a public cervix announcement - get yourself down to see this years
    = succeed "." do
      %a{:href => "http://www.womenscircus.org.au/"} Women's Circus
    My lil' sister Anne is performing in it this year and I'm damn proud of her efforts - she's been bustin' her ass, honin' her chops, and tumbling harder than a tumble-weed. This should be a lot of fun.
  %p
    See you there.
    %br/
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
