---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Gigs... so many gigs. Wanna Come?
post_date: 2005-10-31
next_item: /blog/2005/11/lone-ranger.html
previous_item: /blog/2005/10/circus.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Gigs... so many gigs. Wanna Come?
  %p
    For the next six weeks or so, I'm an honourary
    %a{:href => "http://www.diddleydaddies.com/"} Diddley Daddy
    and these guys are hot! I've got gigs comin' out of orifices that I didn't know I had. You
    %strong must
    come along. Here are the dates;
  %p
    Friday 4th November,
    = succeed "," do
      %strong Prince Albert Hotel
    Williamstown
    %br/
    Saturday 5th November,
    = succeed "," do
      %strong Corner Hotel
    Richmond
    %a{:href => "http://www.pbsfm.org.au/SiteImages/img46469.jpg"} Twisterama
    %br/
    Saturday 12th November,
    = succeed "," do
      %strong Manchester Lane
    City
    %br/
    Saturday 26th November,
    %strong Queenscliff Music Festival
    (12pm and 5pm)
    %br/
    Saturday 3rd December,
    %strong Whittlesea
    %br/
    Friday 9th December,
    = succeed "," do
      %strong Prince Albert Hotel
    Williamstown
  %p
    Huge huh? In between all of this madness I'm also playing with
    %a{:href => "http://www.heygringo.net/"} Hey Gringo
    and they may have the odd date or two sneak in among these.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
