---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Is it getting hot in here?
post_date: 2005-10-20
next_item: /blog/2005/10/john-doyle-is-m.html
previous_item: /blog/2005/10/wait-a-minute.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Is it getting hot in here?
  %p
    Just finished reading Tim Flannery's
    %a{:href => "http://www.publish.csiro.au/nid/18/pid/5172.htm"} The Weather Makers
    and I'm now seeing my country, my city, my street, my house and my car with greener eyes.
  %p There's plenty going on to encourage people to change their behaviour at a very localised level - change your energy provider, reduce your energy consumption, use public transport, maintain a compost heap, reduce your water usage - to decrease greenhouse gasses.
  %p
    Meli and I went through
    %a{:href => "http://www.dse.vic.gov.au/thesustainables/ten.htm"} the check list
    of stuff that we do to increase our contribution sustainability, and we're a good 8-9 out of ten.
  %p But...
  %p It's just looking at other people and wondering, what are you doing? Cause, mate, it really matters to all of us. Not just the pinko-lefty-commie-bastard-greenie-hippies anymore.
  %p
    I've moved on from Flannery's book to Diamond's '
    %a{:href => "http://www.penguinputnam.com/nf/Book/BookDisplay/0,,0_0143036556,00.html"}> Collapse
    ' and this too is providing to be a very enlightening and motivating read.
  %p I almost flinched and said that these books had made me frightened, but no; I'm definitely motivated.
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong
            %a{:href => "http://www.eaves.org/blog/", :rel => "nofollow", :title => "http://www.eaves.org/blog/"} Jon Eaves
          %br/
          %small 21 October 2005
        %dd
          %p I saw this on the side of a tram the other day, and decided that I should go and get it.  Thanks for reminding me Trav !
          %p I found Collapse really hard going, but really enjoyed Guns, Germs and Steel.  Maybe I need less WoW and more reading ;-)
    %li
      %dl
        %dt
          %strong Travo
          %br/
          %small 22 October 2005
        %dd
          %p Less, WoW - with all the stuff I've been seeing online now, I'm a little disturbed. I've got images of you and all your WoW buddies licking their monitors. Creepy.
          %p Yup, Collapse is hard going. But very interesting. And The Weather Makers just kicked my arse; came at a good time.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
