---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: John Doyle is my master now
post_date: 2005-10-21
next_item: /blog/2005/10/cannon-fodder.html
previous_item: /blog/2005/10/is-it-getting-h.html
topics: pants_off_living
...
%article.col-3-4
  %h1 John Doyle is my master now
  %p
    If you missed it on the telly, get on over to the ABC and read or listen to
    %a{:href => "http://abc.net.au/sydney/stories/s1476723.htm"} John Doyle's speech
    given at the annual Andrew Ollie lecture.
  %p
    I'm a big fan of John Doyle. Informally introduced through a friend of his, 'Rampaging' Roy Slaven I'm always entertained and moved by his strong grasp of what it is to be an Australian - in an
    %a{:href => "http://www.abc.net.au/changi/"} historical context
    and also in
    = succeed "." do
      %a{:href => "http://shop.abc.net.au/browse/product.asp?productid=725404"} current cultural climate
  %p Alongside his understanding of what it is to be an Australian is a clear sense of dignity, compassion, intelligence and wit.
  %p His speech for Andew Ollie is a broad sweeping glance at the state of Australian media and there are critical moments when he highlights its many failings in a way that should make those involved feel ashamed - without attacking them, ranting and spitting violently. Johns words are strong and assured. Not a mild "How could you?" but more of a "Did you stop to consider...?"
  %p Listen to the lecture. It's great.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
