---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Pies?
published: 2005-10-25
next_item: /blog/2005/10/circus.html
previous_item: /blog/2005/10/cannon-fodder.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Pies?
  %p
    This is great, it's a mad little piece of writing which attempts to
    = succeed "." do
      %a{:href => "http://www.coudal.com/writing.php"} explain the rules of cricket
    Reminds me of this though...which is completely irrelevant.
    %br/
  %blockquote
    Who ate all the pies?
    %br/
    Who ate all the pies?
    %br/
    You fat bastard, You fat bastard.
    %br/
    You ate all the pies.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
