---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Wait a minute...
published: 2005-10-11
next_item: /blog/2005/10/is-it-getting-h.html
previous_item: /blog/2005/09/kunming.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Wait a minute...
  %p I'm back!
  %p Yeah, sorry. It's been a while hasn't it. Since I last posted I've been to Hong Kong and China for a few weeks, shamefully, I've been back three weeks already and haven't friggin' posted.
  %p Sorry to all who've been hanging out for my latest post. I'm sure that there are millions of you. Strangely though, I think there are more people reading my blog to post comment spam than there are reading my blog for my witty and incisive analysis of my freaky little world.
  %p
    If you haven't been watching, check out my
    = succeed "," do
      %a{:href => "http://www.flickr.com/photos/prozacblues/"} damn photo-blog
    it's got heaps of photos from my holiday, and I'm still mo'blogging my phone cam stuff up there occasionally.
  %p None, the less I'll post any way. I'm also going to post a couple of retrospective items about Hong Kong and China which I scribbled old school style into a journal; like with a pen - on paper and everything!
  %p There is more exciting news to follow.
  
%aside.col-1-4

