---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Gentlemen's Luncheon
published: 2006-11-20
next_item: /blog/2006/11/online-video-vlogging-and-lonelygirl15.html
previous_item: /blog/2006/11/mustachio-au-go-go.html
topics: pants_off_living
...

  %h1 Gentlemen's Luncheon
  %p
    My bachelorhood was given a glorious farewell on the weekend and thank you
    %a{:href => "http://www.flickr.com/photos/prozacblues/sets/72157594382377839/"} all of the gentlemen
    who were there to bid my wicked ways adieu.
  %p David, my best man was as always at his poetic best and provided this toast;
  %blockquote
    Of all the friends a bloke could have,
    %br/
    There's none that match the likes of Trav,
    %br/
    Though bach'lor days did suit him well,
    %br/
    Thank Christ he found the lovely Mel.
  %p Brilliant. Dave also managed to prepare a short introductory speech, which kicked the afternoon off to a cracking start.
  %p Finally, I was presented with a "Book of Wisdom" in which each man was able to share their thoughts and wisdom. Jon Eaves could not be stopped and prepared to fill the book with no less that ten points of wisdom;
  %ol
    %li She is always right. Always. Do not google it, do not argue. The best option is to just let the conversation peter out. Never, ever say, "Yes dear".
    %li
      An electrical appliance is not a birthday or Christmas present. It doesn't matter how powerful, or colourful, or technical it is.
      %strong It's not a gift
    %li Combined gifts (birthday / Christmas) are not okay. Don't try this.
    %li
      "I love you." Is not only used when you're caught out. Say this every morning & night. Using "I love you" when you've forgotten a birthday
      %strong will not work
    %li
      Advice on gift giving. Quality
      %strong and
      quantity. Build your set of presents around one or two really expensive items (but don't break rule #2). Make sure you have at least ten other gifts.
    %li An answer of "nothing" to the question of "What's wrong?" is a lie. There is something wrong, and you're fucked.
    %li
      "Does my arse look fat in this?" is a trick question. There is no right answer. Feyn death, a heart attack or a state of emergency (terrorist attack).
      = succeed "." do
        %strong Do not answer
    %li Your idea of "cleaning" is wrong. Males are completely oblivious to "female dirt" which is a whole new level. When in doubt see #1
    %li "Would you mind..." or "Is there any..." are not conversation starters. These are directives to perform an action. Do it, or suffer
    %li "Why don't you wear..." or "I like the other shirt..." means that what you're wearing is shit, and you should change immediately before leaving the house.
  %p Word.
  


