---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Minh Tan II
post_date: 2006-11-01
next_item: /blog/2006/11/movember-want-to-sponsor-me.html
previous_item: /blog/2006/10/weird-browserse.html
topics: pants_off_places
...
%article.col-3-4
  %h1 Minh Tan II
  %p If you're after some quality Cantonese cooking - you can't go past Minh Tan II. They do a brilliant whole steamed fish, as well as an assortment of other tasty Cantonese goodies. Yum Cha there on a Sunday isn't too bad either...
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
