---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Movember - want to sponsor me?
post_date: 2006-11-02
next_item: /blog/2006/11/mustachio-au-go-go.html
previous_item: /blog/2006/11/minh-tan-ii.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Movember - want to sponsor me?
  %p
    What's down, brown and seen all over? A righteous mo' that's what! Help me choose my mo' style for
    = succeed "." do
      %a{:href => "http://www.movember.com.au/"} Movember
  %p I'm on board with this years' Movember and have cut back all the usual goatee-beard furryness for a fresh start. I want you to help choose the mo I'll be wearing by the end of Movember.
  %p
    Pick something from the styles below and let me know which way the mo' will be blowin' come November 30th.
    %br/
    %img{:alt => "moStyle.jpg", :height => "418", :src => "http://www.prozacblues.com/travo/blog/images/moStyle.jpg", :width => "460"}/
  %p
    If you want to see something that's not pictured above, let me know! To sponsor me you can use my rego number
    %strong 33587
    \- my team is
    %strong Peter Mac Mo
    %br/
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong
            %a{:href => "http://www.prozacblues.com", :rel => "nofollow", :title => "http://www.prozacblues.com"} Dave
          %br/
          %small 3 November 2006
        %dd
          %p Thanks for joining up mate!  I'd like to go for the connoisseur, but suspect it would take me a lifetime.  We have a number of "jihad jack" wannabes (aka the pool cleaner) so perhaps you should try for the after eight.
    %li
      %dl
        %dt
          %strong Annie
          %br/
          %small 3 November 2006
        %dd
          %p He he he he he he
          %p You guys are hilarious, unless Dave gets struck down by a hair growing lighting bolt I'm not sure how well he's going to go.
          %p Travo, I know you're dying to go for the Abra Kadabra, if for no other reason that the name. Or you could follow in your very cool uncle's footstops and go for the gringo! Hey go one better and sign Reg up.
          %p Rock on, Can't wait to see the photos
    %li
      %dl
        %dt
          %strong
            %a{:href => "http://www.prozacblues.com", :rel => "nofollow", :title => "http://www.prozacblues.com"} Dave
          %br/
          %small 14 November 2006
        %dd
          %p
            I attended the Peter Mac AGM last night and ended up speaking to 2 gentlemen with splendid Mos.  1 had the Major, and the other the Connoisseur.  Neither had shaved their upper lip since the late 60's.
            %br/
            The main tips I got were -
            %br/
            Major - stay away from pea soup during a business lunch or romantic dinner
            %br/
            Conno - After consistent tweaking, the connoisseur shape occurs naturally (no need for wax)
          %p I'm currently attempting the "under cover brother", but it looks more "Blue oyster bar"/90s flight attendant.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
