---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Mustachio Au-Go-Go
published: 2006-11-14
next_item: /blog/2006/11/gentlemens-luncheon.html
previous_item: /blog/2006/11/movember-want-to-sponsor-me.html
topics: pants_off_living
...

  %h1 Mustachio Au-Go-Go
  %p
    %img{:alt => "travo-mustachio.jpg", :height => "267", :src => "http://www.prozacblues.com/travo/blog/images/travo-mustachio.jpg", :style => "float:left;margin : 0 10px 10px 0;", :width => "200"}/
    Yup, that's my mo' for Movember. It's going well don't you think? It looks pretty damn sex... oh Christ! Who am I kidding, I look like
    %a{:href => "http://www.prozacblues.com/travo/blog/images/simpsons-gun-shop-guy.html", :onclick => "window.open('http://www.prozacblues.com/travo/blog/images/simpsons-gun-shop-guy.html','popup','width=233,height=166,scrollbars=no,resizable=no,toolbar=no,directories=no,location=no,menubar=no,status=no,left=0,top=0'); return false"} this guy
    from The Simpsons. Very creepy. But it's all for a good cause -
    %a{:href => "http://www.movember.com/au/whatismov/"} the healthy loins
    of all Australian men.
  %p
    My sponsorship number is
    %strong 33587
    \- head on over to the
    %a{:href => "http://www.movember.com/au/sponsor"} Movember sponsorship pages
    and lay down some tax-deductable coinage.
  %p I'm not sure if you can see in the picture, but I've also doubled the size of my sideburns. I thought that was an equally important statement about male potentcy, virility and... pimpy-ness.
  %p I seem to be a whole lot more conscious of my mo' than those around me... either that or they're much too polite to mention the nasty slug crawling along underneath my nose.
  %p Did I mention that me chin now really feels the cold?
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong Megan
          %br/
          %small 15 November 2006
        %dd
          %p Guys with mows etc look good but I had this boyfriend once who had the mow and goatee and it was like being kissed lovingly by a vacuum cleaner attachment.
    %li
      %dl
        %dt
          %strong Travo
          %br/
          %small 15 November 2006
        %dd
          %p
            That's hilarious - and immediately made me think that you might have been going out with
            = succeed "," do
              %a{:href => "http://www.zefrank.com/theshow/gallery/v/vacuum/vacuum.jpg.html", :rel => "nofollow"} this guy
            or one of
            = succeed "." do
              %a{:href => "http://www.zefrank.com/theshow/gallery/v/vacuum/", :rel => "nofollow"} his buddies
    %li
      %dl
        %dt
          %strong Megan
          %br/
          %small 16 November 2006
        %dd
          %p Ha ha fantastic..
  


