---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Online video, vlogging and lonelygirl15
published: 2006-11-21
next_item: /blog/2006/12/pillowfight.html
previous_item: /blog/2006/11/gentlemens-luncheon.html
topics: pants_off_living
...

  %h1 Online video, vlogging and lonelygirl15
  %p
    Wired mag has an interesting article which provides some
    %a{:href => "http://www.wired.com/news/wiredmag/0,72138-0.html?tw=wn_index_2"} insight and backstory into the lonelygirl15 phenomena
    which entered the cultural radar this year. I've been hovering around this like a blowfly, since it really is one of the very first internet-video-serials of it's type to find the main stream.
  %p
    One of the points made in the article is that posting video's to YouTube is not video blogging. Is posting a video to YouTube video blogging? I'm not sure about this argument, but I'm sure
    %a{:href => "http://hypertext.rmit.edu.au/vlog/"} Adrian Miles
    might have already had something to say about this. Blogging requires a frequency of posting which is not easy to achieve; even if you say you're going to post once a week- it requires discipline. Posting to a blog when you have a random thought or opinion is easy but the quality of your content and too random.
  %p As side note, I've found del.icio.us perfect for my random and irregular blog post. Especially since the theme of that quick-post is based around a web-page or a meme.
  %p
    %a{:href => "http://www.zefrank.com/theshow"} Ze Frank
    and others have more
    %a{:href => "http://www.nytimes.com/2006/11/12/magazine/12youtube.html?ei=5090&en=0f8753cf15069a38&ex=1320987600&partner=rssuserland&emc=rss&pagewanted=all"} recently documented the maddening discipline
    to post video regularly online. Again, I'm not certain that these are vlogs per-se, they are great online video serials none the less.
  %p Recently there was an old gent recalling tales from his life which became hugely popular on YouTube - is he a vlogger? Probably not; is he a video-autobiographer or maybe a video-essayist - this is what I think Paul Graham would be if he made video's to the web-cam (in his bedroom, dressed in jammy's and slippers?).
  %p I think that it's strange that the producers of lonelygirl15, and others like them, are looking towards Hollywood for validation. They are the traditional owners of mainstream media, fair enough. Hollywood though, has become irrelevant, particularly in the online space - they don't get it, they're desperately trying to play catch-up. It'd be a long time before Hollywood were fully convinced that a project like lonelygirl15 was worth anything. They're a hit oriented society and this is long tail media. I think that online content producers should be looking elsewhere, Silicon Valley perhaps, New York?
  %p
    Is it Hollywood's fault that they've allowed the 'art' of film to become such a cheap commodity? Probably. Reading "
    %a{:href => "http://www.amazon.com/Blockbuster-Tom-Shone/dp/0743239911/"}> Blockbuster
    " recently nudged the argument in that direction; by flooding the summer / holiday seasons with 'hits' actually created a market of 'misses' - average films with average content and no genuine appeal.
  %p Online video though is brilliant in so many ways; inexpensive, quick and disposable (yet lingering?). It is hard though for many great content producers to relinquish the idea of becoming a film or TV producer to become an online video producer.
  %p Those same positives (low-cost, speed and cultural-transience?*) surely make it unappealing to a guy who wants to position a lighting crew, direct a photographer and script-jam a writer. I've found that those guys desperately want to fill computer monitors with their video like it was TV. The constraint of a 320 x 240 window just wasn't glamorous enough; not cool enough. Too lo-fi.
  %p Unfortunatley though, these people also see their medium as one-way. What struck me about the writer of lonelygirl15 is that he had (for a long time) a very strong idea of his character and her stories, and maybe because of this he was able to adjust the narrative according to the engagement her audience was having with that character and the story so far. He already has all the lonelygirl15 stories; is the audience playing 'choose your own adventure'?
  %p I think having a shared dialogue with your audience though, is the most critical aspect of this medium. You ignore your audience at your own peril; recent examples of successful online video sites show they are successful successful because they both embrace and engage with their audience.
  %p
    Finally, the most important question remaining for the
    %a{:href => "http://en.wikipedia.org/wiki/Lonelygirl15"} lonelygirl15 project
    is with regard to their revenue stream; at the moment they're generating their income via the advertisements that appear at the end of their revver media. I wondered what became of the Target connection though - what, if any, arrangement had been made with Target to use their products as props / costuming / decoration? Does product placement in this way still have an impact, is it a viable promotional channel? If so, why doesn't Target sponsor the project. If they did would that hurt the credibility of lonelygirl15?
  %p
    %strong *
    %em I know for sure that cultural-transience is not the right word, but the idea is that this kind of 'fast-media' enters the cultural landscape, becomes a hit, and disappears quite quickly. It has a long tail though and can be found quickly enough with google search.
  


