---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Chef Richard Bond
published: 2003-10-16
next_item: /blog/2003/11/new-tlc-for-kid.html
previous_item: /blog/2003/10/jumbo-balloon-d.html
topics: blues_highway
...
%article.col-3-4
  %h1 Chef Richard Bond
  %p For Wednesday I had asked Kevin about any classes that I could take to learn how to cook in the Creole/Cajun style. Apparently if I turned up early enough at Mardi Gras World, just around the corner from the B&B, I might be able to sneak into a class with Chef Richard Bond - a mate of Kev's. Fantastic.
  %p Mardi Gras World is huge. It's where the headquarters of the largest float and parade manufacturers and suppliers reside and display their work. The biggest, brightest, gayest and most expensive works of mobile art you will see. Longer than three semi trailers, holding more than 200 people and worth around $1,000,000 these baby's are not to be sneezed at. What was most interesting was that your cool mill' also get's you storage for 30 years.
  %p Chef Richard Bond is a crazy man. A jolly and (he'll kill me if he reads this) slightly camp Cresent City native, his enthusiasm for all things southern is really infectious. I had the greatest fun with him and his team, of one, learning to cook Gumbo, Crawfish Etouffee and Chocolate Bread Pudding (with white chocolate randy sauce)...yum. I did get there in time to join a hands on cooking class with a couple from California. Though they had a hard time learning to cast aside their nasty TV cooking, electronic gadget cooking ways and learn to pick up and use a good old fashioned 20cm cooks knife. Fortunately, by channeling Jamie Oliver I have no troubles at all.
  %p Of course once everything is cooked, we get to eat it. And after two serves of Gumbo, a serve each of Crawfish and Bread Pud, I was well and truly chockers. I had to waddle back to the B&B and have a little lie down.
  %p That night I cruised back to the Dry Dock Cafe and had a couple of quiet beers with Kevin and talked Jazz, Blues and cruising the states. It was a great way to spend my last night in New Orleans before I got my shit together and made my way back to Chicago.
  %p I had a Los Lobos gig to get to.
  
%aside.col-1-4

