---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Jumbo Balloon Dog
published: 2003-10-14
next_item: /blog/2003/10/chef-richard-bo.html
previous_item: /blog/2003/09/new-ukulele.html
topics: old_blog
...
%article.col-3-4
  %h1 Jumbo Balloon Dog
  %p Jeff Koons is an artist who has made "balloon" animals out of steel and ceramics.  Check out some of his work at the link below.  They are only 3 dimensional art works.  Deflation and biodegradability render latex balloon creations 4 dimensional.
  
%aside.col-1-4

