---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Little Do I Care
published: 2012-08-12
next_item: /blog/2014/07/on-recruitment.html
previous_item: /blog/2011/12/community-security.html
topics: geeky_stuff, pants_off_living, rant
abstract: "In a fit of pique I rage about being a consultant."
...
%article.col-3-4
  %h1 Little Do I Care
  %p As a consultant from time to time I'll be assigned work, in the form of a story card which requires me to pay considered attention to a part of the application that I have little ownership of.
  %p Ownership. In an agile environment, that's not meant to mean anything. Ideally the whole team should own the whole codebase. In reality, this never happens and individuals build up specific skills and domain knowledge working repeatedly in certain areas of the application.
  %p On a big team, specialists will be employed early on, to work on deliverables such as databases, servers, css, html — all manner of stuff which requires specific skill, attention to detail and expertise. These developers will have a clear understanding and appreciation of the design and constraints of the area they work in and the technologies used. In my experience there is also a high degree of dependence on their deliverables — that stuff must always work. There's no point employing just anybody to implement a critical part of an application.
  %p So when I get assigned a task or story card which relates to those parts of the application, I usually say that I "don't care" about that stuff enough. It's not that I literally don't care, it's just that I don't believe I care enough about how that stuff should work.
  %p My problem (as it's now been pointed out to me, twice) is that as a consultant, telling people you don't care about their stuff is...well, bad. It's bad for business. Bad for your reputation. Potentially bad for morale.
  %p Truth is, despite my technical compatibility with that work I should never have been assigned those tasks. I should never have agreed to pick up those cards (despite my best intentions), and the only person who should be responsible for a successful outcome on that work is the specialist that works in that domain — because they care.
  %p My belief is that regardless of my experience, understanding and skill the resulting implementation of that work is not going to be satisfactory enough for the specialist who owns that part of the application. They have to live with it, they have to work with it, and they have to depend on it to ensure the successful implementation of their deliverable.
  %p In essence though, my language is wrong. How could I communicate succinctly that I'm the wrong person for the job, especially after I'm assigned that work?
  %p
    Am I "incapable" — no.
    %br/
    Am I "unsuitable" — warmer. But why?
  %p What should I say?
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
