---
layout: '/_band.html.haml'
main_image: '/images/prozacblues-jovial-rocks.jpg'
persona: 'Band'
...
%article

  %h1 The Prozac Blues Band

  %iframe{ width: '100%', height: '700', scrolling: 'no', frameborder: 'no',
           src: 'https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/50700529&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true' }

  %h3
    The Several Moods Of...

  %p
    This is an album of music by David Willis, Travis Winters, Chris Henne and
    %a{ href: 'http://alastairkerr.com.au/'}Alister Kerr
    recorded by
    %a{ href: 'http://www.jimimaroudas.com/' }Jimi Maroudas
    at houses in Murumbeena and Brunswick. Three tracks — Madem Moselle, Blue Ukulele and Handlez Waltz were
    recorded at
    %a{ href: 'http://popshop.com.au/'}Scott Carne's
    old Scotland Yard studio on the Nepean Highway in St. Kilda.

  %blockquote
    After nearly ten years, I'm not really sure what kind of story to tell about this great little album.

  %p
    It begins really with two high school mates — David and Travis — who shared a love of blues music and
    the absurd. They used to spend lunchtimes writing stories, each jotting a paragraph of more
    and more ridiculous narrative until the bell rang for class.

  %p
    These songs are really all David's. They're the result of his lyrical and musical talent and
    I was there to enjoy the process of making music and hearing these compositions and arrangements
    come to life.

  %p
    I want to especially thank Chris Henne for his enthusiastic contribution to this album. He gave up
    his house for a weekend to record. Having recorded himself at different times, he was genuinely
    concerned about ensuring that this was going to be a great recording.

  %p
    I also want to thank Alistair Kerr. We were extremely fortunate to have Al rehearse with us a couple
    of times and then arrive and absolutely nail all the tracks that he played on. He is an exceptional
    talent and I hope that one day I'll work with him again.

  %p
    Finally, many many thanks to Jimi Maroudas whom we first met at Scotland Yard Studios. We were
    incredibly fortunate to work with someone who has gone on to become an ARIA nominated engineer.
    Jimi is wonderful to work with — nothing is too hard, he listens, he cares and and he is open
    to your ideas, creativity and will helpfully nudge you toward some great ideas, creativity and
    genuine expertise of his own.

  %p
    %strong Travis Winters
    %br
    %small Brunswick, Spring 2014


