---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Champion of the World!
published: 2004-12-07
next_item: /blog/2004/12/wine-is-fine.html
previous_item: /blog/2004/11/socialize.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Champion of the World!
  %p
    Champ. Champ. Champ. Champ. Champ. Finally, I have defeated the
    = succeed "." do
      %a{:href => "http://www.van-elst.org/sve.html"} master blaster
    A huge game of Foosball was played last night and I hung in there like a true little Aussie battler to take the game.
  %p Thrilling; is really the only way I can describe this victory. It's been a long time comin', but I've joined the elite club of only a few others who have been slowly building their skills, honing their fortunes and ritualistically sacraficing chickens in an effort to please the gods of foosball to grant them a meagre victory.
  %p Stephen is a true champ of fooseball. His skills were nutured whilst playing for money in a London based agency. He shows little mercy.
  
%aside.col-1-4

