---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Wine Is Fine
published: 2004-12-30
next_item: /blog/2005/01/scorecards-galo.html
previous_item: /blog/2004/12/champion-of-the.html
topics: pants_off_living
...

  %h1 Wine Is Fine
  %p I have just returned home from a fantastic road trip through South Australia. The gorgeous Mel and I took in no less than three wine regions and tasted hundreds of fabulous wines from the Coonawarra, MacClaren Vale and Barossa. We carried four cases of selected goodness on our way home. Mmmm Tasty.
  %p We pretty much ate and drank our way through SA, after our first stay in Penola and tasting the wines of the Coonawarra (dry, dusty peppery reds, buttery chardonnays, and citrussy semillons) we cruised over to the lobster town of Robe - beautiful! SA beaches are a secret well kept; luminenscent blue waters, clean sandy beaches and lots of shady trees.
  %p The Galleria provided an excellent meal of lobster and seafood for us that night  - some of the best we would eat! But not _the_ best.  That was to be had in the sad old town of Kingston further north, gateway to the Coorong. We found a little fish and chip shop for lunch and had a platter of grilled locally farmed barramundi, scallops and callamari. The Barra was awesome!
  %p After some rally type driving around the Coorong we made it to Goolwa and set up camp for a couple of days of splashing around the Fleurio Penninsula. Great fun and some really varied beaches too. Port Elliot beach suited us the best - nice little paddling baby beaches. Good for lumpy people who don't want to fight too much surf.
  %p More soon...
  


