---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Any thoughts...
post_date: 2006-02-07
next_item: /blog/2006/02/down-time.html
previous_item: /blog/2006/02/yet-more-excite.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Any thoughts...
  %p So the time has come for a shared domain. Forget shared bank accounts and all that shite, you know you're really in love and going to spend the rest of your life together when you get a domain and website together. So what should it be?
  %p
    99union.org
    %br/
    travandmel.org
    %br/
    winters.org.au
    %br/
    yuan.org.au
    %br/
    boofheadandhotpants.com
  %p Any ideas?
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong
            %a{:href => "http://polydistortion.net/monkey/", :rel => "nofollow", :title => "http://polydistortion.net/monkey/"} cos
          %br/
          %small 7 February 2006
        %dd
          %p oh, the last one, definitely.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
