---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Down time
published: 2006-02-09
next_item: /blog/2006/02/ooooh-charts.html
previous_item: /blog/2006/02/any-thoughts.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Down time
  %p I'm not sure exactly what this says about me, but from time to time I seem to find myself in chronic downtime. It happens in a kind of cyclic way, every ten to tweleve months and is independant of employer activities, though since my employment cycle of the last few years has been 12 -14 months there could be a pattern emerging.
  %p I really enjoy having a project based focus for my work. It anchors my thinking and sets some real concrete activites for me to centre upon. I also really appreciate endorsement and support from management. It helps to provide 'legitimacy' to my activities and also ensures that someone other than me is interested in what I'm doing.
  %p While that might sound piss weak; like I need a fucking teacher to check my work - it is a key motivator for me. If it were up to me, and I could get paid equally well for it - I'd be doing 'other things'.  It is reassuring to have someone - mentor, manager, peer - endorse your work.
  %p Which is why, when I find myself with a few too many spare hours to fill, I find it hard to self-motivate and engage in positive activities which would probably be incredibly beneficial to me such as investigating the latest new technology or practicing new techniques.
  %p Like the soft-headed buffoon that I am, I hope that management notices how quickly I'm able to complete my work - hence the downtime. It quite clearly doesn't have that effect...
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
