---
layout: '/_layout.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Index'
title: February 2006
...
%article.col-3-4
  %h1 February 2006
  = local_index(__FILE__)
%aside.col-1-4

