---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Ooooh Charts!
published: 2006-02-15
next_item: /blog/2006/03/balloon-hat-web.html
previous_item: /blog/2006/02/down-time.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Ooooh Charts!
  %p
    I just stumbled across the
    %a{:href => "http://longtail.typepad.com/the_long_tail/"} The Long Tail
    \- an excellent and interesting journal by Chris Anderson, Wired Magazine Editor in Chief.
  %p His site has a huge amount of really interesting analysis of data as it relates to current business trends particularly with CD sales, blockbuster movie sales and a whole bunch of other neat, interesting and topical stuff.
  %p
    From the site;
    %br/
  %blockquote The theory of the Long Tail is that our culture and economy is increasingly shifting away from a focus on a relatively small number of "hits" (mainstream products and markets) at the head of the demand curve and toward a huge number of niches in the tail. As the costs of production and distribution fall, especially online, there is now less need to lump products and consumers into one-size-fits-all containers. In an era without the constraints of physical shelf space and other bottlenecks of distribution, narrowly-target goods and services can be as economically attractive as mainstream fare.
  
%aside.col-1-4

