---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: "Sport : Competition or Fun"
published: 2006-02-01
next_item: /blog/2006/02/yet-more-excite.html
previous_item: /blog/2006/01/dark-poetry.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Sport : Competition or Fun
  %p I never really made it at sport as a kid. Never really got into any team sport as an adult. Up until today, my mother (god bless her) and I were pretty much resolved to the fact that I just didn't have the gross motor skills - that I just liked playing lego and drawing. I was just too fucking uncordinated to play sport very well.
  %p I have played football (under 10's and 12's). I have played basketball. I have done gymnastics. I have trampolined. I have played squash and I love riding my bicycle.
  %p Most of those team sports, I hated. The two things I still enjoy, riding a bike and playing squash are individual endeavours.
  %p Recently, I was invited to play squash again - and I jumped at it; I'm trying to be more active and get out and about more. As I get older I'm more aware of myself, and I realise that my lack of ability was probably not due to my lack of coordination or skill (which always come with determination and practice) but more due to my sense of fun and enjoyment.
  %p If it was football, I loved kick-to-kick. It's a bunch of guys kickin' a footy around and talkin' - sometimes lairising, but mostly just seein' how hard and far they can kick a footy. Cool fun.
  %p I realised the other night during squash, one of the core weaknesses of my squash game is that I simply don't play to win. I play for fun. I play to hit the ball off the back wall to my partner, so that they can hit it back, and then I can hit it again... and again... and again. I'm like a pooch with a tennis ball in my slobbery mouth beggin for you to throw it again so I can run and get it...
  %p During the squash game, there were heaps of opportunities for me to win points, but I just simply popped the ball back onto the wall, dead centre, setting up an easy shot. My squash partner, just nailed me every time. They have the desire to win. I'm simply happy playing.
  %p Thing is though, I hate loosing. Go figure.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
