---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Yet more excitement in Brunswick.
published: 2006-02-04
next_item: /blog/2006/02/any-thoughts.html
previous_item: /blog/2006/02/sport-competiti.html
topics: pants_off_living
...

  %h1 Yet more excitement in Brunswick.
  %p
    "Goin' to Brunswick Mate?", asks one bikie to another.
    %br/
    "Nah, just shootin' through".
    %br/
    BLAM, BLAM, BLAM.
  %p Went out to dinner tonight, and as we drove away we noticed a few Harley's parked outside the Union Hotel. I remarked to Mel that it looked like there was going to be a big one tonight; the usual stuff, burnouts at 2.00am, shouting, a little fighting and piss-wrecks staggering home cussing one another out.
  %p Something different happened tonight though, we returned home to flashing red and blue lights; half a dozen police units and a whole bunch of police tape around the pub.
  %p By the time we got home at 10.00, a bikie had been shot three times and had already been dispatched by amblulance and the CIB were on the scene questioning witnesses. A few journo's were hovering around trying to gather a story from locals.
  %p I noticed one of the journo's desperately trying to feed a story to a colleague back at the office over the telephone; I said, "Dude, I could lend you a notebook with a wireless connection if you have an extranet - I could have blogged tihs story already!" He laughed.
  %p
    Anyhoo, as we approached Alexander Parade and got off the Eastern freeway on our way  home fron dinner out, a bikie on a Harley sped by us at a rate of knots.
    %br/
    "Looks like there's a rumble on at the Union tonight", I joked to Mel.
  %p How right I was.
  


