---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: 43 Things
published: 2004-11-25
next_item: /blog/2004/11/socialize.html
previous_item: /blog/2004/11/konfabulate-thi.html
topics: pants_off_living
...
%h1 43 Things
%p
  So check it out, this is a really neat social experiment -
  = succeed "." do
    %a{:href => "http://twinkler.43things.com/"} 43 Things
  You can create and save a list of 43 things you want to do with your life. If you keep hittin' the old refresh button you can see the list as compiled by other visitors.
%p It's kinda neat in that those things which are included on other peoples list are larger than other items in the list. In fact there seems to be some kinda sizing ratio which is determined by the items popularity among the lists. Cool. Does that make sense?
%p I'm really diggin' these kinda clever little social experiments. If you know of other nifty little sampling type thingies - let me know.

