---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Konfabulate This
published: 2004-11-22
next_item: /blog/2004/11/43-things.html
previous_item: /blog/2004/11/the-navigation.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Konfabulate This
  %p
    Considering what
    %a{:href => "http://www.v-2.org/"} Adam Greenfield
    had to say about the wonders of
    %a{:href => "http://www.konfabulator.com/"} Konfabulator
    \- it won't come as a surprise to me if in in 6-12 months time,
    %a{:href => "http://www.see.com.au/"} the people I work for
    won't be screaming for something like this of their own that they can ram down peoples throats.
  %p
    At the moment I am very "meh" about these kinds of things too. As a geek I'm more excited about things like
    = succeed "," do
      %a{:href => "http://gallery.menalto.com/"} Gallery
    but I guess not everyone has their own domain and website as I do, he says boasting like a twit. Gallery is a great piece of software, with many great features, but unless you're enarmoured with a few clues you're going to head to places like
    %a{:href => "http://www.flickr.com/"} Flickr
    to upload and share your photo's. It makes sense. In time, Flickr may become a trusted brand like Google. Maybe.
  %p It's easy to see how people gravitate to these kinds of places. To my mind it also illustrates word of mouth on the internet. If the people say it's good, then it must be good. Mustn't it? 500,000 users can't be wrong. Can they?
  %p
    Still, I just don't get Konfabulator. It's just a little too gimmicky. Most of the useful stuff that I can see that it does, I can do with my browser. Weather; "
    %a{:href => "http://www.bom.gov.au/"}> Meh
    ".  Dictionary; "
    %a{:href => "http://www.dictionary.com/"}> Meh
    ".  Lookup Movies; "
    %a{:href => "http://www.imdb.com/"}> Meh
    ". Should I remind you? -
    %a{:href => "http://www.mozilla.org/firefox/"} Firefox
    rocks. Keywords people, keywords.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
