---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Socialize
published: 2004-11-29
next_item: /blog/2004/12/champion-of-the.html
previous_item: /blog/2004/11/43-things.html
topics: pants_off_living
...

  %h1 Socialize
  %p
    Okay, so now I'm really interested. Social Software huh; while scanning the
    %a{:href => "http://del.icio.us/"} newest meme collection
    on the block. I stumbled over the
    = succeed "." do
      %a{:href => "http://www.corante.com/many/archives/2004/09/30/the_seven_two_pieces_social_software_must_have.php"} Two Pieces That Social Software Must Have
  %p This is a pretty thoughful consideration of the different ingredients that combine to make social software work.
  %p
    For me it's another summation of the power of the Wiki. I wonder what would happen if
    %a{:href => "http://www.breadtv.com.au/"} some
    %a{:href => "http://www.sportsgirl.com.au/"} of
    %a{:href => "http://www.gardeningaustralialive.com.au/"} the
    %a{:href => "http://www.ranzcog.edu.au/"} sites
    I have worked on this year were handed over, even partially, to the communities / audiences, they are built to serve.
  %p What would they look like? What kind of direction would they take? What kind of discussions would take place there?
  %p It would take a lot of courage to hand even one of those websites over to their audience. I'm so curious though, what kinda' monster would it become.
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong nick
          %br/
          %small 7 December 2004
        %dd
          %p Trav you are a legend.  Thanks for fixing up the blog.  It looks great.  Cheers, Nick
  


