---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Talkback gene now mature
published: 2004-11-19
next_item: /blog/2004/11/the-navigation.html
previous_item: /blog/2004/11/welcome-would-a.html
topics: pants_off_living
...
%h1 Talkback gene now mature
%p I'm now quite happily into my thirties. Great. Gradually though, I have been developing (and finding it harder to resist) a desire to call in to talk back radio.
%p
  Believe me I've always enjoyed
  %a{:href => "http://www.rrr.org.au/"} listening
  to
  = succeed "." do
    %a{:href => "http://abc.net.au/melbourne/"} radio
  Mind you though, it's only been in the last few years that I've been happy to listen to full-on talk back radio. I mean seriously, only the nerdiest of kids listen to John Faine.
%p What's up with this? I'm finding it hard to control the urge to pick up the phone and call the radio station. Am I lonely? Do I just want someone to talk to?
%p No.
%p
  Am I senile, crazed, delusional; do I just want to have a rant?
  %br/
  No. I now have a weblog for that. Yay.
%p I guess it's only a few more years before the Bingo gene kicks in and I'll be down at the local town hall, cigarette in hand, half a lamington stuck to my face, pants soiled, waiting for my numbers to line up.
%h3 Comments
%ol.comments
  %li
    %dl
      %dt
        %strong
          %a{:href => "http://www.eaves.org/blog/", :rel => "nofollow", :title => "http://www.eaves.org/blog/"} Jon Eaves
        %br/
        %small 19 November 2004
      %dd
        %p Don't forget the Bowls Club gene.

