---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: The Navigation Paradox
published: 2004-11-20
next_item: /blog/2004/11/konfabulate-thi.html
previous_item: /blog/2004/11/talkback-gene-n.html
topics: pants_off_living
...
%h1 The Navigation Paradox
%p This is not about men or women. It's about living within the square or living with your ideological pants off.
%p
  Today, I had to drive to a street in Clifton Hill which I hadn't been before. I had been to Clifton Hill before. In fact I had even been in that
  %em part
  of Clifton Hill. But I hadn't been to that street.
%p
  I expected that once I kinda got us
  %em near
  Clifton Hill my navigator would be able to pick up on what was going on and get us to our destination. I was being pants off. I knew that we'd get there, just not exactly in the most direct and efficient way. Being the weekend, I was in an especially pants off mood.
%p Unfortunately, this aggravated my navigator. She was frustrated that I'd decided to even consider the map. She wasn't prepared to remove her pants. There were harsh words spoken.
%p Being pants off embraces all that is casual, relaxed, free and easy. It is about improvisation, adaptability and overcoming obstacles. Thinking outside of conventional paradigms.  What I neglected was that they key to being pants off, is ensuring that ones companions are as relaxed and stupidly happy as you are.
%p Therein lies the challenge.
%p When people aren't prepared to remove their pants, you must be prepared to at least help to ease them into something more comfortable.
%p Happy days.

