---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Welcome, would all attendees please remove their pants
published: 2004-11-18
next_item: /blog/2004/11/talkback-gene-n.html
previous_item: /blog/2004/02/bow-tie-bonanza.html
topics: pants_off_living
...

  %h1 Welcome, would all attendees please remove their pants
  %p Welcome, this is my 'blog. In time the true message will reveal itself to be nothing but the ravings of a deluded young man. In the mean time, sit back and enjoy the chaos that will be the guide to pants off living.
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong Dave
          %br/
          %small 18 November 2004
        %dd
          %p What. Are. You. Doing?
  


