---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Best Shopping Experience Ever
published: 2005-06-19
next_item: /blog/2005/06/man-amongst-men.html
previous_item: /blog/2005/05/the-hunt.html
topics: pants_off_living
...
%h1 Best Shopping Experience Ever
%p Yesterday, my beloved girlfriend and I found ourselves in the city having a bit of a poke around Melbourne Central lookin' for clothes. By chance we strolled on into Antons. We had a great time.
%p Antons is a clothing designer who specialises in things that are a little off beat; 40's inspired suits (for men and women), there's a little gothic wear, a few saucy prints (bondage images for shirts), a twist of Shanghai in it's prime and even a kinda 50's space theme there too.
%p We strolled in and began an epic shopping experience. Mel was being dressed in some beautiful oriental flavoured tunics with Mandarin collars, while I was sauntering around the shop in a 40's style Akubra hat - which I just had to have. And just as we thought it was all over, I was invited to try on a jacket to go with my new hat!
%p Well, for the next half-hour I was being dressed and coiffed by all four women in the shop. It was so much fun, the clothes were cool, the experience wonderful and the assistance lively and helpful. I usually hate shopping; I'm overweight and it's hard to find clothes that fit well off the rack. But Antons was just great, the clothes were well cut and fit brilliantly.
%p In the end, both Meli and I bought new clothes; Mel bought a whole new suit, and I bought the jacket, some pants designed for braces, the braces and a great shirt, cut in a classic style with French cuffs. We will both look deadly!
%p Thanks Antons, we had a great time.
%h3 Comments
%ol.comments
  %li
    %dl
      %dt
        %strong
          %a{:href => "http://polydistortion.net/monkey/", :rel => "nofollow", :title => "http://polydistortion.net/monkey/"} cos
        %br/
        %small 20 June 2005
      %dd
        %p Yeah! I've been meaning to go there for years now, to replace my crappy $300 suit I bought over 10 years ago. Where's the photo? ;)
  %li
    %dl
      %dt
        %strong
          %a{:href => "http://www.firerydragon.com.org.au/handMovements.asp", :rel => "nofollow", :title => "http://www.firerydragon.com.org.au/handMovements.asp"} Rhino
        %br/
        %small 29 June 2005
      %dd
        %p
          Never been there, but heard the gear is quite the style. Post a pic of your new suit travo, we all want to see you spiffed up mate!
          %br/
  %li
    %dl
      %dt
        %strong Nicole
        %br/
        %small 13 January 2006
      %dd
        %p Antons is an amazing shop! i love going in there. the staff are great and the clothes are to die for! you are guaranteed never to look like anyone else. brilliant brilliant shop.

