---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Man Amongst Men
published: 2005-06-29
next_item: /blog/2005/07/temper-temper.html
previous_item: /blog/2005/06/best-shopping-e.html
topics: pants_off_living
...

  %h1 Man Amongst Men
  %p I came to the realisation that for the first time in my career I'm actually working for men. Not that the guys I've worked for in the past aren't men. It's just that the guys I work for now have the following differences.
  %p They don't care how I feel.
  %p They're not interested in whether or not I'm comfortable.
  %p They're acutely aware that there are only two ways to touch a man; a short, firm handshake or with a clenched a fist to the face.
  %p They're solitary, they're uncomfortable if you ask to join them for a sandwich at lunch.
  %p They're actually pretty old.
  %p They've never worked in social welfare, theatre or any other creative arts. They've probably always worked in business in some way or another.
  %p
    Look, I'm not trying to say that any of this is
    = succeed "," do
      %em wrong
    it's just
    = succeed "." do
      %em different
    Really different. The team leaders and managers I've worked with before have all been really good to work for and in most cases made my work more enjoyable. Yeah, I admit it, I'm a sensitive new-age kinda guy. Worked in 'creative' environments,  hugging is acceptable.
  %p I reckon though if I try to hug my new boss, I'll get a fist in the face. And I'll deserve it.
  %p
  %p
    %br/
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong
            %a{:href => "http://www.mottey.com/leesblog", :rel => "nofollow", :title => "http://www.mottey.com/leesblog"} Lee
          %br/
          %small 1 July 2005
        %dd
          %p Where is this den of men? ie were are you working now?
    %li
      %dl
        %dt
          %strong Travo
          %br/
          %small 5 July 2005
        %dd
          %p It's probably best that I don't say...lord knows who might be reading.
    %li
      %dl
        %dt
          %strong
            %a{:href => "http://designhuggy.com", :rel => "nofollow", :title => "http://designhuggy.com"} Design Huggy
          %br/
          %small 24 July 2005
        %dd
          %p Sounds like someone needs a hug. Man amongst men. Forsooth! Come on big guy, give us a hug.
  


