---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: All work is ultimately futile
published: 2007-02-20
next_item: /blog/2007/02/yet-more-evidence.html
previous_item: /blog/2007/02/an-open-letter.html
topics: pants_off_living
...
%article.col-3-4
  %h1 All work is ultimately futile
  %p So it was with those few words that my beautiful wife sent another man spiraling into socio-economic-philosophical oblivion.
  %p She is a devastating woman. She regards herself as not particularly smart - she's wrong, she's incredibly intelligent; what set's her apart is her emotional rigour - her ability to separate her personal passions and enthusiasm from the everyday train-wrecks and death-marches of corporate life. These things don't trouble her; she's most pissed about not having seen the first three episodes of Heroes so she can keep up with the tea-room discussions and episode deconstruction.
  %p
    I am
    %em so
    jealous.
  %p Apparently my expectations are too high, she tells me. I'm too optimistic that I should want my manager to take some interest in the work that I do.
  %p
    Sorry, but I can't. I don't consider myself a particularly needy person, but hey, I've been back from my honeymoon for two weeks and my manager has barely spoken to me. Okay, so I've got a direct report to a divisional general manager who is in the throws of end-of-financial-year; five minutes man.
    = succeed "," do
      %em Five minutes!
    just to say, "Hi, how was your honeymoon? There have been a few things that have popped up while you were away, can you take care of them. Oh and we need to talk about a couple of significant projects for the year. I've got a handle on some real strategic direction from the other managers."
  %p Cool, I'm on it.
  %p No. Nothing. I've had to initiate two very brief conversations with him; one about his break and how it was and that he's thinking of buying a boat. Great. Nice.  The other was about a significant project that sank last year - I've been plugging away building an implementation of my own which I think might more than service the needs that remain without the other project; "Oh yeah, you keep working on that, it sounds good for your own interests."
  %p Sigh.
  %p I'm happy to keep working on this; it's a great opportunity for me to sharpen my Java skills. If I'm gonna spend seven hours a day, five days a week workin' - I want it to mean something.
  %p But, alas, all work is ultimately futile.
  
%aside.col-1-4

