---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: An open letter to early adopters?
post_date: 2007-02-14
next_item: /blog/2007/02/all-work-is-ultimately-futile.html
previous_item: /blog/2007/02/wedding-photos.html
topics: pants_off_living
...
%article.col-3-4
  %h1 An open letter to early adopters?
  %p
    This is a
    %strike great
    brilliant rant - Joel Johnson, former editor of Gizmodo
    %a{:href => "http://gizmodo.com/gadgets/feature/horseshoes-and-hand-grenades-joel-johnson-returnsto-spank-us-all-for-supporting-crap-236310.php"} goes absolutely nuts
    at the gadget whores, iPod fanboys and early adopters who suck up the bullshit and lies fed to them by the manufacturers.
  %p
    Here's a lil' taste;
    %br/
  %blockquote
    %em You want to know the punchline? The average Joe that makes up the market is smarter than you saps. The market-at-large waits until a clear leader emerges, then takes a modest plunge. You may think you're making up the "bleeding edge" of "gadget pimpatude" but you're really just a loose confederation of marks the consumer electronics industry uses as free market research and easy money. "Give me the latest version," you coo, hiking up your skirt another inch over your exposed wallet. "Point Oh One upgrades make me so hot."
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
