---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Human Shield
published: 2007-02-12
next_item: /blog/2007/02/wedding-photos.html
previous_item: /blog/2007/02/married-mooned.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Human Shield
  %p There are heaps of stories to tell about France and Italy. Today, on the way to work I'm most reminded about the 'human shield' principle of crossing Italian streets.
  %p Many people freak out about Italian streets - and for the most part, they freak out for a very good reason; those streets are damn scary. But if you apply the 'human shield' principle, you'll at least be safe, if not partly cushioned from impact when a bus or a car comes ploughing into you.
  %p When you want to cross a street, simply position yourself next to another pedestrian aligning yourself such that - in the event of an impact - they sustain the full force of the blow. The key to this of course is choosing another pedestrian who is 'native' to the area; they will be the best judge of when to step out and attempt a street crossing.
  %p Remember, there are safety in numbers; if possible cross with a large group. Always remember to put them between you and on-coming traffic. A large crossing group also presents itself to oncoming traffic more assertively than a small group of of two or three.
  %p Two is better than one though; are you crossing with a human shield?
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
