---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Married, 'Mooned and Exhausted!
post_date: 2007-02-04
next_item: /blog/2007/02/human-shield.html
previous_item: /blog/2006/12/getting-married.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Married, 'Mooned and Exhausted!
  %p Wow - it truly was the trip of a lifetime. Meli asked me today if we had fun... and well, truly we did. But it wasn't pillowfight style fun - it was adventure fun.
  %p We saw some of the greatest European cities - Paris, Nice, Venice, Florence, Rome - and visited some of the most incredible museums in the world; The Lourve, Musee d'Orsey, The Pompidou, Versailles, The Chagall Museum, The Peggy Guggenheim Collection, Doges Palace, The Uffizi, The Pitti Palace, San Peitro and the Vatican Museum. When it was time to leave Rome I was both mentally and physically exhausted.
  %p Meli and I have had the most epic start to our marriage and there could have been nothing better than the trip of a life-time to kick it off.
  %p To all of my friends and family, thank you for your support and gifts and for making our wedding day something to truly remember - it was a great night and one that I'll not forget. I am certain that there is no better place than in the company of your friends and fortunately, I don't have to leave the country to do that. I hope you are all well and that you've been enjoying the Melbourne summer - cricket, tennis, bushfires and dodgy public transport - without us.
  %p The year is spinning up and I think it'll have more adventures in store - stay tuned.
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong Ray Woolley
          %br/
          %small 10 February 2007
        %dd
          %p Com on trav where's the photos. We all had agreat time at the Wedding of the year cat cha soon
    %li
      %dl
        %dt
          %strong Travo
          %br/
          %small 12 February 2007
        %dd
          %p There are a bunch that have been uploaded on flickr : www.flickr.com/photos/prozacblues - check 'em out.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
