---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Wedding Photo's Galore
post_date: 2007-02-13
next_item: /blog/2007/02/an-open-letter.html
previous_item: /blog/2007/02/human-shield.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Wedding Photo's Galore
  %p
    It's what everybody's been asking for -
    = succeed "." do
      %a{:href => "http://www.flickr.com/photos/prozacblues"} ton's of wedding photo's
  %p
    I have a
    = succeed "," do
      %a{:href => "http://www.flickr.com/photos/prozacblues/sets/72157594527185187/"} set of photo's on flickr
    which is a selection of my family and friends, and
    %a{:href => "http://www.flickr.com/photos/melyuan/sets/72157594527190997/"} Meli has a set
    which is of family and friends from her circles. Everyone is in the one big fat circle now, so... all friends and family are ours. Besides, I've had to upgrade my flickr account to pro so I can upload all the wedding and honeymoon photos. Meli still has the free account and can't upload so many photos.
  %p
    I love all the photos and props has to go to the
    %a{:href => "http://www.msjane.com.au/"} amazing Ms Jane
    who did a fantastic job on the night (on bread and water only - sorry).
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
