---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Telstra doesn't get it, will never get it, and why telecommunications in Australia is the way it is
published: 2007-02-20
next_item: /blog/2007/03/hardly-workin.html
previous_item: /blog/2007/02/all-work-is-ult.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Telstra doesn't get it, will never get it, and why telecommunications in Australia is the way it is
  %p
    Telstra responded with maturity, foresight and articulate business diplomacy last week when prompted about their strategy for the Apple iPhone; "
    %a{:href => "http://www.theage.com.au/news/biztech/telstra-to-apple-stick-to-your-knitting/2007/02/15/1171405363291.html"}> Stick to your knitting
    ".
  %p
    Will Jobs personally have to come to Australia and negotiate with carriers
    %a{:href => "http://online.wsj.com/public/article/SB117168001288511981-euxzmjNFZTZhA_2z8OBtD6GK900_20070224.html?mod=blogs"} as he did with others
    in the States?
  %p
    With continued acumen and foresight, Telstra executives reason, "
    %a{:href => "http://www.theage.com.au/news/NATIONAL/Telstra-plays-it-cool-on-iPhone/2007/02/15/1171405361731.html"}> They did an exclusive with Cingular and they talked about a global rollout - well, Cingular is not a global company...
    ". Well, erm... duh!
  %p
    Like any gadget freak, I like shiny things and this year, none is more shiny that the new Apple iPhone.
    %a{:href => "http://www.eaves.org/blog"} Eaves
    will probably have a rant about how clever Apple are at marketing ice to eskimo's (and possible mention that it's only suitable for graphic designers with perfect hair and special needs).
  %p I drafted this post about a week or so ago and fortunately the passing of time has shown that no-one with a clear head and rational mind has bothered nibbling at Telstra's bait. It's a shame, but there will be no escaping the hysteria associated with the release of this product in Australia. Hopefully in a few months time when the product is actually in use in the American market clearer heads will prevail there too and we can get an idea of how well Apple can bring a first-release hardware (and software) product to a new market.
  %p
    %a{:href => "http://gizmodo.com/gadgets/cellphones/fd-up-rumor-cingulars-iphone-exclusive-only-valid-for-2-weeks-file-under-bullshit-238785.php"} Rumour has it
    that the exclusivity contract with Cingular is only two weeks.
    %strong Two weeks!
    Sorry, but this doesn't pass the sniff-test.
  %p Anyone think I'm being unreasonably harsh on Telstra though? Does this kind of response from them seem kinda... anti-competitive? What the fuck do they care anyway? More people (or has mobile uptake in Australia reached critical mass...) using mobile bandwidth more often? All Telstra has to do is provide the damn service!
  %p So quit bitchin' and stick to your knitting.
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong
            %a{:href => "http://www.eaves.org/blog/", :rel => "nofollow", :title => "http://www.eaves.org/blog/"} Jon Eaves
          %br/
          %small 6 March 2007
        %dd
          %p The problem associated with the mobile space is that the carriers rule the roost.  They are the ones that incur all the costs associated with devices attached to their networks, and non-conforming devices are especially difficult to deal with.
          %p The criticisms made were particularly valid as Apple has gone a "style" approach, which is fine for consumer electronics, but have paid a heavy price for not understanding what it takes to do a roll-out of a device that needs to have support from a potentially hostile partner.
          %p The normal approach (which is well understood by Nokia etc) is to suck up really hard to the carriers in the respective markets, make sure the devices support their network standards (which vary wildly from market to market) and partner with the carriers to bring the product to the masses.
          %p Clearly, this is not how Apple works.  Like Microsofts entrance into the consumer games space, Apple is used to being its own little monopoly and have completely underestimated the power of the incumbents (if you don't think Nokia will be paying attention and sucking up to Telstra to stop the phone, you're an idiot).
          %p Telstra is in the business of selling phone calls.  That's all they care about.  My guess is that the iPhone will not be a compelling "increaser of phone calls" to the market, so why should they care.
          %p Are you being harsh ?  Maybe from an Apple fan-boi you're being reasonable as you want your shiny new toy.  Anti-competitive ?  Don't make me laugh.  Telstra have absolutely no requirement to put any device, or support any random network protocol on their established network.  The fact that Telstra is the only EDGE provider means that if the iPhone is to come to Australia, then Apple really need to suck up to Telstra, or fund one of the alternative mobile carriers an EDGE network.
          %p "Stick to your knitting" is probably expressing that Apple have not gone about what they need to have when getting the phone into the Australian market, and probably underestimating the amount of politicing required in this space.  Something that I have a greater than average understanding of the difficulties of.
    %li
      %dl
        %dt
          %strong Travo
          %br/
          %small 6 March 2007
        %dd
          %p I might be a fan boi... they're just so, shiny.
          %p None the less, I certainly haven't understood the nature of the mobile carrier service in Australia in it's full - it is a complicated business. Obviously, Telstra (and the others that have to suckle at it's thorny teat or build a network of their own) dictate the nature of the service that is provided to the mobile phones.
          %p Yeah, Apple would be very ballsy to enter the (tiny) Australian market and demand that the primary carrier start providing services that are off spec, but good on 'em! I'm quite happy for them to do this because they purport to do it in the name of the user.
          %p While the cynic in me knows this is more clever marketing. The optimist in me believes that the physical technology (phones) can become easier and more useful to me only if the carrier services that it uses is forced to be more sophisticated.
          %p If Nokia has a "gently, gently" approach to this with the local carriers; "let's not rock the boat - we just want to sell phones", then fine. If Telstra doesn't care who flogs phones, just so long as people make calls, send sms and call 0055 numbers then the market is dicated by the service providers. The increase in services is dictated by sales droids who determine their validity by their sell-a-bility. How can we as consumers drive the services?
    %li
      %dl
        %dt
          %strong
            %a{:href => "http://www.eaves.org/blog/", :rel => "nofollow", :title => "http://www.eaves.org/blog/"} Jon Eaves
          %br/
          %small 7 March 2007
        %dd
          %p "then the market is dictated by the service providers"
          %p congratulations.   you win a cookie.
          %p welcome to the mobile world.
          %p (I might add, Australia is probably more open than most of the rest of the world regarding mobile services and adaptability due to the size and government regulations.  Try some of the european markets, or Japan if you want to see power)
          %p People need to understand that the cost of any device on the network is primarily borne by the service provider.  The support of the device is almost exclusively first contact with the provider.  When "Joe Average" has a problem with his phone, he doesn't ring the device manufacturer, he rings the service provider.  That's a _massive_ support burden for the service provider.
          %p
            And when the service provider tells them to contact Nokia/Siemens/Apple because their battery is flat, they end up on the 7:30 report because "Giant monopoly forced parents of disabled child to spend extra 30c on phone call. Shame, shame, shame".
            %br/
  
%aside.col-1-4

