---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Finally Added New Orleans
published: 2003-01-13
next_item: /blog/2003/09/new-ukulele.html
previous_item: /blog/2002/10/the-crescent-ci.html
topics: blues_highway
...
%h1 Finally Added New Orleans
%p After three months of kicking around Melbourne and Victoria I finally take the half hour I need to sit down and add New Orleans to the Journal. I hope you enjoy the read.  I've still got to add my return to Chicago, the Los Lobos gig and my triumphant return home.

