---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Alcohol, Sex and Violence - Farewell to Morwell
published: 2002-09-09
next_item: /blog/2002/09/this-birds-got.html
previous_item: /blog/2002/08/every-journey-h.html
topics: blues_highway
...
%article.col-3-4
  %h1 Alcohol, Sex and Violence - Farewell to Morwell
  %p Ahh, home sweet home.  There is nothing like returning to your roots, and gawd what a trip.
  %p I wanted to catch up with some mates before I went overseas and after a spot of dinner and a few celebratory ales at a pub, we decided that a trip to the newly opened strip club was in order - just to check it out. You know, "This Strip Club has been endorsed by The Prozac Blues Band."
  %p It was a very surreal experience. The strip club is set up in one of the very first venues I played at - Georges Mexican Bar and Grill. The first venue I played at was the Woodside Surf Club - not very blues.  None the less, Georges was a fantastic little club and bar which supported local music. After closing down for a few years and having the booths ripped out, the place is now a strip club. Pole dancing, cheesy dj music...and of course strippers.
  %p After we settled in I sat at the bar next to one of the girls whom I shortly discovered was the 'Girl Co-ordinator'.  The 'Chick in Charge' if you will. She was really interesting to talk to and for someone so young (under 30) had been involved in the 'visual entertainment' industry for quite a while, proudly stating that she'd been involved in magazines, video, dancing - everything except prostitution. How cool.
  %p I spoke to her quite a bit about the towns reaction to the club. I'd heard a whole bunch of stuff both negative and postive in terms of Morwell's reaction to it's new strip club but much of it was not much different to the stuff I'd heard when, in the early 90's, Morwell finally got their first adult book shop.  I guess folk are a little concerned about mad horny drunk blokes running around town causing all kinds of trouble. As you would.
  %p I don't know really, I think that there has been a distinct lack of entertainment in Morwell for a long time. Most of all a bit of a cultural drought has settled in the Valley for a decade. The movement of people that used to occur between the towns hasn't existed since the Kay Street Entertainment complex opened up in Traralgon a few years ago. This localised all of the music and entertainment to a few hundred metres and as a result it has become a diluted, unchanging and uninteresting gimmick.  A strip club might just be the jolt that the greedy club owners need, forcing them to think about ways to make their venues a little more interesting.
  %p Don't get me wrong. I don't think that we need strippers and sex in every club and venue in the Valley - that's stoopid. What we do need are venues which are willing to make their places interesting and stimulating to men, women, young people, old people - more diversity. No one club can do this, maybe a few little clubs might.
  %p So if you're interested in setting up a little bar, now's the time to get yourself a little venue in Morwell - somewhere just around the corner from the Nudie Bar where you can give the blokes (and chicks - hello to the girls having a hens night at the strip club) a venue to go to when they need a break from - well, themselves.
  %p As for the violence...it's gonna happen, and in time the young blokes will learn how to act appropriately in these kinds of venues. There is no violence towards the women, touch wood (figuratively speaking), but dumb yokels will be dumb yokels and young bucks will want to butt heads... hopefully though, when we go back there won't be another peanut chasing after our car, mistaking it for someone else, trying to kick our doors in.
  %p Un-be-liev-able. Morons.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
