---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Black Tie Balloon Art
published: 2002-09-10
next_item: /blog/2002/09/tokyo-rail-rock.html
previous_item: /blog/2002/09/this-birds-got.html
topics: old_blog
...
%h1 Black Tie Balloon Art
%p The next presentation of "The Benefits of Balloon Art in Radiation Therapy" will be made at a Black Tie fund-raising gala.  You're invited...

