---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Buddy Guy's Blues Jam
published: 2002-09-20
next_item: /blog/2002/09/walkin-blues.html
previous_item: /blog/2002/09/guitars-garage.html
topics: blues_highway
...

  %h1 Buddy Guy's Blues Jam
  %p The blues jam at Buddy's would have to be one of the funniest and coolest Jam's I've ever been to. The jammers were mad. Here's a rundown;
  %ul
    %li
      %b the dudes from the netherlands
      These guys were absolutely hilarious, they'd flown from europe, with their guitars to jam at Buddy's and they were the rockin'est three piece blues outfit I'd ever seen, the lead singer and guitarist had the biggest metal hair I'd ever seen and he was playin' his guitar real hard. Funny as hell. They did a riffed out rockin' version of Goin' Down which was like nothin' I've heard.
      %p
    %li
      %b the sweet black dude
      This guy sounded like a slightly gravelly Bill Withers and was just as soulful, he played an old Fender Mustang through some kind of phaser or something and he made it sound really sweet, not tacky at all. Very smooth. He also had a couple of guys on saxophone on his jam to back him and it sounded really full.
      %p
    %li
      %b the elvis lover
      You couldn't say that this guy was an elvis impersonator, just a lover. He had _all_ the moves. He started by callin' out these chords to the band which they played in gospel fashion (C, F, A). I can't describe it in words but what a show. I couldn't stop laughin'
  %p At times like this, you get to realise that Americans are often a wonderful blissfully ignorant caricature of themselves - get them in a group and they whoop it up, though as individuals they're a little more reseved about these little secrets.
  %p Australia isn't without this as well, but for some reason we actually know that we're takin' the piss out of ourselves. Americans seem a little bit more serious about this business of tribute.  I guess I'm trying to compare elvis impersonators with satire like Aussie Outback Adventures (Glenn Robbins)...
  %p I'm far too used to satire.
  %p None the less, the blues jam at Buddy's was a great experience. Very professional and filled with some great players.
  


