---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Died and Gone to Heaven
published: 2002-09-15
next_item: /blog/2002/09/the-biggest-gui.html
previous_item: /blog/2002/09/sumo.html
topics: blues_highway
...

  %h1 Died and Gone to Heaven
  %p Well, here goes. I'm here in CHICAGO! Whoooo Hoooo! And as the subject says, I feel like I've done died and gone to heaven. This place is awesome. I arrived at O'Hare at about 8am in the morning after leavin' Tokyo, Narita at 11am that mornin... a 10 hour flight and crossing the dateline did things to my body I don't even want to talk about - yeah, middle seat.
  %p I felt like I needed a decent rest before I started roughin' it again. As soon I was clear of immigration and customs and such, I headed straight for a payphone and started checking out downtown hotels where I could crash for the day/night.
  %p A real nice bloke, Kevin, a black dude as big as a house drove my by Airport Shuttle into my Hotel, The Essex Inn. Kevin was a real nice dude, he dropped me off last so I could get a fair glance at the city and talk with him while he dropped of the other passengers.
  %p So, did I mention that the Essex Inn is like 50 meters from Buddy Guy's Legends? - I'll get to that in a minute ;-)
  %p Check In, get to my room, 11.30 am, and crash for like 6 hours, get up, shower (I literally had to scrape the smell of Tokyo off me), iron my best shirt and head on over to Legends...it was surreal. I'd not been in Chigago more than 12 hours and I'm at Buddy Guy's LEGENDS! Yeah!
  %p Shame I didn't go straight from Melbourne to Chicago, the Rolling Stones are in town for their shows (anniversary even) and Mick, Ron and the Bass Player had been in on Tuesday AND Wednesday hangin' out with Buddy and havin' a jam, the whole place was still buzzin' with that news. I hung out at the bar, got myself a beer and started talkin' with Dallas Dave.
  %p Dallas Dave is a Texan from...nevermind. Anyhoo, turns out big Dave is here to see the Stones, he'd been both Tuesday and Wednesday, gave Thursday a miss and was gettin' lubed up before he went on Friday. He was a top bloke, I told about my trip and he was blown away, - he'd never heard of anyone doing a trip like that - let alone come from Australia to do it. In honour of that - he brought me beer.
  %p Anyhoo, at about 8.00pm Dave went off to see the Stones and I stayed by to have the best (and so far only) Gumbo, Fried Catfish and Collard Greens that I have ever tasted. There was like enough food there to feed an entire family.
  %p Speaking of which, I feel like I'm in the land of Giants, the people here would make my Uncle Col look tiny...and he's a big bloke. I mean, if you're fat over here, you're really fat.
  %p Anyhoo, the first band came on and they were okay, kinda slick, white, okay for a warm-up band, but when the main act came on, shit...that guy just blew me away.
  %p I'd seen this guy walkin' up the street, he was using a crutch to help himself but he was still movin' pretty fast. He walks right in a makes a beeline for the stage, and starts settin' up his rig. He's this older lookin' dude, about 5'7, sinuey. And he started playin his guitar (Albert King Style - some of y'all will know what I'm talkin' about) so hard and so smooth - I nearly fell outta my chair. This was some sweet Chicago City Blues. His backing band was tight too, he had a drummer nicknamed the Hurt, a slick dude on bass and a guy on keys...too cool.
  %p It was so good. Really, I didn't know whether I wanted to laugh or cry. I was so happy.
  %p These guys played until late. There was a rumour, started by the main man on stage - Carlos Johnson - that Keith Richards was gonna come by, since Keith actually knows Carlos, hell, Carlos played Keith's birthday a few years ago - they should know each other!
  %p So we all waited, Dallas Dave came on back from the Stones and settled in - turns out he's in sales, and like any nice sales man, he was fixin' to get himself a woman...married or not. Although he assured me that shaggin' married women was one of the Ten Commandments that he kept on the right side of, he seemed pretty damn keen to do everything else _other_ than shaggin' them.
  %p Keith didn't turn up though. I didn't care, I was stoked. What an awesome start to my trip here in the states (not to mention the 100 cable channels in my hotel that I just _had_ to get through - though, at 2am in the mornin' there ain't much on).
  %p I've managed to get myself a week here at Arlington House up in the North, it's a university area, so there's plenty of young people kickin' around. There's a blues club up here too called Kingston Mines which I'm hopin' to check out tonight. Let's see how we go.
  


