---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Ginza
published: 2002-09-11
next_item: /blog/2002/09/sony-central.html
previous_item: /blog/2002/09/the-excitement.html
topics: blues_highway
...

  %h1 Ginza
  %p I wanted to do some recon of the Ginza district to see if I could find the Sony Centre. It was still pretty early so I did quite a bit of exploring. I bumbled across the Sony building at about 10am ish. The marauding heard/flock/gaggle, probably gaggle of geeks, waiting outside gave the place away. There weren't any Japanese banging on the doors waiting to get in and check out the Sony Style.
  %p I was a little peckish and found myself a sandwich bar and had something akin to a chicken snitzel sandwich...nice.
  %p Sony Central opened at 11am...
  


