---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Gonna Ride the Rail
post_date: 2002-09-20
next_item: /blog/2002/10/mystery-train.html
previous_item: /blog/2002/09/the-first-feder.html
topics: blues_highway
...
%article.col-3-4
  %h1 Gonna Ride the Rail
  %p This mornin' Thurday, is a whole new day. I've been around to the nice little travel agent and made some enquiries. I've called the Auctioneers and told them I don't want to complete the contract of purchase, hell they can keep that money, I've had my fair fill of south Chicago. So, I believe I've escaped from the auctioneers, with my life and short only $70...I think that's a well paid lesson - don't you think.
  %p So, just like any blues man (well almost any bluesman) I'm gonna ride the rail. Well ride the rail and rent cars...
  %p I think it's a little bit more of a managable risk. And I get just as far - if not further, for my buck. In fact the cost of a rail ticket, one-way to New Orleans is about $182.00 - which is pretty damn good. I'll do it in hop's though. First to Memphis, (which means I miss out on Davenport and St. Louis) then to Jackson and finally to New Orleans. Renting cars will give me the ability to check out all the little towns and do the drivin' that I want to. It's not quite as indepentant as I want to be - but, shit, it sucks to poor over here.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
