---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Guitars, Garage, House and Dance
post_date: 2002-09-20
next_item: /blog/2002/09/buddy-guys-blue.html
previous_item: /blog/2002/09/kingston-mines.html
topics: blues_highway
...
%article.col-3-4
  %h1 Guitars, Garage, House and Dance
  %p On Monday (16th), I went walkin' around the Lincoln Park area a little more, there is another guitar shop around here called the Chicago Music Exchange. Oh God, there were so many great old guitars here, I nearly had to find a toilet. Not much under one bag of sand ($1000) though...
  %p I went walkin' downtown again looking for the Museum of Modern Art. Got lost, couldn't find it and went home. Promised myself I'd try again the next day. Did find the House of Blues, the Blues Equivalent of the All Star Cafe - Dan Ackroyd turned the blues brothers into a bit of a franchise, it's quite cool _very_ touristy.
  %p Got home and got talkin' to a really young English dude from Reading who is here on the House trail; you know - House, Garage, Dance? - electronic music? He's on a bit of a journey also, though much quicker than I. He'd been to New York, Detroit and now Chicago lookin' to pick up records and stuff for his collection, which is already a massive 2500 pieces of vinyl. That's a shitload of vinyl.  Young Joe is studying at university and is writing is dissertation (Cultural Studies) on House, Garage and Dance. Yeah, university is real tough.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
