---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Kingston Mines and BLUES
published: 2002-09-17
next_item: /blog/2002/09/guitars-garage.html
previous_item: /blog/2002/09/the-biggest-gui.html
topics: blues_highway
...
%article.col-3-4
  %h1 Kingston Mines and BLUES
  %p There is a club here that I'd read about which is supposed to be one of the biggest and best blues clubs here in Chicago - Kingston Mines. It is a pretty large venue with two stages, each with enough seating and floor space for about 500 people. Once the bands start at 9pm, they go set for set each hour...one band will play a set on one side for an hour - then take an hour break while the other band plays for an hour.
  %p They do this until 3.30 in the mornin' - nah, I didn't stay that long...
  %p As for being, the best club...I dunno, the jury is still out. It was a pretty well run club, very slick and organised, but it seemed a little forced, either for the locals or for the tourists.  The music, IMSHO, wasn't as good as what I'd seen the night before at Buddy's.
  %p So I cruised over to BLUES which is about 100 metres from Kingston Mines. This place has been around for a very long time, since the early 70's, and from the huge gallery of pictures on the wall of blues legends actually playing at that venue, I'd believe it.  The pictures basically included half the Alligator Records stable.
  %p There was a really cool dude (black, fat, hilarious) who was up there playin' when I arrived. He was very relaxed on stage and was a theatre of guitar faces - you know, the kind you make when you're tryin' to pull on that one note that's gonna get everyone' in the room's neck hair all raised up - he was very cool.
  %p He definitely was worth the cover charge. I'll try and get his name.
  
%aside.col-1-4

