---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Sony Central
published: 2002-09-11
next_item: /blog/2002/09/sumo.html
previous_item: /blog/2002/09/ginza.html
topics: blues_highway
...
%h1 Sony Central
%p The Sony Centre ab-so-far-ken-lute-ly rocks! There is all the latest cutting edge gear here - I expected a musem of old Sony trinkets and stuff, nah mate. New stuff - lots of it.
%p What's big?
%ul
  %li
    %p
      %b net minidisc
      There are heaps of new net minidisc products in the sony range some which are integrated with the Viao computing gear...all very cool.
  %li
    %p
      %b viao
      Oh yeah man. I want one of those high end workstations, they rock, they are too cool to describe.
  %li
    %p
      %b headphones
      You thought that paying $300 AUS for the noice cancelling headphones was a bit much. Nah mate, that's nothing. The headphones with the ultralight carved wooden ear cup things are awesome and sound like no headphones I've ever heard through...mind you they were getting signal from a Super Audio CD through the highest end Hi-Fi gear.
%p Too much cool stuff to mention...

