---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Sumo
published: 2002-09-11
next_item: /blog/2002/09/died-and-gone-t.html
previous_item: /blog/2002/09/sony-central.html
topics: blues_highway
...
%h1 Sumo
%p What can I say. This is really a fantastic spectacle which has to be seen... There is so much rich tradition and ritual which is displayed during these events.
%p Everything from the way in which one set of attendants sweep the ring to the other set of attendants who collect and place the correct mat for each wrestler and have the previous wrestlers mat removed.
%p It's an amazing experience. I won't forget it in a hurry. Make sure you ask me about it when I get back.

