---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Taito Rykodan...
published: 2002-09-11
next_item: /blog/2002/09/the-excitement.html
previous_item: /blog/2002/09/tokyo-rail-rock.html
topics: blues_highway
...
%article.col-3-4
  %h1 Taito Rykodan...
  %p ...is old. And Kewl! The folks here are real nice. Kenichi has made me feel welcome and the place is quite homely - you don't notice that there are 20 people here.
  %p None the less - this place is exactly like the brochure - traditional mat flooring, traditional bedding (a very thin futon, two sheets and a pillow made of sand or rice - Kenichi confirms that it's neither - it's buckwheat. Whatever - that sucker ain't fluffy), old style rooms and squat style poo poo.
  %p Hey! Palacial it ain't. It said that in the guide book but that wasn't what I was after. This place is recommended and is making my stay here very enjoyable.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
