---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: The Excitement of Sumo
published: 2002-09-11
next_item: /blog/2002/09/ginza.html
previous_item: /blog/2002/09/taito-rykodan.html
topics: blues_highway
...
%article.col-3-4
  %h1 The Excitement of Sumo
  %p I was up at the cracka. 6.00am. A quick shower and a stagger 'round - got my bearings and headed out into the mornin' to find the Sumo Stables and get my ticket for this afternoon.
  %p There's an AMPM around the corner - a lot like a 7/11 - which sells juice and water and all the handy things for a day out on foot.
  %p I made my way over the river from Asakusa to Ryogoku to find the Stables...naturally, I got lost. Ignored the explicit instructions given me by Kenichi and found myself at a Temple. Thank god for the convenience store across the street and the nice lady who struggled through my plea's for Sumo and pointed me in the right direction.
  %p Incidentally, Sumo means little to the Japanese, but if you mention Kokugikan - you're there.
  %p Despite being lost, I still made it to the Stables by 8am. Little did I know tha they weren't to open till 9am. That's okay, I had made a spot for myself in the queue and waited.
  %p Right on 9am - believe me, the head security guy was monitoring his watch - the ticket booths opened and they started selling tickets. Japanese efficiency permeates everything. Gotta love it.
  
%aside.col-1-4

