---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: The Biggest Guitar Shop I've ever Seen
published: 2002-09-17
next_item: /blog/2002/09/kingston-mines.html
previous_item: /blog/2002/09/died-and-gone-t.html
topics: blues_highway
...
%h1 The Biggest Guitar Shop I've ever Seen
%p I was staggering around the local area (Lincoln Park) and came across one of the biggest damn guitar shops I've ever seen. It was enormous - there must of been nearly 500 guitars hangin all over the place, there were all kinds of amps - more on that...  There was also a drum room - which was as big as any Melbourne drum shop I've seen - with twice as much floor stock, there was a keyboard room. Christ. The whole place was huge.
%p Amps - Pedro, or anyone who's readin' this who knows Pedro - get him to mail me. There are 4 (count 'em f.o.u.r.) Fender Champ's here, yeah the tiny ones with the 8" speakers, they're going for less than $US 250! I spoke to one of the dudes in there and if you want I can arrange to have one (or a couple) shipped home - he said he'd do me a good price. Mail Me!
%p What I really want to send home is a Fender Vibro King.  Oh God, those amps sound so good, they are the sweetest and richest sounding amps I've ever heard. Yummy. Still $US 2000 - a little outside of my budget...just a little.
%p I'm hopin' to check out another couple of stores today and get down town and walk around the loop a little.

