---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: The First Federal Auto Auction
post_date: 2002-09-20
next_item: /blog/2002/09/gonna-ride-the.html
previous_item: /blog/2002/09/walkin-blues.html
topics: blues_highway
...
%article.col-3-4
  %h1 The First Federal Auto Auction
  %p Since I didn't have any luck on Tuesday lookin' for a car I decided to get down south again to take a look out east on 95th, there are quite a few dealerships along there and surely one had to have a worthy bluesmobile.
  %p Nah. Not at one. I rode the bus from the Terminal out to Cicero, which is probably about 7 miles from the terminal. I think I walked about 5-6 miles back from Cicero to Western lookin for dealerships with some kinda cheap assed shit box car that I could buy and drive down to New Orleans. Not a one. Finally though, I got some good advice from a young dude at a Ford Dealership. He said there was an Auction held every Wednesday night and Saturday mornin's up on 63rd and State where they auction off everything from repo's to God, whatever.
  %p So, again back on the Red Line and up to 63rd, I was a little cautious, so I took the bus from the terminal to State street, which is like 500 meters from the Terminal...not lazy, cautious.
  %p The car Auctions are a mind blowing experience. I'd not been to anything like this in Australia let alone another country. Firstly, I'm in probably one of the most dodgy neighbourhoods, imagine Dandenong without knives but with guns. Then set up a BBQ and throw some burgers on a grill, add probably 500 cars, a warehouse, 10 dodgy auction assistants, 5 'security' guards dressed real casual - no uniforms, just badges and shiny guns, some mexicans sellin' drinks and one mad-arsed big old white dude with the most gravelly electronic sounding (probably had a tracheotomy) voice - make him the auctioneer and you got yourself an auction.
  %p And at 6.00pm - in come the cars. We had from 5pm to go out in the yard and perhaps wheel and deal with any of the assistants to get a car before they went on auction, but nah, who could know who are the assistants. They don't have no uniform, badge or identifying mark, they look as dodgy as all the hopefuls and hangers on lookin' to buy themselves a car.
  %p They get through those cars mighty quick too, probably no more than 3 minutes turn around; in - doors are opened, engines is on, lights are on; auction starts and bidding starts high, and they auctioneer drops it from 500-200 dollars before someone takes interest - then the bidding goes crazy! then, sale; roll in the next car from outside "let's sell this car" yells the auctioneer.
  %p The 'assistants' are like laser guided con men - they'll find you and start takin' bids from you - even if you look half interested! Shit, I bet I wasn't the only one who bought a car last night without really knowin' what the fuck was going on!
  %p Yeah, that's right, I bid on, and got a car. A repo. $700. The equivalent of a '96 Ford Laser wagon. I could nearly vomit. It was late in the night and they'd be auctioning for nearly three hours straight. My head was spinnin' and I thought "my god, what have I done" I went paid a $70 dollar deposit and signed the initial receipt.
  %p I sat down and not five minutes later they brought out an old police car which didn't even sell. I really wanted to puke. I thought about finishin' the deal right there and drivin' that shit heap back north. I'm glad I waited.
  %p I couldn't be bothered waiting for the bus, I didn't care whether or not any crack-heads were gonna try to rob me. Shit I only had $4 left, they could have that, the auctioneers had already taken my money. The total cost of the car was well over $1000 - what with the State Tax, the Auctioneers fee, the Insurance and a warraty - if I could be bothered with that.
  %p I went home and had a good lie down.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
