---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Tokyo Rail Rocks!
published: 2002-09-11
next_item: /blog/2002/09/taito-rykodan.html
previous_item: /blog/2002/09/black-tie-ballo.html
topics: blues_highway
...
%article.col-3-4
  %h1 Tokyo Rail Rocks!
  %p Checked into Narita at around 6pm Tuesday and made my way through customs (health office, immigration, baggage claim, customs and the arrival lobby) without too much trouble - bout an hour. Then I went off to get my ticket into Tokyo city - which is about 70km's from Narita.
  %p Fortunately there are a few sweet Japanese people (particularly the women) who are happy to make allowances for a mumbling Aussie like me. I managed to get my ticket into Tokyo on the Narita Express without grief.
  %p All the things you've heard about Tokyo/Japanese rail efficiency is true. They Rock. The trains run right on time and stop exactly in the same place at the station every time. It's really easy to set yourself up on the platform for the exact car that you have to get into. Too easy.
  %p In fact, there is a lot about this town that makes it easy for strangers - nice people, plenty of signage in English - that kind of stuff.
  %p Mind you - getting from Tokyo to Asakusa wasn't without stress. It was hot last night - as it is tonight - and humid, and struggling around the streets to get from one subway line to another was a little hard, but I made it, got my ticket and got to my hostel.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
