---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Walkin' Blues
post_date: 2002-09-20
next_item: /blog/2002/09/the-first-feder.html
previous_item: /blog/2002/09/buddy-guys-blue.html
topics: blues_highway
...
%article.col-3-4
  %h1 Walkin' Blues
  %p Tuesday, time to start lookin' for a car, and believe me I wanted to do the right thing by my blues brothers and had asked a Cook County Sheriff where they sell old decommissioned police cars. So I had to take the Red Line down south - as far as it would go - to 95th/Dan Ryan. That's 95 main streets south of the city near the Dan Ryan Expressway. Then, I had to get a 103rd street bus to Western Street.
  %p After a really pleasant ride around on the 103rd street bus East and back to the 95th Terminal, I took the right bus, the 106, which goes on 103rd street _West_!  Way, way out in the boondocks is the Cook County Sheriff's Impound and Auction yard, where they auction off old police cars. All are white, there are no old Mount Prospect police cars here my friends, and there is not another auction until 28th September and I hope to have left Chicago by then.
  %p The contrast between North and South Chicago is stark and I expect quite typical of the racial boundaries in many American cities. Not to suggest there aren't any black people up North - they're just ain't too many white people down south.
  %p When I got back into town, I finally made it to the Chicago Institute of Modern Art - what a great, great museum. It is really good, the diversity and quality of the work here is fantastic. I know there are quite a few art lovers on this list, you've got to get yourself here, if only for the art. It's truly great.
  %p Tuesday night I spent in. I was stuffed - these walkin' blues _are_ bad. I didn't know that by Wednesday night they was gonna be worse.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
