---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: AJAX - Welcome to my CV
published: 2006-03-16
next_item: /blog/2006/03/microsoft-aspne.html
previous_item: /blog/2006/03/vintage-wallpap.html
topics: pants_off_living
...

  %h1 AJAX - Welcome to my CV
  %p
    Finally found a genuine / commercial excuse to do something legitimate with AJAX. I decided to use the
    %a{:href => "http://prototype.conio.net/"} Prototype
    library, despite the fact that it's not well documented by the guy that developed it, there is a
    %a{:href => "http://www.sergiopereira.com/articles/prototype.js.html"} plenty
    of
    %a{:href => "http://www.snook.ca/archives/000531.php"} nifty
    pieces of documentation out there for it.
  %p In the end, this kind of stuff was very easy - I suspect though that polishing what I've done and making it a nicely integrated 'widget-type-thing' that a visitor/customer to the website will use is a whole nother thing.
  %p I also suspect that, if I choose to be super dilligent, making my web page work for people who don't have a javascript enabled browser will be a tricky minefield to navigate. I guess I can't really add AJAX to my CV until I've proven that I can do that.
  %p I'll keep you posted.
  


