---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Balloon Hat Website!
published: 2006-03-02
next_item: /blog/2006/03/pattern-languag.html
previous_item: /blog/2006/02/ooooh-charts.html
topics: pants_off_living
...
%h1 Balloon Hat Website!
%p
  Oh
  = succeed "." do
    %a{:href => "http://www.balloonhat.com/"} this is so cool
  So what do you do when you're travelling to 34 different countries, take balloons of course and make them into hats and photograph indigenous people wearing them;
  = succeed "." do
    %a{:href => "http://www.balloonhat.com/ca_gallery/centro_gal05.jpg"} let hilarity ensue
%p
  %strike
    I hope
    %a{:href => "http://www.prozacblues.com/davo/"} Davey
    sees this.
%p It seems that Davey has been subscribed for three years or so! Seems I came in late, or strangely may have reposted something I've seen before.

