---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Comm Games housing near Brunswick... not such a good idea.
published: 2006-03-24
next_item: /blog/2006/03/seo-gone-mad.html
previous_item: /blog/2006/03/web-20-wtf.html
topics: pants_off_living
...
%h1 Comm Games housing near Brunswick... not such a good idea.
%p
  If you're
  %a{:href => "http://www.theage.com.au/news/commonwealth-games/then-there-were-11--more-athletes-vanish/2006/03/24/1143083923858.html"} searching for lost athletes
  you probably don't have to search too far from the
  = succeed "." do
    %a{:href => "http://www.melbourne2006.com/Getting+Involved/About+the+Games/Games+Village/"} Athletes Village
  Perhaps a quiet stroll along
  %a{:href => "http://www.sydneyroad.com.au/"} Sydney Road Brunswick
  and into Coburg and you may well find a few asylum seekers, and among them might be one or two missing athletes.

