---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Microsoft ASP.NET, now with Atlas (AJAX) - be alarmed.
published: 2006-03-21
next_item: /blog/2006/03/web-20-wtf.html
previous_item: /blog/2006/03/ajax-welcome-to.html
topics: pants_off_living
...

  %h1 Microsoft ASP.NET, now with Atlas (AJAX) - be alarmed.
  %p
    Checked Slashdot this morning and
    %a{:href => "http://developers.slashdot.org/article.pl?sid=06/03/20/1853229"} read the news
    about Microsoft's
    = succeed "." do
      %a{:href => "http://atlas.asp.net./Default.aspx?tabindex=0&tabid=1"} integration of AJAX into ASP.NET with Atlas
  %p
    Someone handily provided the
    %a{:href => "mms://wm.microsoft.com/ms/uifx/asp_net_atlas.wmv"} url for a streaming movie
    demonstrating how to 'assemble' (
    %em build
    just doesn't sound right in this context - this guy ain't building nothing) an ASP.NET application using Visual Studio Express.
  %p
    Frankly, I find this whole scenario alarming in many ways on many levels.
    %br/
  %ol
    %br/
    %li Application development just got a whole lot easier for twits.
    %br/
    %li Debugging an ASP.NET application (without Visual Studio) now sucks harder.
    %br/
    %li Visual Studio behaves more like a 'toy' IDE, drag and drop this, click that - obscure fundamental component here, bury core business logic there.
    %br/
  %p This sucks a whole lot more because I kinda need to add .NET to my CV, seriously - but seeing this just doesn't make me want to - honestly. I'm really afraid that using Visual Studio Web Developer will make me a less smarter person - it won't actually introduce me to new and interesting concepts in compiled languages nor will it expand my skillset with useful and transferrable learnings.
  


