---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Pattern Language and Moderation Strategies
post_date: 2006-03-09
next_item: /blog/2006/03/vintage-wallpap.html
previous_item: /blog/2006/03/balloon-hat-web.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Pattern Language and Moderation Strategies
  %p
    I got very excited last year when I discovered Clay Shirky writings about moderation strategies (unfortuantely I can't locate the original article). His
    %a{:href => "http://social.itp.nyu.edu/shirky/wiki/"} wiki for Pattern Language
    is an equally valuable resource for developers who are working on social software and need to consider moderation and group / self management strategies to ensure the project doesn't go pear shaped.
  %p Even if you're not working on a large social software application, it's worth have a read of this material. It provides some genuine insights into online group behaviour and how to consider managing it.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
