---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: SEO Gone Mad
published: 2006-03-31
next_item: /blog/2006/04/learning-java-t.html
previous_item: /blog/2006/03/comm-games-hous.html
topics: pants_off_living
...
%article.col-3-4
  %h1 SEO Gone Mad
  %p
    I was shown
    %a{:href => "http://www.australianmalls.com.au/Melbourne/Melbourne_Camping_Shops.cfm"} this page
    today by one of my esteemed colleagues who was completely astounded at the non-sensical, meaningless and completely fruity writing included within.
  %p
    Obviously she'd found the page high in a
    %a{:href => "http://www.google.com/search?hl=en&lr=&q=Melbourne+Camping+Shops&btnG=Search"} Google search
    but when she landed on the page there are some very unhelpful instructions about how to actually find what you're looking for. Since it's just search phrase babble - using every possible heading and paragraph to shove the keywords into.
  %p
    For example;
    %br/
  %blockquote
    Street search for Camping Shops
    %br/
    You can locate a Camping Shop by searching for the street in which you think the Camping Shop is located. Just remember that as well as returning the Camping Shop you are looking for, this type of search will also return every other business in that street as well as other businesses they may have your search term in their Melbourne listing.
  %p
    Really, that just doesn't make any sense. Sara was right to find this hilarious and pointless. This kind of garbage is just gonna force people to search the old fashioned way - with the
    = succeed "." do
      %a{:href => "http://www.yellowpages.com.au/"} Yellow Pages
  
%aside.col-1-4

