---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Vintage Wallpaper Rocks!
published: 2006-03-14
next_item: /blog/2006/03/ajax-welcome-to.html
previous_item: /blog/2006/03/pattern-languag.html
topics: pants_off_living
...
%h1 Vintage Wallpaper Rocks!
%p
  This is so cool; so many tasty brown tones to be seen here - check out these
  = succeed "." do
    %a{:href => "http://www.5qm.de/"} vintage wallpapers

