---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Web 2.0 WTF? / Why Lonely Planet needs a Wiki
published: 2006-03-23
next_item: /blog/2006/03/comm-games-hous.html
previous_item: /blog/2006/03/microsoft-aspne.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Web 2.0 WTF? / Why Lonely Planet needs a Wiki
  %p
    There is a lot of
    %a{:href => "http://www.37signals.com/svn/"} talk
    \/ jibberish floating around about Web 2.0 - there are a lot of people getting very
    %em hard
    about it and there are also a lot of shysters who are flogging things that are now '
    %a{:href => "http://web2.0validator.com/"}> Web 2.0 enabled
    '
  %p Essentially, Web 2.0 is a name for a lot of really nice business models and concepts which are finding a market online. Again, time will show which of these models are able to actually generate income and create solid revenue streams.
  %p
    I think this article today on Webmonkey gives a really good summary of these models and also
    %a{:href => "http://www.webmonkey.com/webmonkey/06/12/index4a.html"} what web 2.0 is
    really about.
  %p
    There is also heaps of ammunition here to make a solid argument as to why I think
    %a{:href => "http://www.lonelyplanet.com/"} Lonely Planet
    should go with a Wiki. No really, hear me out.
  %p
    The whole LP / Wiki thing is a torch I've been carrying around for a little while now and I think it would be a great way for them to capitalize on the knowledge / expertise that they have -  and also what they've shared with 100's of 1000's of travellers around the world. Here's a few reasons why;
    %br/
  %ol
    %li They shift the content production from their staff, to everyone who is able to create and edit an entry on their Wiki. They may not necessarily need to reduce their staff numbers but their staff may have access to more up-to-date content which they can take ownership of online and effectively become wiki content editors.
    %li As mentioned, the accuracy / currency of their content has the potential to become higher.
    %li
      In time, they may be able to offer travellers the option of downloading to their PDA / iPod / Handheld a whole section from the Wiki on a particular destination. This could then ensure that while travelling you have access to the most current notes about Lismore.
      %strong> [update]
      As 37 Signals mention - these kinds of services are thing that LP shouldn't be afraid to charge for.
    %li With this model Lonely Planet may also make it possible for you to update your content online with revised travel information from the Wiki
    %li
      Most importanly, I think LP have a strong
      %em context
      within which they can foster a strong online community of travellers who could contribute effectively.
  %p
    I think there are heaps of opportunities here for Lonely Planet, it would be a bold move, but I think they have the right climate to grow a business activity like this;
    = succeed "," do
      %a{:href => "http://www.webmonkey.com/webmonkey/06/12/index4a_page6.html"} Human Filters, Information Architecture
    %a{:href => "http://www.webmonkey.com/webmonkey/06/12/index4a_page8.html"} Social Networking Model
    and the potential for strong
    = succeed "." do
      %a{:href => "http://www.webmonkey.com/webmonkey/06/12/index4a_page5.html?tw=design"} Folksonomies and Tagging
  
%aside.col-1-4

