---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: New "TLC for Kids" website
published: 2003-11-13
next_item: /blog/2004/02/bow-tie-bonanza.html
previous_item: /blog/2003/10/chef-richard-bo.html
topics: old_blog
...
%h1 New "TLC for Kids" website
%p "TLC for Kids" is a charity that does great things for sick kids.  There are pictures on their new website of some of the stuff they have done with Dave at Peter Mac.

