---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: 1967 Mosrite Vintage Strawberry Alarm Clock Guitars
published: 2006-09-15
next_item: /blog/2006/09/paris-hilton-walkin-talkin-livin-doll.html
previous_item: /blog/2006/09/powerhouse-blues-dvd-launch.html
topics: pants_off_living
...
%h1 1967 Mosrite Vintage Strawberry Alarm Clock Guitars
%p
  %a{:href => "http://www.uncrate.com/men/gear/musical-instruments/1967-mosrite-vintage-guitars-006166.php"} These guitars
  are far and away the most amazing instruments I've seen in a long time. And I've been lookin' at guitars obsessively for a lil' while now, and thought I'd seen everything.
%p
  They were
  %a{:href => "http://cgi.ebay.com/ws/eBayISAPI.dll?ViewItem&item=120026471951"} recently auctioned
  on eBay - I'm not sure how long this link will remain active for though...
%p How exquisite!

