---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Kids with guns.
published: 2006-09-23
next_item: /blog/2006/09/masanis-restaurant.html
previous_item: /blog/2006/09/the-worst-thing.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Kids with guns.
  %p At the supermarket the other week, a kid maybe 4 or 5 years old with a toy gun passed me in the isle, aimed and blew my head off its shoulders with a quiet "bang".
  %p I grew up in a house were guns, toy guns and gun play was strictly discouraged. My father (and today is his birthday) was a Vietnam vet. The picture is clear.
  %p As I've grown older, I've kinda followed this through; kids playing with guns just shouldn't be encouraged. Parents should find some other meaningful way for kids to interact and play with one another. Screw cops and robbers, cowboys and indians, marines and militant jihadi... kids should be able to engage in genuine fist fights, that have real consequences like blood noses and broken bones.
  %p Seriously though, in the supermarket though, what should I have done?
  %p What do you say to a parent who doesn't share the same wholistic view as I about the implications of children with guns? Do you tap the parent on the shoulder, then form a pistol with your hand and point it at their childs head and scream "BANG!"?
  %p This post was prompted by a similar question in this mornings papers, in some touchy-feely ethics / modern life column. The problem remains; parents nowadays don't like other people telling them how to raise their kids, and we live in Melbourne - guns aren't cool. Knives are though...
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong
            %a{:href => "http://www.eaves.org/blog/", :rel => "nofollow", :title => "http://www.eaves.org/blog/"} Jon Eaves
          %br/
          %small 25 September 2006
        %dd
          %p My response is normally to fall to the ground, clutching my head screaming in pain.  That generally gets an interesting reaction from the child, parents and onlookers.  I don't mind  the attention, but that might not work for you.
          %p IMHO, fantasy in life is good, it's an important part of the imagination process.  Kids with guns/arrows/mega-blasters are all just fine.  Teaching the difference between fantasy and reality and consequences of your actions becomes important.  Something I'll have to learn how to do sooner rather than later.
          %p
            I grew up in a house with any number of toys depicting violence (as did my brother), I still play incredibly violent video games which would make any card-carrying member of the PC police cringe in horror, yet I've completely avoided killing/harming/hurting anybody throughout my life, other than maybe through an ill-placed sequence of words.
            %br/
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
