---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Masani's Restaurant
published: 2006-09-24
next_item: /blog/2006/09/consumer-bovine.html
previous_item: /blog/2006/09/kids-with-guns.html
topics: pants_off_places
...
%article.col-3-4
  %h1 Masani's Restaurant
  %p Masani's will be the location of my wedding - to the beautiful Melissa - later this year. It is an excellent restaurant and will be a warm, friendly and enjoyable place for us to share our nuptials with our friends and family.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
