---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: "Paris Hilton : Walkin' Talkin' Livin' Doll"
published: 2006-09-20
next_item: /blog/2006/09/the-worst-thing.html
previous_item: /blog/2006/09/1967-mosrite-vintage-strawberry-alarm-clock-guitars.html
topics: pants_off_living
...

  %h1 Paris Hilton : Walkin' Talkin' Livin' Doll
  %p
    I liked this article illustrating
    = succeed "." do
      %a{:href => "http://chartreuse.wordpress.com/2006/09/18/why-paris-hilton-is-famous-or-understanding-value-in-a-post-madonna-world/"} what bloggers and online-marketing type people can learn from Paris Hilton
    I am convinced that she is an embodiment of the most vicious and vapid characteristics of our current dominant culture, but I also recognise that she is a curiosity. Hilton, and those like her seem to be completely oblivious to their environment.
  %p A very good friend suggested that some of the most important things you can remember are; who you are, where you are and where you're from. I like this mantra, it tells me that I must consider my conscience, my current context and my historical context.
  %p Paris Hilton, fails on all accounts; she cares little for which-ever environment you place her in, I'm not sure she fully understands her historical context (what does heiress really mean to her) and worst of all, her conscience is a barely acknowledge voice in the back of her self-absorbed and self-gratifying mind.
  %p Does it mean anything to her when she name drops? Is it because food is not an real or physical thing anymore - is it because it's merely a brand? Branding has created such a strong association between a gratification or need that she no longer considers the physical need, just the gratification of the brand.
  %p For her it's no longer the base needs of food, water, shelter, sex - it's McDonalds, Perrier, Hilton and Timberlake.
  %p I think...
  


