---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Powerhouse Blues DVD Launch!
published: 2006-09-11
next_item: /blog/2006/09/1967-mosrite-vintage-strawberry-alarm-clock-guitars.html
previous_item: /blog/2006/08/antiterrorism-is-the-new-terrorism.html
topics: pants_off_living
...

  %h1 Powerhouse Blues DVD Launch!
  %p
    Busy? Yup, flat out - I've been pulling together the final pieces of an 18 month project that captured the
    %a{:href => "http://www.powerhouseblues.com/"} Powerhouse Blues Band
    performing and celebrating their 25th Anniversary. The DVD has been pressed and the package is a beautiful thing; a beautiful slick, a great looking DVD with a high level of production not seen too often in local independant roots and blues bands, a bonus CD which features the Powerhouse Alumni performing five tracks together and a tidy little booklet in which each member gives their take on the formation of the band and how it started for them.
  %p It's been a great project and as usual, I've learnt heaps. Heaps. Event production, working with a video team, lighting production, audio production and recording, DVD authoring, DVD ripping and not to mention managing a project over such a protracted period.
  %p
    One thing helped to make it heaps easier -
    = succeed "." do
      %a{:href => "http://www.basecamphq.com/"} Basecamp
    I can not sing the praises of this web-app loud enough. It enabled me to communicate with different and disparate groups remotely, upload important files for review and discussion, and collaborate with the guys in the band. My daily work environment is very prohibitive and prevents me from using my email over the web. Using Basecamp for all the messaging ensured that I could stay in the loop and keep things on track during the day. Sweet!
  %p
    So, head on over to the
    = succeed "," do
      %a{:href => "http://www.powerhouseblues.com/"} Powerhouse website
    sign up for news (I promise there will be some forthcoming), keep up with the news and download some videos for your iPod. It's all good.
  %p Oh - and as for the launch, make sure that you keep Saturday the 23rd of September in your diary. We'll be launching the DVD is spectacular fashion at Seibii's Bar and Cafe in Newborough.
  


