---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: The worst things to happen to Rock
published: 2006-09-20
next_item: /blog/2006/09/kids-with-guns.html
previous_item: /blog/2006/09/paris-hilton-walkin-talkin-livin-doll.html
topics: pants_off_living
...
%article.col-3-4
  %h1 The worst things to happen to Rock
  %p
    This is a golden
    = succeed "." do
      %a{:href => "http://www.blender.com/guide/articles.aspx?id=1913"} top fifty list of all the worst things to happen to rock music
    Did they miss anything?
  
%aside.col-1-4

