---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Fighting Inertia
published: 2008-03-14
next_item: /blog/2008/04/brief-and-succinct.html
previous_item: /blog/2008/02/handwringing.html
topics: geeky_stuff, pants_off_living
...
%article.col-3-4
  %h1 Fighting Inertia
  %p
    Since joining
    %a{:href => "http://www.cogentconsulting.com.au"} Cogent
    one of the most difficult aspects of keeping up with the team is fighting inertia.
  %p In roles where you're bored, unchallenged and without focus it's very easy to go looking for distractions; email, web, coffee, a stroll 'round the office -- anything to help pass the day.
  %p Sure, if you're disciplined and still have interest in the projects or organisation you're working for you'll go and poke a stakeholder with a stick and see if you can't get them interested in some prototype that you've mocked up. If they can see some kind of benefit they'll invest in your enthusiasm. But usually, it's an uphill battle.
  %p I'm aware that this paints a fairly grim picture; it's a catch 22 but isn't laziness a merit in a developer? Well, no. I'm sure it's not. Not from what I've seen at Cogent.
  %p So, lately, I've been shutting down the IM and email and working hard to focus on putting in solid hours. It's hard. But I think I'm turning a corner.
  %p
    The next most difficult thing now is keeping up with
    = succeed "." do
      %a{:href => "http://www.redhillconsulting.com.au/blogs/simon/"} Simon Harris
  
%aside.col-1-4

