---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: 'Dense : Living in Hong Kong'
published: 2006-05-16
next_item: /blog/2006/05/what-kind-of-de.html
previous_item: /blog/2006/05/hello-george-ea.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Dense : Living in Hong Kong
  %p
    This is a fantastic gallery of photography by Michael Wolf, firstly of
    %a{:href => "http://www.photomichaelwolf.com/hongkongarchitecture/index.html"} The Architecture of Density
    and then
    %a{:href => "http://www.photomichaelwolf.com/100x100/"} 100 x 100
    which is a collection of 100 portraits of residents in their 100 square feet apartments.
  %p 100 square feet. That is tiny. Ten feet by ten feet. Wow. Think about that in your Cranbourne Mc Mansion.
  
%aside.col-1-4

