---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Google Maps  - Australia Mapped!
published: 2006-05-23
next_item: /blog/2006/05/smack-my-bitch.html
previous_item: /blog/2006/05/what-kind-of-de.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Google Maps  - Australia Mapped!
  %p
    Goooooooogle Maps rock my world. I've been waiting for the complete mapping data for Australia to be finished so I can fiddle around with the API. While I'm not at extreme mashup stage yet, I have implemented a bit of a location search for the
    %a{:href => "http://www.yamahamusic.com.au/education/locations.asp"} Music Schools at the Yamaha Music
    website.
  %p
    This is really exciting! It was pretty straight forward to set up, there were some great examples on the API documentation (proving that I'm
    = succeed ")" do
      %a{:href => "http://www.prozacblues.com/travo/blog/archives/000085.html"} a moron
    which I found easy to follow and implement for my purposes.
  %p There was some weirdness within my development environment - highly restrictive as it is - which arose from Internet Explorer not being permitted to set cookies, but other than that, it went very well. Drop a line directly to let me know what you think, I've still got comments turned off here and won't turn 'em on again until I can be sure that I'm not gonna get comment spam.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
