---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Hello George Eaves!
published: 2006-05-15
next_item: /blog/2006/05/dense-living-in.html
previous_item: /blog/2006/05/thank-the-gods.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Hello George Eaves!
  %p
    Congratulations to Jon and Sue Eaves who
    %a{:href => "http://www.eaves.org/blog-archive/000251.html"} welcomed their beautiful new addition
    to the family, George on Sunday morning.
  %p
    %a{:href => "http://www.rupertjones.com/weblog/archives/000059.php"} Rupert's sentiments
    are beautiful and hard to match, but it's great to see that two of the most generous, caring and loving people I know finally blessed with a bundle of joy!
  %p George, I anticipate, will shortly have; a level 60 sage in World of Warcraft, his own directory on eaves.org and an application for MCC membership in the mail.
  %p Love you guys.
  
%aside.col-1-4

