---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Pimpy!
post_date: 2006-05-26
next_item: /blog/2006/06/soccer-a-cruel.html
previous_item: /blog/2006/05/smack-my-bitch.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Pimpy!
  %p
    Shared the train to work this morning with one of the guys I work (whom I didn't know was from the 'hood) and I pointed out a
    %a{:href => "http://www.cannondale.com/bikes/06/CUSA/model-6BS.html"} bike I was lusting
    after (as some lucky prick rode by on it) and he mentioned the goodness that was '
    %a{:href => "http://www.mtv.de/pimpmyfahrrad/index.php"}> Pimp my Fahrrad!
    ' which was on TV in Europe when he was working there.
  %p How cool - it's like Pimp My Ride but with bicycles, and wacky Germans! What could be more fun.
  %p Klaus, ubergeben mir den Schlussel!
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
