---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Smack my bitch up!
published: 2006-05-26
next_item: /blog/2006/05/pimpy.html
previous_item: /blog/2006/05/google-maps-aus.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Smack my bitch up!
  %p
    This is coooooool - makes me wish this was on my StinkPad notebook;
    %a{:href => "http://blog.medallia.com/2006/05/smacbook_pro.html"} SmackBook Pro
    allows you to switch virtual desktops by tapping the side of your monitor. 'Ken awesome.
  
%aside.col-1-4

