---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: 'Thank the Gods : Keef is still alive!'
published: 2006-05-12
next_item: /blog/2006/05/hello-george-ea.html
previous_item: /blog/2006/04/learning-java-t.html
topics: pants_off_living
...
%h1 Thank the Gods : Keef is still alive!
%p
  I can't begin to tell you how relieved I am that
  %a{:href => "http://www.theage.com.au/news/people/richards-thanks-hospital-staff/2006/05/11/1146940674240.html"} Keith Richards has finally been discharged from hospital
  after falling out of a coconut palm and damaging his own nut.
%p
  It would have been a fairly inglorious end to a stellar career in which he has managed to outlive many of his other contemporaries. I mean, cool - if Keith had actually been mortally injured falling out of a coconut palm, that'd have been
  = succeed "." do
    %strong very rock and roll
  Unfortunately though, had Keith passed away in a hospital bed with a hole in his head to drain away fluid on the brain; well anyones Grandmother can die like that. It just woud not have been a fitting end to one of Rocks greatest living treasures.

