---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: What kind of developer are you?
published: 2006-05-16
next_item: /blog/2006/05/google-maps-aus.html
previous_item: /blog/2006/05/dense-living-in.html
topics: pants_off_living
...

  %h1 What kind of developer are you?
  %p
    Oh this is golden - are you an
    = succeed "?" do
      %a{:href => "http://diveintomark.org/archives/2004/08/16/specs"} Asshole or a Moron
  


