---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Link-a-licious!
published: 2006-06-28
next_item: /blog/2006/06/more-google-fun.html
previous_item: /blog/2006/06/soccer-a-cruel.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Link-a-licious!
  %p
    After an embarrasing social meeting a few weeks ago, and a day yesterday spent organising and tagging all of my bookmarks I now have my bookmarks all
    = succeed "." do
      %a{:href => "http://del.icio.us/travo"} online at del.icio.us
    Even more surprising was that I could actually get the username 'travo' - sometimes that's impossible - especially after del.icio.us being online for so long...
  %p None the less it was during lunch with James Ross that I realised that if I'm going to get real about the social internet, I should get online and get a few of these things happening. I didn't use del.icio.us because it was fairly ugly and in truth, I didn't really 'get it' - social bookmarking? Huh?
  %p It really solves a couple of problems for me; 1, I don't have to export my bookmarks from work and mail them home, which in truth is really dumb; 2, I can bookmark and tag stuff using my own taxonomy - which is truly the greatest thing about folksonomies (incidentally bookmarks taged 'occasionally' is stuff that I read occasionally, how much sense does that make!); 3, I haven't been bookmarking a lot of great stuff that I find because I find my managing my bookmarks at a browser level can be a real pain in the arse. I realised yesterday that there was a lot of duplication.
  %p The other thing I realise is that I'm not really on board the RSS train. I know I should be, but I actually enjoy visiting a website and seeing whether or not there is new content there, and how that content is presented.
  %p Hey, we like going to our local from time to time to see how the place is decorated. Sure, we could get some take-aways from the bottleshop but to have a couple of pots in the lounge and soak up the atmosphere... meet a couple of new friends; it's great, it's part of the experience!
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
