---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: 'More Google Fun : Sitemaps + Analytics'
published: 2006-06-28
next_item: /blog/2006/06/more-fantastic.html
previous_item: /blog/2006/06/linkalicious.html
topics: pants_off_living
...
%article.col-3-4
  %h1 More Google Fun : Sitemaps + Analytics
  %p
    I'm having a great time using the new Google apps
    %a{:href => "http://www.google.com/webmasters/sitemaps/"} Sitemaps
    and
    %a{:href => "http://www.google.com/analytics/"} Analytics
    \- they're really useful tools!
  %p It took a little while for me to get the invitation code to use Analytics after they launched it - I think Google got quite a flood of webmasters going "Great! Google monitored web stats - me wanty!" and I can understand why; there is a lot of trust and good will associated with the big G. That's really a topic for another conversation though.
  %p Analytics have proved to be very useful for the Yamaha Music site at many levels (and I haven't really started to use it to it's full capacity); monitoring traffic - accurately, page overlays - for a quick examination of user behaviour; setting goals and examining conversions. Very interesting and challenging.
  %p I've also just setup the Sitemap for Yamaha Music and over the next week or so I'll be checking to see how that activity will affect google rankings and also what information it will provide me to improve my google ranking. Hopefully it'll also help me manage broken links and whole bunch of other pain-in-the-arse type stuff that happens when you run a website.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
