---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: More fantastic Balloon Art!
published: 2006-06-28
next_item: /blog/2006/07/doppleganger-perhaps-maybe.html
previous_item: /blog/2006/06/more-google-fun.html
topics: pants_off_living
...
%h1 More fantastic Balloon Art!
%p
  I hope my man Davey is watchin' out for this guy since his work looks pretty damn neat; Balloon Artiste meet mr
  = succeed "." do
    %a{:href => "http://littlejohncontemporary.com/Hackenwerth/"} Jason Hackenwerth
%p
  More links and pictures can be found
  %a{:href => "http://drawn.ca/2006/06/26/jason-hackenwerths-balloon-art/"} over at Drawn!

