---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Soccer - a cruel mistress indeed.
published: 2006-06-27
next_item: /blog/2006/06/linkalicious.html
previous_item: /blog/2006/05/pimpy.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Soccer - a cruel mistress indeed.
  %p
    Meli and I went to be early on Monday night and set the alarm at 1pm so we could get up, drink tea, eat wafers and have our
    = succeed "." do
      %a{:href => "http://www.theage.com.au/news/aussie-update/cruel-end-to-socceroos-dream/2006/06/27/1151174156305.html"} hearts broken two hours later
  %p Clearly this post is late, and there has been plenty of discussion and rationalisation of the horrible minute and in all honesty the years after this will be much more positive and triumphant for Australian Football than we can measure.
  %p But It hurts!
  %p Oh well, I'll get over it soon enough... ooooh look - A bird. He heh hehh heh ehhhe ehhe.
  %p It was kinda nice too, getting up in the middle of the night and huddling under the doona with your loved one, drinking tea and eating wafers. I reckon we should do that more often.
  
%aside.col-1-4

