---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Life on the Street
published: 2007-06-05
next_item: /blog/2007/06/transformers.html
previous_item: /blog/2007/05/the-world-is-flat.html
topics: pants_off_living
...

  %h1 Life on the Street
  %p
    I am in love with
    = succeed "." do
      %a{:href => "http://maps.google.com/maps?f=q&hl=en&q=new+york+new+york&ie=UTF8&ll=40.713143,-73.999979&spn=0.010458,0.017831&z=16&om=0&layer=c&cbll=40.709706,-74.001291&cbp=1,495,0.5,0"} google maps new street view feature
    It 'ken rocks! And, of course, with it comes the alarms regarding invasion of public privacy.
  %p
    The Age, isn't sure how to regard this;
    = succeed "?" do
      %a{:href => "http://maps.google.com/maps?f=q&hl=en&q=new+york+new+york&ie=UTF8&ll=40.713143,-73.999979&spn=0.010458,0.017831&z=16&om=0&layer=c&cbll=40.709706,-74.001291&cbp=1,495,0.5,0"} is it candid camera
    Maybe. Google street view really are moments captured in time.
  %p Millions of moments captured for all time.
  %p This is true life. Even if it might be people dealing crack, or sunbathing nude, or showing a little thong, or picking their nose, or scaling a fence. It's life in New York, San Fransisco as it is in the deepest darkest suburbs of Melbourne.
  %p When street view comes to our town, I'm sure we'll see worse - and better!
  


