---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Transformers!
published: 2007-06-30
next_item: /blog/2007/10/right-right-right.html
previous_item: /blog/2007/06/life-on-the-street.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Transformers!
  %p
    Meli's take on this film, as always, was succinct; "
    %a{:href => "http://www.transformersmovie.com"} Transformers
    is so macho it makes Top Gun look like a chick-flick".
  %p It was awesome.
  
%aside.col-1-4

