---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Anti-terrorism is the new terrorism
post_date: 2006-08-25
next_item: /blog/2006/09/powerhouse-blues-dvd-launch.html
previous_item: /blog/2006/08/only-the-lonely.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Anti-terrorism is the new terrorism
  %p
    %a{:href => "http://www.wired.com/news/columns/0,71642-0.html"} Refuse to be terrorised
    is Bruce Schneier's clear and calm voice - we all should be listening.
  %p Every twitch, every jump and every squeal gives us away; at a time in the world where the 'traditional' west is more emotional than ever. We really need to focus on good sense, strength and intelligence if we are to show resilience during these times.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
