---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: ASP.NET httpHandlers - nice.
published: 2006-08-04
next_item: /blog/2006/08/wow-what-a-posse.html
previous_item: /blog/2006/08/aspnet-request.html
topics: pants_off_living
...
%article.col-3-4
  %h1 ASP.NET httpHandlers - nice.
  %p I have to admit, I do like the way you can add to your config some wildcard properties to your servlet - sorry handler - path.
  %p
    For example
    %code add verb="*" path="*_app.aspx"
    allows me to prefix any files which are linked to my application with an appropriate name. message_app.aspx will be resolved as an application within my intranet and be pointed to my intranet handler. Within my intranet handler I can then determine which command I need to use to execute the right actions for that application.
  %p I like this a little better than the method I've been using for the Java Servlets, in that the prefix to the "action" header, such as action=message_view_item tells me that the keyword "message" is what will inform my Servlet about which command it is mean to execute.
  
%aside.col-1-4

