---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: ASP.NET Done and dusted.
published: 2006-08-08
next_item: /blog/2006/08/personal-video.html
previous_item: /blog/2006/08/youtube-sharing.html
topics: pants_off_living
...

  %h1 ASP.NET Done and dusted.
  %p At the risk of being really smug - ASP.NET is now my bitch. While I'm certain that this will bite me on the arse in time, I'm very comfortable knowing that I can capture some stuff, validate some stuff, shove some stuff in a database, get some stuff from a data source and shove some stuff on a screen.
  %p
    For the most part, this has taken me
    %em ages
    and I've probably been unfairly harsh on myself for not learning the language sooner. I'm confident though because the principles I've employed I've known for a lot longer; and they have proven much more valuable.
  %p C# and ASP.NET can now happily reside on my CV.
  


