---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: GeoTagging - you're it!
published: 2006-08-08
next_item: /blog/2006/08/youtube-sharing.html
previous_item: /blog/2006/08/wow-what-a-posse.html
topics: pants_off_living
...
%article.col-3-4
  %h1 GeoTagging - you're it!
  %p
    Obviously not a new idea, but
    %a{:href => "http://www.dpreview.com/news/0608/06080202sonygpscs1.asp"} Sony has a product
    which makes geo-tagging your photography a whole lot easier. How cool!
  %p
    Clearly there are heaps of applications for this kind of meta-data, and devices like this will hopefully continue to get smaller and make
    = succeed "." do
      %a{:href => "http://www.v-2.org/"} recording our experiences ubiquitous
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
