---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: How do you deal with this?
published: 2006-08-16
next_item: /blog/2006/08/only-the-lonely.html
previous_item: /blog/2006/08/personal-video.html
topics: pants_off_living
...
%article.col-3-4
  %h1 How do you deal with this?
  %p One of the most difficult things for me to deal with is young managers, usually inexperienced in having to deal with issues relating to computers or technology.
  %p The thing that makes me the most frustrated and uncomfortable is the phrase that starts with, "Well, I thought because you work on computers, you might now why...".
  %p Or, you just know the shit is going to hit the fan when a rebuttal comes with, "Well, I had assumed that because you were so smart, since you work on computers, you would have forseen [ this crappy outcome ]...".
  %p Look, if this just happens to me (maybe because I'm a young developer) then I'll accept that there is something I'm doing wrong in the lead up to those kinds of interactions. But please, surely it's not just me.
  %p The most unfortunate thing about this is that more often than not - it's women. Suggesting this is obviously problematic, but this mostly occurs with young female managers who have a responsibility to deliver an outcome or manage a process which might be related to technology in some way. Recently there was also a young male who was in a similar situation and the way he tried to negotiate a positive outcome was very similar; flattery, disbelief and then emotional dispair.
  %p For me that's the key behind this, emotional or personal cues and language used for business related communication.
  %p
    To put it mildly, I'm more 'emotionally aware' than most and as a result I'm pretty sensitive to this kind of communication - it frustrates me no end. I want the people I work with to
    %em like
    me but when communicating with them in this way, it's too
    %em personal
    \- negative responses and outcomes are sometimes loaded with a whole 'nother level of expectation.
  %p
    Obviously there are many
    %em smart
    ways to deal with this but for the most it's exposure, experience and personal awareness which makes this easier; it has for me, but it's still incredibly frustrating.
  
%aside.col-1-4

