---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Only the lonely...
published: 2006-08-16
next_item: /blog/2006/08/antiterrorism-is-the-new-terrorism.html
previous_item: /blog/2006/08/how-do-you-deal-with-this.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Only the lonely...
  %p
    %a{:href => "http://www.roughtype.com/archives/2006/08/the_great_unrea.php"} Nicholas Carr raises an interesting point.
    What is the point! Why am I writing? Who do I write for? What are my aspirations? Who is my audience?
  %p
    Firstly, I'm not
    = succeed "," do
      %a{:href => "http://www.newsome.org/2006/08/bloggers-challenge-who-do-you-write.shtml#115480142582449361"} all that bitter
    that I'm not a
    %a{:href => "http://reasonsyouwillhateme.blogspot.com/"} minor celebrity
    in the Melbourne blogging community. Christ, I just don't do it all that often. I do realise though that my audience is small - probably mostly made up of a few friends who frequent occasionally and some family members who hope I don't swear too much.
  %p If there is any angst about readership, it's simply that the random blitherings I have here won't affect my employment. Really! "Fuck, if I say that will I get the sack?" or "If I don't post something about [insert random technology here], I won't be able to get that next job, cause they'll read my blog and see that I'm a fucking moron." or "Fuck, since I've posted about [random technology x] they can actually see that I don't know jack about it..."
  %p That kind of stuff.
  %p
    Yeah, it kills me that comment spam outnumbers genuie comments 100 to 1. Yeah, I don't really do all that much that I find compelling to write about. Yeah, I'm probably addicted to
    = succeed "." do
      %a{:href => "http://www.zefrank.com/theshow/archives/2006/07/071106.html"} brain crack
    But fuck it - this is my place and I'll do what I like.
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong
            %a{:href => "http://hello.com", :rel => "nofollow", :title => "http://hello.com"} design huggy
          %br/
          %small 12 September 2006
        %dd
          %p Sympathy post :)
    %li
      %dl
        %dt
          %strong
            %a{:href => "http://www.prozacblues.com/", :rel => "nofollow", :title => "http://www.prozacblues.com/"} Travo
          %br/
          %small 15 September 2006
        %dd
          %p I don't need your damn sympathy... but I do appreciate your comment! ;-)
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
