---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: 'Personal video : too small to see and expensive'
published: 2006-08-14
next_item: /blog/2006/08/how-do-you-deal-with-this.html
previous_item: /blog/2006/08/aspnet-done-and.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Personal video : too small to see and expensive
  %p
    Seems that current research has shown that video for small devices such as phones and pda's
    %a{:href => "http://www.pvrwire.com/2006/08/13/small-screen-blues/"} doesn't have any traction
    among the kids.
  %p You can't pull one over the kids - bless 'em. They know what's good and what's crap.
  %p They're not gonna wait. If they do have to wait - it better be good. It also better have been worth it.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
