---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Wow - what a posse'
published: 2006-08-07
next_item: /blog/2006/08/geotagging-youre-it.html
previous_item: /blog/2006/08/aspnet-httphand.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Wow - what a posse'
  %p
    I'd love to be
    %a{:href => "http://www.cogentconsulting.com.au/associates/index.html"} on this list
    one day. That is just an amazing roll-call of people who, while being incredibly talented, are equally  good blokes. And good luck to Steve as he heads back out to tame the wilderness...
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
