---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: YouTube - sharing the load or bearing the costs?
published: 2006-08-08
next_item: /blog/2006/08/aspnet-done-and.html
previous_item: /blog/2006/08/geotagging-youre-it.html
topics: pants_off_living
...
%article.col-3-4
  %h1 YouTube - sharing the load or bearing the costs?
  %p
    For mine, this article about
    %a{:href => "http://www.theage.com.au/news/national/foolish-fireman-in-hot-water/2006/08/08/1154802861858.html"} a fireman in a tumble dryer
    is not significant because of it's content. It's because it's the first artcile I've seen posted online at
    %a{:href => "http://www.theage.com.au/"} The Age
    website which has directly embedded
    %a{:href => "http://www.youtube.com/"} YouTube
    content.
  %p What I see is The Age forefeiting the need to employ their own streaming content server and all associated costs. If The Age can easily upload their content toYouTube for distribution they lower their direct cost of bandwidth.
  %p I hope YouTube are hip with this - perhaps they should consider some kind of 'redistribution charge' for media agencies who upload content or embed content on their sites.
  %p Unfortunately designing a charging model is an economic minefield and YouTube enjoys much of it's success as a result of the millions of amateur web designers and publishers shoving their clips online and either embedding them in their own website or linking to them directly.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
