---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: If everyone lived like me...
published: 2006-10-02
next_item: /blog/2006/10/reskin-ahem-a-realignment.html
previous_item: /blog/2006/09/consumer-bovine.html
topics: pants_off_living
...
%article.col-3-4
  %h1 If everyone lived like me...
  %p
    \... we'd need
    = succeed "." do
      %a{:href => "http://www.earthday.org/footprint/english/results.asp?country=Australia&langauge=English&total=3.5&food=2.1&shelter=0.8&mobility=0&gAnds=0.6&planets=1.9&pid=224178494320863&hect_total=3.5&sess_natavg=7.6&wwf=False&almada=False"} 1.9 earths
    Take the
    %a{:href => "http://www.earthday.org/footprint/index.asp"} Earth Day Footprint Quiz
    and let me know how you fare.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
