---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Reskin! Ahem... a re-alignment.
published: 2006-10-18
next_item: /blog/2006/10/too-many-babies.html
previous_item: /blog/2006/10/if-everyone-lived-like-me.html
topics: pants_off_living
...

  %h1 Reskin! Ahem... a re-alignment.
  %p Despite a lot of recent talk about blogs and feeds making websites, kind of generic and pointless; I've decided to make this website more generic and even more pointless! Well, kind-of.
  %p I love my website, I'd like to think of it as an interesting extension of me, growing and evolving over the years, reflecting my interests, my skills and abilities and the occasional silly things I get up to.
  %p So, please enjoy this new skin as it gets rolled out over the coming days, feel free to let me know what you think. I'm certainly enjoying a new found comfort with grids... don't you agree?
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong Dave
          %br/
          %small 19 October 2006
        %dd
          %p hmm...it could be browner, particularly considering the various references to brown.
    %li
      %dl
        %dt
          %strong Travo
          %br/
          %small 19 October 2006
        %dd
          %p There's just never enough brown for you is there!
  


