---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: The Fickle World of Hits
published: 2006-10-30
next_item: /blog/2006/10/weird-browserse.html
previous_item: /blog/2006/10/too-many-babies.html
topics: pants_off_living
...
%article.col-3-4
  %h1 The Fickle World of Hits
  %p
    If there is one thing to learn from
    %a{:href => "http://www.thelongtail.com/"} the long tail
    it's that hits are dramatic and fleeting. This report suggests that the teen sensation
    %a{:href => "http://www.washingtonpost.com/wp-dyn/content/article/2006/10/28/AR2006102800803.html"} myspace could be experiencing a mass exodus
    as its fickle market go searching for newer, fresher shores.
  %p Ouch.
  %p
    I'm not a fan of myspace. But if all the tweens and teens clear out, how will it change the dynamic? The true nature of myspace will be made a whole lot clearer. And it'll be one that owes itself significantly to the ideas which were tossed around in the old tomb - the
    = succeed "." do
      %a{:href => "mailto:http://www.cluetrain.com/"} Cluetrain Manifesto
    Yeah, that old chestnut.
  %p I think myspace is really a marketplace and for the most part most of its stall holders are trading in entertainment. Movies, bands, artists, writers, cartoonists, freaks and phonies - all promoting their cultural wares. Sure there is some shonky trading going on, what with vicious teens flogging movies of their spiteful activities and there are some dodgy folk lurking around. Essentially though it's a market trading on creativity. I wonder whether or not it holds up as a mirror of western popular culture... frankly I don't know.
  %p Sure myspace looks like a friends, personals, social networking site, but I really don't think that is its true nature. Not when you see bands promoting their myspace page, or movie posters with the film's myspace url tagged on the bottom (remember when it used to be the AOL keyword?).
  %p The other significant issue raised by the article is what tweens and teens are learning about their own social heirarchy; with 258 'friends' how do you manage your list so that your keep your true buddies at the top. It becomes less about maintaining a webpage - posting photo's, uploading videos and blogging - that it does become about maintaining a relevant (customer facing?) social database where your friends are exposed to how much you care about them.
  %p I can just hear their vapid little voices now; "Like, you must hate me. How can I not be, like, in your top eight! I came to your birthday. *sobs*".
  %p Sheesh.
  %p To complete this sermon; at its core - I don't think that myspace has no real cultural or social capital and I don't think that you can sustain anything that doesn't have a genuine physical social or cultural context. As the fickle teenagers and tweenagers leave myspace and head for their next playground you'll see the real size, purpose and value of myspace.
  
%aside.col-1-4

