---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Too many babies? Time to grow up.
published: 2006-10-25
next_item: /blog/2006/10/the-fickle-world-of-hits.html
previous_item: /blog/2006/10/reskin-ahem-a-realignment.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Too many babies? Time to grow up.
  %p
    I love this - it is
    = succeed "." do
      %a{:href => "http://www.telegraph.co.uk/core/Content/displayPrintable.jhtml?xml=/arts/2006/10/22/svbabies22.xml"} time to grow up, time to be an adult
    I know how much of a great big baby I am; though I wonder about many others and whether or not they've really grown up.
  %p I often catch myself getting drawn into a collective hysteria; like a whole bunch of babies together in a room and one of them starts crying, then the one next to it starts and before you know - the whole room is awash with a siren-like wailing. I often find myself affected by a collective mood. Mel keeps reminding me of how sensitive I am; it's true. And it's hard to manage.
  %p
    Who knows whether or not this Telegraph article is serious or tongue-in-cheek - none the less, there are themes here which resonate. It was this line though that made me think of
    = succeed "," do
      %a{:href => "http://www.see.com.au/"} SEE
    "We have no social sensibilities beyond the tribal".
  %p I'm no advocate for a repressed society. There are many people I know who have the mix right - they know how to behave like adults and they know when it's appropriate to live life with childish joy. Collectively though it's time for the pendulum to swing back...
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
