---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Melbourne International Film Festival!
published: 2005-07-22
next_item: /blog/2005/08/gettin-my-lance.html
previous_item: /blog/2005/07/temper-temper.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Melbourne International Film Festival!
  %p It's that time of the year again. Dumplings and Classic Hong Kong Cinema for the Kung Foo fans or coffee and fresh international film of all flavours.
  %p My beloved girlfriend introduced me to the goodness that is the Melbourne International Film Festival a couple of years ago when she invited me out to go and see some Hong Kong Cinema with her. I was so hooked.
  %p It's a great time of the year to be indoors, in the dark, with other mad film fans (and some are quite mad) checkin' out classic Chinese sword films from the 60's or more recent dark crime films from Hong Kong. Better still it's a great chance to see some music documentaries on the big screen. Last year we caught the film documentary of the concert which supported Martin Scorsese's Blues Film series - fantastic.
  %p
    Last night was our first film of the season.
    = succeed "." do
      %a{:href => "http://www.rashfilm.com/"} Rash
    A great film about street art, stenciling, paste up and grafitti in Melbourne. It was really quite a great way to see the city and this exciting and active sub-culture which is internationally recognised as some of the finest of its kind in the world.
  %p
    Go and see it. In fact, go and see anything. I'm looking forward to
    = succeed "." do
      %a{:href => "http://www.kungfuhustle.com/"} this film
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong
            %a{:href => "http://www.rashfilm.com", :rel => "nofollow", :title => "http://www.rashfilm.com"} Nicholas Hansen
          %br/
          %small 8 August 2005
        %dd
          %p Hi Travo
          %p
            Thanks for your kind comments re RASH the documentary. http://www.melbournefilmfestival.com.au/Programme/Australian_Showcase.php?f=3564
            %br/
            RASH is a contemporary story of Melbourne and the artists who make it a living host for illegal artwork.
            %br/
            This film explores the cultural value of unsanctioned public art and the ways that graffiti art contributes to a very public dialogue.
          %p RASH will be coming out on DVD in the near furture so keep an eye on the website www.rashfilm.com for news.
          %p
            Peace!
            %br/
            Nicholas Hansen
  
%aside.col-1-4

