---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Temper Temper
published: 2005-07-20
next_item: /blog/2005/07/melbourne-inter.html
previous_item: /blog/2005/06/man-amongst-men.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Temper Temper
  %p
    I've now been working for nearly eight weeks at
    = succeed "," do
      %a{:href => "http://www.yamahamusic.com.au/"} my new job
    and I'll tell you what, I must be some kind of whole new man. No it can't be -  I'm still pretty much the same guy, doing the same kinda work...the only thing that has changed is the people whom I work for.
  %p
    See, it was suggested that there were problems with my temperament at my
    = succeed "." do
      %a{:href => "http://www.see.com.au/"} last gig
    Apparently, it didn't suit the environment; you know - that environment wouldn't suit too many people.
  %p
    Well, unless of course, you're personality type fits any of the following;
  %ul
    %li Egomaniacal megalomaniac
    %li Vacant minded, shallow, back-stabbing dimwit
    %li Dribbling moron
    %li Hate mongering sycophantic gossip
    %li Rush-about 'hummingbird' who really does nothing
  %p God bless 'em - one and all - the people I worked with who were intelligent and thick skinned enough to make it through week after week of complete and utter madness.
  %p I am grateful now to work in an environment in which respect and good manners are common place. Sure, it's a corporate environment and it may not be 'tribal'. Sure, blind Freddy can see that there will always be under-currents of mean-spiritedness and bitching. But hey, at least I know that when I go to work, I can do just that - work. All day, without interruption.
  %p I haven't had to spend a single minute trying to pull knives out of my back. What a relief.
  %p Yeah, maybe in six months things might be different. It's still early days yet and I'm still in a kind of 'honeymoon period'. Fortunately though, the boundaries of my responsibilities are very clear and I'm more that capable of fulfilling those responsibilities and more.
  %p I'll let you know how it goes.
  
%aside.col-1-4

