---
layout: '/_layout.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Index'
title: December 2011
...
%article.col-3-4
  %h1 December 2011
  = include '/_index_list.html.haml', pages: input_for_index
%aside.col-1-4

