---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Ignoring artistic merit...
published: 2008-12-31
next_item: /blog/2009/02/making-babies-is-hard-work.html
previous_item: /blog/2008/10/telling-capistrano-to-deploy-from-branch.html
topics: geeky_stuff, pants_off_living
...
%article.col-3-4
  %h1 Ignoring artistic merit...
  %p
    This is a beautiful quote about a recent Leibovitz photograph for the 2009 Lavazza Calendar
    %br/
  %blockquote ...done intentionally, front to back, top to bottom, money-no-object, by an army of the most talented professionals, from art director to stylists to make-up artists to baby-wranglers to lighting assistants to photographer to digital retoucher, all working assiduously in concert in pursuit of the utterly pointless.
  %p Substitute photography for software development -- boom, I'm transported to one or two projects from my past.
  %p
    Tip of the hat to Kottke,
    = succeed "." do
      %a{:href => "http://www.kottke.org/08/12/worst-photo-ever"} Worst photo ever?
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
