---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Right Right Right
published: 2007-10-12
next_item: /blog/2007/10/switched-part-one.html
previous_item: /blog/2007/06/transformers.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Right Right Right
  %p
    This is an
    %a{:href => "http://www.news.com.au/heraldsun/story/0,21985,22556281-661,00.html"} exercise online
    to determine whether or not you're a left brain (logical) or right brain (emotional) person.
  %p
    I am so right-brained, I
    %strong can not
    get the dancer to spin in the other direction. How does it spin for you?
  %p
    (
    %em> and yeah, I haven't blogged in a while. so what, sue me. who's reading anyhoo
    )
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
