---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Switched - Part Two
post_date: 2007-10-23
next_item: /blog/2007/10/whos-gonna-make-the-gravy.html
previous_item: /blog/2007/10/switched-part-one.html
topics: geeky_stuff, pants_off_living
...
%article.col-3-4
  %h1 Switched - Part Two
  %p
    And I have a new job. I'm no longer going to be amassing Yamaha branded consumer electronics and musical instruments. I'm going to be working for
    %a{:href => "http://www.cogentconsulting.com.au/"} Cogent Consulting
    \- the cracking-est bunch of developers you ever did see. I realised while writing this that I had
    %a{:href => "http://www.prozacblues.com/travo/blog/archives/000117.html"} yearned to be a part of their posse
    before. A good year later and here I am -- rock!
  %p Yamaha was an equal parts great learning experience and difficult personally negative experience. I'm grateful to everyone there from whom I've learnt many interesting things; logistics, finance, service, marketing, product support and dealer networking.
  %p I've ranted about the negative aspects of this before; the significance is that these experiences actually have a lot more to do with me and my ability to deal with them than the individuals and circumstances that cause them.
  %p As if I need to reassert my goals; I must work harder to develop a personal toolkit which allows me to function and act appropriately in environments that are uncomfortable, disagreeable or downright crappy.
  %p Which makes me all the more grateful for the support of my new colleagues -- it's great to be in a positive and encouraging environment.
  %p Not to mention all the cool stuff that I get to do, the exciting new platforms I get to do it on and the killer technology I get to do it with. Sweet.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
