---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Switched - Part One
published: 2007-10-23
next_item: /blog/2007/10/switched-part-two.html
previous_item: /blog/2007/10/right-right-right.html
topics: geeky_stuff, pants_off_living
...
%article.col-3-4
  %h1 Switched - Part One
  %p And now I'm a Mac whore. Fully switched, surrounded by more Apple logos (and Apple remotes - what's with that, does every Apple device need a remote now?) than you can poke a stick at. It's great; it's been nearly ten years since I used Mac OS in anger and in a familiar / slightly weird way, it's good to be home.
  %p
    Sure things have changed. It's not like I remember. Hardly at all really. But it kinda
    %em feels
    better.
  %p
    %strong What I'm loving
  %p Terminal : under the hood, there's this really strange and powerful beastie that will do your bidding for you.
  %p
    Good Mac software : Mail, TextMate, Calendar, Adium, iTunes, iWork, Delicious Library, Toast; there's just a whole bunch of really nice, well made apps which
    %em just work
  %p MacPorts : The developers hardware store -- you want it, just grab it off the shelf. Sorted.
  %p Parallels + BootCamp : This really is the best way to run Windows. Lock that fucker up in a box, don't let it out unless it's, really, really necessary. Parallels makes using windows the most surreal experience; seeing ugly windows over the top of your shiny Mac desktop in coherence mode is the strangest thing. But, it's so convenient.
  %p
    %strong What I'm struggling with
  %p Windows windows everywhere : it's a little hard to explain, but I do get quite lost trying to locate the last window I was working on. Command-Tab is useful, minimizing stuff to the dock is weird -- I can minimize something, but if that application is still active, there doesn't seem to be a command key to maximize it.
  %p Bad Mac software : as with most operating systems there is a load of junk out there.
  %p Unix : I don't have a heap of experience in this environment, so I've got to sharpen my chops. I'm enjoying the challenge, but hoping that I don't screw anything up.
  %p
    %strong Just sublime
  %p And there's the hardware, and this is where it gets a little creepy; it's freakin' beautiful. I kinda want to touch it in inappropriate ways. Do you think Jobs would care?
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
