---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Who is gonna make the gravy?
post_date: 2007-10-23
next_item: /blog/2007/11/getting-leopard.html
previous_item: /blog/2007/10/switched-part-t.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Who is gonna make the gravy?
  %p Went to see Paul Kelly last Friday night at the corner -- wept like a baby through most of the evening.
  %p I didn't realise how much his songs had attached themselves to my core. Some of the deepest parts of my conscience resonated to the strains of "To Her Door", "Deeper Water", "Who's gonna make the gravy", "Dumb Things", "Leaps and Bounds"... all of these songs bought big fat tears to my eyes.
  %p My wife just said I was over-tired.
  %p Great gig though; it was my first Paul Kelly gig, which made it all the more special. He's a great musician, a national treasure in fact. God bless.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
