---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Ownership
published: 2011-09-29
next_item: /blog/2011/11/healthy-communities.html
previous_item: /blog/2011/01/back-to-work.html
topics: geeky_stuff, pants_off_living
...
%h1 Ownership
%p One of the most frustrating things about work is ownership. Often I'm upset by not being close enough to the decision points in a project. Those decision points may determine direction, resourcing, purpose, fit, and finish. I'm happy to accept I'm a shocking back-seat driver. But I guess reconciling the reality of being a consultant, a developer, or — as I'm sometimes referred to — a resource, is an ongoing problem.
%p That problem stems from immaturity and an unwillingness accept the directions and decisions set in a project. Furthermore it points to a lack of authority and credibility when raising objections to those decisions or direction. "Raising objections" is a very sanitised way of saying whining, moaning, complaining and resistance.
%p A pure-blood consultant knows the levers to pull and push that effect change and redirect a project towards their own preferences. A white-hat consultant obviously does this in alignment with the business goals and objectives. A black-hat consultant does this for personal benefit and disregard for the goals and objectives.
%p What are those levers though? — The answer really depends on your objectives. The actions required to effect change in process are different from those required to effect a change in the direction of a project.
%p A project being run in a modern way (agile, scrum, lean...whatever) is normally structured so that you are involved and have opportunities to feedback and offer suggestions about that a project. If you're thoughtful about your observations you can be influential during a retro and tease out concrete action. If not immediately, you at least have the opportunity to re-raise issues and direct attention towards them from a different angle.
%p Feedback must be accompanied with credibility and authority — failure to establish yourself in this way through your actions or communication will only lead to further frustration.
%p Often, my failure is to establish my credibility and authority, then to break through issues like a sledge-hammer. My severe objections come as an unpleasant and unwanted to surprise to someone who, for all intents and purposes, believes they are doing the right thing. While I can sometimes be excused for "wearing my heart on my sleeve", it is not an effective way to bring about change and it's something I'm working on.
%p We're all human, how do you change what you don't have ownership of?

