---
layout: '/_layout.html.haml'
main_image: '/images/9mm-camera-rocks.jpg'
persona: 'Dave'
...
%article.col-3-4

  %h1 Balloon Art
  %h2 in Radiation Therapy

  %p
    Balloon Art as discussed in this paper is the manipulation of specialised balloons to create wondrous gee-gaws.
  %p
    %img.f-right.padded-lr{ src: href('/images/poodle.jpg') }>
    The most common example of balloon art is the ubiquitous "French Poodle" dispensed by buskers and clowns the world over. Observing such a creation demonstrates the cognition and imagination needed for most balloon art to work. In other words, this looks not much like a poodle.
  %p
    To examine the basic principles of balloon art (or how to make a giraffe) please refer to the
    %a{ href: href('balloon-art.html') } Basic Balloon Methodology
    lesson in this site.
  %p
    So how does balloon art relate to
    %a{href: 'http://www.targetingcancer.com.au'}Radiation Therapy,
    the treatment of cancer with radiation
  %p
    The
    %a{href: 'http://www.petermac.org/'} Peter MacCallum Cancer Centre
    provides Radiation Therapy services to the patients of the Melbourne Royal Childrens Hospital.
    By doing so they treat the majority of paediatric radiation therapy patients from Victoria,
    Southern New South Wales and Tasmania. On average they treat more than eighty children per year.
  %p
    Treating children is different to treating adults in many ways. Making some sweeping generalisations, Adults are easier to treat than children as they
  %ul
    %li can see the potential benefits of treatment
    %li will endeavour to lie still when asked
    %li are not afraid that their mummy will run off while they are in the treatment room
    %li and are less likely to bite

  %p
    Once again let me state that these are merely generalisations.

  %p
    As the benefits of Radiation Therapy may not be apparent to the child, it is usually necessary to include additional tangible benefits that can be realised in the short term otherwise known as 'bribes'.
  %p
    For some children Balloon art provides an excellent source of bribery for the following reasons;
  %ul
    %li
      %p
        %strong colour
        \- a wide range of colours is available, allowing creations in a favourite colour or even in extreme cases football team colours.
    %li
      %p
        %strong fun
        \- play can markedly reduce a childs anxiety level making the treatment session easier on everyone and whats more fun to play with than a balloon?
    %li
      %p
        %strong novelty
        \- the average child has had only limited exposure to balloon art.
    %li
      %p
        %strong variety
        \- the range of balloon creations possible is limited only be the imagination and skill of the balloon artiste.
    %li
      %p
        %strong nutrition
        \- balloons are less nutritionally damaging than chocolate or other common food bribes, however actual consumption is discouraged.
    %li
      %p
        %strong economics
        \- balloons provide excellent value for money, as will be demonstrated in the case study which follows.
    %li
      %p
        %strong ease of use
        \- as we have seen, balloon art need not be overly difficult to be effective.
  %p
    Balloons are also good fun for staff, improving morale and adding a special touch to special days such as birth days and more.
  %p
    %figure.small
      %img{ src: href('/images/tropical.jpg') }
      %br
      %strong
        Tropicana day

    %figure.small
      %img{ src: href('/images/angelDave.jpg') }
      %br
      %strong
        Glitter day

    %figure.small.clear
      %img{ src: href('/images/deepsea.jpg') }
      %br
      %strong
        DeepSea day

    %figure.small
      %img{ src: href('/images/cessna.jpg') }
      %br
      %strong
        Cessna day

  %h3.clear Contraindications to Balloon Art
  %p
    Unfortunately not all children can benifit from Balloon Art, they are listed as follows; Teething, Balloon-o-phobes, and "Tweens".

  %h3 Case study
  %p
    Henry (not his real name), a 3 year old boy, presented to the Peter Mac in April 2000 for Cranio Spinal Irradiation. This is the treatment of the whole brain and spinal cord.  The patient must remain still throughout the treatment so that the correct area can be treated, and other areas, such as the eyes, can be shielded effectively.  Prior to commencing treatment a stabilisation mask had to be made and numerous x-rays and CT scans taken with him in the mask.  These planning procedures were performed with Henry under General Anaesthetic.
  %p
    Anaesthetic was administered by a team from the Royal Children's Hospital, along with the Peter Mac nursing staff.
  %p
    At the first treatment appointment attempts were made to treat Henry without anaesthetic, but due to the extra time required for first day checks this did not prove possible.  The second and third treatment days were similar.  The actual time taken to deliver the radiation was around 6 minutes, but the whole procedure took around 45 minutes due to the need for precise patient positioning and beam placement.
  %p
    Over the first few days, Henry was given a balloon animal once he had recovered from the anaesthetic.
  %p
    The 4th treatment was performed without anaesthetic, although some staff felt like indulging in some afterwards.  The promise of a balloon sword and sword fight proved pivotal in this success.
  %p
    Post treatment sword battles became a daily event from then on.  During treatment promises of a sword and arguments about who was going to get who afterwards were sufficient to keep him still in his cast.  Balloon swords were made in advance for treatment days when a balloon artiste could not be in attendance.
  %p
    During the first 4 weeks of Henrys treatment the Anaesthetic team were present in the department as they were required for an 18 month old girl also having treatment.
  %p
    After 1 week without anaesthetic, the team no longer waited for Henrys treatment to finish before leaving the hospital.
  %p
    To celebrate the end of Henrys treatment I made him this dragon.
  %p
    %img{ src: href('/images/dragonSlayer.jpg') }

  %h3 Cost / Benefit analysis
  %p
    A bag of 100 Modelling Balloons cost $16.50 at the time. Henry would typically require 2 balloons per day, one for his sword and one for his opponents sword. Over 6 weeks of treatment this adds up to around $10 with a similar amount required for the dragon.
  %p
    This cost was offset by savings in the following areas (figures given are approximate);
  %ul
    %li
      %p 50 hours of Paediatric Anaesthetists time.
    %li
      %p 50 hours of Paediatric Anaesthetic Nurse time.
    %li
      %p 5 hours of Linear Accelerator time.
    %li
      %p 15 hours of Radiation Therapist time.
    %li
      %p 25 doses of anaesthetic.
    %li
      %p 5 weeks of anaesthetic supplies.
    %li
      %p + transport costs.

  %img.f-right.padded-lr{ src: href('/images/broombroom.jpg') }

  %p
    These savings proved so significant that the department could afford to buy me this small Porsche.

  %p
    The less tangible benefits are even more significant. Apart from avoiding the risks and physical effects of 25 general anaesthetics, there was less stress for his family, and Henry was not required to fast prior to treatment.
  %p
    Other patients reacted better to a boisterous child running around the department than an unconscious child being wheeled out on a trolley, and I lost 2 kilos in the running sword battles that would follow each days treatment.

  %h3 To conclude
  %p
    In cases where balloon art is indicated it has proven to be an effective and affordable method of bribery.  Whilst technical innovations like IMRT and VMAT come and go, the demonstrated benefits to patient, staff and the department in general will assure balloon art a place in the radiation therapy for years to come.
  %p
    %img{ src: href('/images/warp.jpg') }


%aside.col-1-4

  %p
    Balloon Art has often been described as the cornerstone of civilization, but its use in the Radiation Therapy department has largely been ignored.

  %p
    This article will present an overview of this valuable art form, covering; basic balloon methodology, indications and contraindications for balloon use and a case study including a cost versus benefit analysis of Balloon Art in the Radiation Therapy department of the Peter Mac.



