---
layout: '/_layout.html.haml'
main_image: '/images/9mm-camera-rocks.jpg'
persona: 'Dave'
...
%article.col-3-4

  %h1 Basic Balloon Art

  %h3 Step 1
  %p Balloon Art is not something that you can pick up in a second - and don't expect yourself to. You have to have a clue. Firstly attempt to inflate the balloon by mouth...then give up and use a pump.
  %img.balloon{ src: href('/images/giraffe_1.gif') }

  %h3 Step 2
  %p Leave part of the balloon uninflated - so it won't pop when you start twisting.
  %img.balloon{ src: href('/images/giraffe_2.gif') }

  %h3 Step 3
  %p Starting at the knotted end, twist three bubbles - one for the nose and one each for the ears.
  %img.balloon{ src: href('/images/giraffe_3.gif') }

  %h3 Step 4
  %p Take both the ears in one hand, and the nose and the rest of the balloon in the other.
  %img.balloon{ src: href('/images/giraffe_4.gif') }

  %h3 Step 5
  %p Close your eyes...and TWIST. Everything should pretty much stay in place without your help, if it doesn't twist a couple more times to get it to set.
  %img.balloon{ src: href('/images/giraffe_5.gif') }

  %h3 Step 6
  %p Repeat the process twice. First for front legs and a neck, secondly for back legs, abdomen and tail.
  %img.balloon{ src: href('/images/giraffe_6.gif') }

  %h3 Step 7
  %p Finally, release your baby balloon giraffe into the wild.
  %img.balloon{ src: href('/images/giraffe_7.gif') }



%aside.col-1-4


