---
layout: '/_layout.html.haml'
main_image: '/images/9mm-camera-rocks.jpg'
persona: 'Dave'
...
%article.col-3-4

  %h1 Grabatology

  %img.tie-large{ src: href('/images/ties/tiePrinceOfTies.jpg'), alt:'Prince of Ties' }
  %h3 The Prince of Ties
  %p
    This tie was apparently worn by Nick Nolte while starring opposite Barbara Streisand. We offer it to you to
    %a{ href: href('/images/ties/princeOfTies.pdf') }download, print and wear
    as part of our extensive collection.

  %img.tie-large{ src: href('/images/ties/tie1993.jpg'), alt: '1993' }
  %h3 1993
  %p
    Inspired by Versace, production of this style of tie was halted by the flourescent ink crisis of 1993. We offer it to you to
    %a{ href: href('/images/ties/1993.pdf') }download, print and wear
    as part of our extensive collection.

  %img.tie-large{ src: href('/images/ties/tieBobbit.jpg'), alt: 'The Bobbit' }
  %h3 The Bobbit
  %p
    This style of tie is still commonly worn by Geography teachers and some passengers on the number 11 tram. Freud would have a field day. We offer it to you to
    %a{ href: href('/images/ties/theBobbit.pdf') }download, print and wear
    as part of our extensive collection.

  %img.tie-large{ src: href('/images/ties/tieCupid.jpg'), alt:'Cupid' }
  %h3 Cupid
  %p
    Escher-esque lovehearts for Valentines day or anniversaries.  Download it for your next romantic interlude. We offer it to you to
    %a{ href: href('/images/ties/cupid.pdf') }download, print and wear
    as part of our extensive collection.

  %img.tie-large{ src: href('/images/ties/tieMeterolus.jpg'), alt: 'Meterolus' }
  %h3 Meterolus
  %p
    This design depicts Meteorolus the Greek god of weather vanes in an epic battle with the North Wind.&nbsp;We offer it to you to
    %a{ href: href('/images/ties/meterolus.pdf') }download, print and wear
    as part of our extensive collection.

  %img.tie-large{ src: href('/images/ties/tieNotMombassa.jpg'), alt: 'Not Mombassa' }
  %h3 Not Mombassa
  %p
    Reg Mombassa's rendering of Australian icons for the Mambo clothing company has become something of an icon itself.  This tie was not designed by him and Mambo don't make ties.&nbsp;We offer it to you to
    %a{ href: href('/images/ties/notMombassa.pdf') }download, print and wear
    as part of our extensive collection.

  %img.tie-large{ src: href('/images/ties/tieMarbledHarmonie.jpg'), alt: 'Marbled Harmonie' }
  %h3 Marbled Harmonie
  %p
    This tie, by "Harmonie," was "hand-woven and marbled in India".  Made of silk and smelling faintly of the Ganges, it is a fine example of a tie for messy eaters&nbsp;We offer it to you to
    %a{ href: href('/images/ties/marbledHarmonie.pdf') }download, print and wear
    as part of our extensive collection.

%aside.col-1-4

  %h3
    Rodney

  %img{ src: href('/images/ties/rodneyTagSmall.jpg'), alt: 'Connoisseur by Rodney' }

  %p
    Check out the
    %a{ href: 'grabatology-rodney.html' }Connoisseur by Rodney
    range.

  %p
    While every effort has been made to ensure that the reproduction quality of these ties will meet your printing needs, some sacrafices have been made for the sake of bandwidth; we didn't want to expire our quota of 1's and 0's.

  %p
    The author (one of the world's leading grabatologists) recommends white shirt and teal trousers as a compliment to any tie.  The above ties (and hundreds more) were tested with such an ensemble over a two year trial period. All teal/tie combinations were found to be suitable for professional environments, particularly hospitals.

