---
layout: '/_layout.html.haml'
main_image: '/images/9mm-camera-rocks.jpg'
persona: 'Dave'
...
%article.col-3-4

  %h1 Dave

  %h3
    %a{ href: href('how-much-does-a-moustache-weigh.html') }How much does a moustache weigh?

  %p
    In 2007 I did Movember. I hated the whole moustache growing experience so much I vowed never to do it again. Yet...

  %h3
    %a{ href: href('grabatology.html') }Grabatology
  %p
    Grabatology is the study and/or collection of neck ties. I intend to educate the wider blues community on the marvels of modern (and not so modern) neck wear. Lots of sites show images of cool ties, but only prozacblues.com offers ties to
    %a{ href: href('grabatology.html') }download and wear!

  %h3
    %a{ href: href('balloon-art-in-radiotherapy.html') }Balloon Art In Radiation Therapy
  %p
    This is web based version of a technical paper I have delivered in various professional forums.  It outlines the role of balloon art in the treatment of children with cancer including;
    %ul
      %li basic balloon methodology
      %li indications and contraindications for balloon use
      %li a case study including a cost vs. benefit analysis of balloon use during radiation therapy.

    %br
    Read the paper
    %a{ href: href('balloon-art-in-radiotherapy.html') }Balloon Art In Radiotherapy.

  %h3
    %a{ href: href('balloon-art.html') }Basic Balloon Methodology
  %p
    Balloons are a much maligned artistic medium, often considered shoddy or tacky by the art establishment. This opinion is well grounded, but those who can look beyond the cheap side-show aspects will find an omnidimensional art form.  Let me start you on this voyage of discovery, with a free introductory balloon lesson.
    %a{ href: href('balloon-art.html') }Balloon Art

  %h3
    %a{ href: href('joe-guitar.html') }The Heart Of The Matter
  %p
    One of the perks of my day job, is access to some pretty cool tech — check out this
    %a{ href: href('joe-guitar.html') }X-ray of my guitar
    Joe.

  %h3
    %a{ href: href('kombi-bites-the-dust.html') }Kombi Blues
  %p
    During my two years in Europe, nothing was more heartbreaking than my demise of my Kombi.  After an epic trip across Poland, we crossed into Germany, where it was pronounced "Kaput" on arrival.  I am pictured here during the first and only ever performance of "It's brown! It's broken down!"
    %a{ href: href('kombi-bites-the-dust.html') }check it out.

%aside.col-1-4


