---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: On Hackdays
post_date: 2014-07-24
next_item: http://twitter.com/travis_winters
previous_item: /blog/2014/07/on-recruitment.html
topics: geeky_stuff, pants_off_living
abstract: "It took a bit of pondering, but Every Thing is a Remix helped me understand Hackdays (which I don't really like)."
...
%article.col-3-4
  %h1 On Hackdays
  %p
    If you have not taken the time to watch the four part series of
    = succeed "," do
      %a{:href => "http://www.everythingisaremix.info/watch-the-series/"} Everything is a Remix
    I encourage you to do so. This web documentary explores the remix, tracing its origins far beyond electronic music and considers its future, especially with regard to copyright and patent law.
  %p
    Music is, at first glance, an easy media to draw threads of influence through decades of recording, recycling, reuse and re-invention. I love blues music. Tracing influences through towns, parishes, counties and states is part of what forms the
    %em story
    of the blues. Men and women who lived and worked together, shared ideas, stole ideas and made themselves legend.
  %p Software, in the twenty-first century, enjoys the cross-pollination and exchange of ideas like music and many other great artistic and cultural forms.
  %p The tech scene in Melbourne is exciting because of the organic flow of ideas. Ideas shared, stolen, reused, recycled and re-invented. We have a huge number of events and forums to meet, tell stories and swap ideas.
  %p
    I've been lucky enough in recent years to work a couple of stints at REA, contracting through Cogent. REA has a
    = succeed "." do
      %a{:href => "http://hackday.realestate.com.au/"} fierce hack-day tradition
    It enjoys huge participation rates and many folk look forward to it as a chance to collaborate and make new things.
  %p Cogent also encouraged a hack day tradition too. Generously setting aside time for people to explore product ideas. Product! Make product! Invent! Create!
  %p
    I love to make things. I consider myself a creative person. My creativity is inward and introverted
    %sup>
      %a{:href => "#1"} 1
    \. I love to draw, sitting quietly and sketching. Or writing, again quietly, alone and inward.
  %p But I have hated hack days.
  %p Hack days are loud, ego-fuelled affairs and I find it difficult to get on board. Lame product ideas, boring technical explorations, "mudguards" (shiny on top, shit underneath) which might as well be wireframes all make up a landscape of fervent activity that constitute hack day. If you're on those teams working on those one or two really genuine good hacks, it is clearly a thrill and I can see the attraction. Beyond that, I guess I haven't really got it.
  %p
    Re-reading what I wrote about Everything is a Remix
    %sup
      %a{:href => "#2"} 2
    triggered a change in thinking. What if I considered hack days as an opportunity to remix existing rather than conjure new products from thin air.
  %p Now I think I get it. At least for me, for now there's a way in. A way to look at the next hack day as an opportunity to take two or three disparate and existing things and munge them together and see what pops out. That I can get behind.
  %hr/
  %p
    %a{:name => "1"}>
    1. Apart from playing and performing music of course.
  %p
    %a{:name => "2"}>
    2. Wrote the first half of this post about Everything is a Remix about a year before this post.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
