---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: New Ukulele
published: 2003-09-17
next_item: /blog/2003/10/jumbo-balloon-d.html
previous_item: /blog/2003/01/finally-added-n.html
topics: old_blog
...

  %h1 New Ukulele
  %p Dave is now the proud owner of a geniune Hawaiian ukulele and is set to shake up the Australian ukulele blues scene. See this link for info on KoAloha ukes.
  


