---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Engaged!
post_date: 2005-11-17
next_item: /blog/2005/11/scheiner-on-son.html
previous_item: /blog/2005/11/weighing-in-on.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Engaged!
  %p Hooray! Meli and I are now officially engaged. I know that some of y'all kinda knew that something was happening, but now it's official since we got the jewels. Or Jools as they're known around here.
  %p
    Check 'em out
    %a{:href => "http://www.flickr.com/photos/prozacblues/"} in all their glory
    on Flickr.
  %p
    %img{:alt => "engagementRing.jpg", :height => "150", :src => "http://www.prozacblues.com/travo/blog/archives/engagementRing.jpg", :width => "402"}/
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong
            %a{:href => "http://www.eaves.org/blog/", :rel => "nofollow", :title => "http://www.eaves.org/blog/"} Jon Eaves
          %br/
          %small 21 November 2005
        %dd
          %p Gratz dude !  Give my love to Meli.....
          %p Still waiting for the phone call to let us know...
          %p
    %li
      %dl
        %dt
          %strong Rup
          %br/
          %small 22 November 2005
        %dd
          %p Gratz guys! Awesome news. Thanks for the phone call by the way :)
    %li
      %dl
        %dt
          %strong camo
          %br/
          %small 24 November 2005
        %dd
          %p ROCK on! Better make the most of your last days of sin-living.. also please stop calling ;-)
    %li
      %dl
        %dt
          %strong Robb
          %br/
          %small 1 December 2005
        %dd
          %p Bullshit! That could be anyone's hand.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
