---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Fire at the old factory
published: 2005-11-20
next_item: /blog/2005/11/mojo-the-sock-m.html
previous_item: /blog/2005/11/scheiner-on-son.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Fire at the old factory
  %p
    %a{:href => "http://www.flickr.com/photos/prozacblues/65019035/", :title => "Photo Sharing"}>
      %img{:alt => "Starting to really take hold", :height => "75", :src => "http://static.flickr.com/26/65019035_5d95e7688c_t.jpg", :style => "float:left;border:0; ", :width => "100"}/
    Woah, to top off an already exciting weekend, the old factory across the street caught fire. Check out all the action on
    = succeed "." do
      %a{:href => "http://www.flickr.com/photos/prozacblues/"} my flickr photo album
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
