---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Lone Ranger
published: 2005-11-03
next_item: /blog/2005/11/sony-drm-will-s.html
previous_item: /blog/2005/10/gigs-so-many-gi.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Lone Ranger
  %p I've been working as a team of one for nearly six months now and I think I'm starting to get a little concerned about my sanity. More importantly I'm getting concerned about my skills.
  %p While I'm lucky to be able to work within a much broader team of pretty nice people with good skills, they're not even remotely aligned to what I do - designing web apps, writing code. Which makes for pretty difficult peer review. I like peer review, in fact I benefit greatly from it. The others in the team would disagree, but the review I've been getting lately is for my 'pretty picture' and visual design work - and I appreciate this. But I fear that my programming and app design skills are going south.
  %p The question I guess that needs to arise from this is, 'well Travo, where are you going?'; frankly I don't know. Still, after all these years, I don't know what I want to be when I grow up. Today, I'm still bobbing around like a cork in the ocean.
  %p Crap.
  %p Time to make a plan. Time to start talking about the 'C' word. Yup, time to have a think about my career. Eeeeeeek. But I really like bobbing around like a cork in the ocean.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
