---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Mojo The Sock Monkey
published: 2005-11-21
next_item: /blog/2005/12/movin-on-movin.html
previous_item: /blog/2005/11/fire-at-the-old.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Mojo The Sock Monkey
  %p
    This is very cool and very cute. "The Story of Eh" is a new comic book about
    %a{:href => "http://www.bearskinrug.co.uk/_articles/2005/11/15/the_story_of_eh/"} Mojo the Sock Monkey
    a adventures worth of short cartoons illustrated by
    = succeed "." do
      %a{:href => "http://www.bearskinrug.co.uk/"} Kevin Cornell
    You've got to check out the toons that are on the website. I think this book would make a great Christmas gift.
  
%aside.col-1-4

