---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Scheiner on Sony
published: 2005-11-18
next_item: /blog/2005/11/fire-at-the-old.html
previous_item: /blog/2005/11/engaged.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Scheiner on Sony
  %p
    Bruce Scheiner must have long distance x-ray vision,
    %a{:href => "http://www.wired.com/news/privacy/0,1848,69601,00.html"} his perspective
    on the Sony DRM Rootkit is damning.
  %p If your tin-foil hat was twitchy you'd probably start to wonder what other kinds of nasties are on our computers that are ignored by the AntiVirus companies we trust to protect our machines and networks.
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
