---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Shuffling Along
published: 2005-11-09
next_item: /blog/2005/11/weighing-in-on.html
previous_item: /blog/2005/11/sony-drm-will-s.html
topics: pants_off_living
...
%h1 Shuffling Along
%p I have a heap of my own music ripped to my hard drive at work, about 20Gb worth. I realise this is much less music than many folk I know, but heaps more than most... None the less, I love to listen to albums - all the way through, all the time. But I've been struggling to find stuff to listen to among the hundreds of albums that I have ripped.
%p So, for the first time I've loaded the entire library, nearly 5000 songs, into the WinAmp playlist and hit shuffle.
%p Rock.
%p I'm suprised how much I'm enjoying this. But I'm not surprised how well my eclectic tastes have been blending together; The Beastie Boys followed by some Buddy Guy then by some Garbage, Tenacious D followed by some Perfect Circle. It's really quite cool.

