---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: "Sony DRM : Will Somebody Please Write a Case Study"
published: 2005-11-08
next_item: /blog/2005/11/shuffling-along.html
previous_item: /blog/2005/11/lone-ranger.html
topics: pants_off_living
...

  %h1 Sony DRM : Will Somebody Please Write a Case Study
  %p
    The
    %a{:href => "http://www.sysinternals.com/blog/2005/10/sony-rootkits-and-digital-rights.html"} Sony DRM Rootkit
    saga is currently one of the most fascinating pieces of 'current affairs' to affect everyday consumers. Unfortunately, this is not something that you'll see on ACA.
  %p
    I wish
    %a{:href => "http://www.eaves.org/blog/"} my
    %a{:href => "http://www.rupertjones.com/"} buddies
    would weigh in on this as I'm very interested to hear their takes on all of this. I'm not sure that  it'd entirely interest them, it's probably a conversation to be had over a few beers. Though I'm worried their response might me "Meh" and then more of the same buzzing, whirring and clicking they've been making about WoW since last December!
  %p
    None the less, I'd like to know about the
    %a{:href => "http://www.first4internet.com/"} company
    that was contracted to write the DRM stuff. They certainly smell like the kind of organisation that talks big when it comes to things like security, but could they possibly be a bunch of hacks who have made some horrible design mistakes.
  %p The opportunity to participate in DRM solutions for a company like Sony is on that would need to be dealt with in a careful and considered process. You're not just creating some pretty little apps to run on some 14 year old's 'putey, you're participating in a large scale corportate effort to control the replication and consumption of digital content.
  %p You'd have better put your thinking caps on and had a good hard thing about what you're about to embark on.
  %p Unfortunately, as demonstrated by Mark at SysInternals (a newly discovered blog, nice one) there doesn't seem to have been a great deal of forethought put into this project. None the less, I still call upon someone, anyone to write a case study, many case studies possibly, which deal with the design mistakes, the business communication response from First 4 Internet and the big fish; Sony's thinking behind engaging some backwater development company to solve one of their most pressing problems: DRM.
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong
            %a{:href => "http://www.eaves.org/blog/", :rel => "nofollow", :title => "http://www.eaves.org/blog/"} Jon Eaves
          %br/
          %small 8 November 2005
        %dd
          %p My comments.  I will never buy any media that requires me to install software to use it.  Full stop. End of story.
          %p I don't rip stuff I don't own.  Therefore Sony gets none of my cash.
          %p It is a great article, but sadly shows how crap most programmers are (and what a genius Mark is).
  


