---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: Weighing in on the Ruby Debate
post_date: 2005-11-16
next_item: /blog/2005/11/engaged.html
previous_item: /blog/2005/11/shuffling-along.html
topics: pants_off_living
...
%article.col-3-4
  %h1 Weighing in on the Ruby Debate
  %p
    Since Jonno is practically
    %a{:href => "http://www.eaves.org/blog-archive/000229.html"} inciting a riot
    among the Java / Ruby / Aglie / Oh-my-God-my-head's-so-pointy-I-could-take-someone's-eye-out folk. I thought I might lend some observations from another perspective.
  %p
    I've been following the
    %a{:href => "http://www.37signals.com/svn/"} SvN Blog
    over at 37 Signals. These guys are creating quite a stir with their applications
    %a{:href => "http://www.basecamphq.com/"} Basecamp
    and
    %a{:href => "http://www.backpackit.com/"} Backpack
    among others which use Ruby on Rails and also implement some AJAX technologies as well. They love Ruby on Rails. They are designers.
  %p Why is the fact that they are designers important? Firstly, 37 Signals is a small team of people working remotely around the globe. You could probably loosely term them an agency.
  %p From my experience, people in agency type environments like to do things quickly. Really quickly. Especially if they, as a team, have some momentum behind their ideas. This is not necessarily restricted to designers either. Programmers love to get cracking on a good idea. In any programming language, if the idea is good.
  %p
    Designers though are restricted by their toolkit. Sure there might be one or two nerdy type designers who have sussed out html / xml / css, hell even a little javascript thanks to what they've learnt using flash and studying the code of
    = succeed "." do
      %a{:href => "http://www.praystation.com/"} Joshua Davis
    But they're still designers; they haven't got the same kinda mileage as a real nerd who has been programming commercially. So their focus isn't necessarily going to be on the same kinds of things as programmers.
  %p 37 Signals have been getting excited and writing in their 'Getting Real' column, the same kinds of things that the Agile crew are excited  about when it comes to rapid software development; short release cycles, closer customer contact and better applications that end users actually want to use.
  %p
    So why is Ruby on Rails important here? Because unlike ASP.NET / C# / Java designers can learn it quickly. It is a fairly
    %em semantic
    language. This can enable them with the power to create applications and use terms like 'Object Oriented' and 'Scalable' to help promote and sell their finished products.
  %p ASP.NET just doesn't make sense. C# is wanna-be Java. These two things, make it hard for designers to turn their highly creative ideas into reality.
  %p I think that morons exist everywhere and they are both platform and language independent. For mine, I wonder whether or not Ruby on Rails is popular among some programmers because they're lazy; since this language is an 'easy way out' of learning 'grown-up' techniques.
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong
            %a{:href => "http://www.froginasock.com.au", :rel => "nofollow", :title => "http://www.froginasock.com.au"} Leigh
          %br/
          %small 24 November 2005
        %dd
          %p ...and whats wrong with being lazy?  I figure languages don't matter, whatever gets the job done quick and makes sure the code is at least relatively maintainable.  All these nutty fads will pass, and everyone will go back to programming in COBOL.
          %p (congrats on the engagement man, thats rad!)
  
%aside.col-1-4
  ~ include('/_post_meta.html.haml')
